<div class="has-direction-locale px-3 py-3 h-100 overflow-x-hidden overflow-y-auto max-height-100">

    <form id="create_appointment_dialog__centers__create_form">

        <div class="row gy-3">

            <div class="col-lg-6 col-md-6">

                <div class="mb-2">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-center-clients.template.ejs', {
                        componentId: 'create_appointment_dialog__centers__center_clients_select_component',
                        selectId: 'create_appointment_dialog__centers__center_clients__client_select',
                        options: {
                            canCreateClient: true,
                        }
                    }) -%>
                </div>

                <div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_date %></label>
					<input type="date" class="input-text input-text-outline has-text-aligned-locale" id="create_appointment_dialog__centers__date_input" >
				</div>

				<div class="">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_time %></label>
					<input type="time" step="any" class="input-text input-text-outline has-text-aligned-locale" id="create_appointment_dialog__centers__time_input">
				</div>

            </div>

            <div class="col-lg-6 col-md-6">

                <div class="mb-2">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-departments.template.ejs', {
                        componentId: 'create_appointment_dialog__centers__select_departments_component',
                        selectId: 'create_appointment_dialog__centers__department_select',
                        selectionEventName: 'create_appointment_dialog__centers:department-selected',
                        options: {
                            currentCenterOnly: true,
                        }
                    }) -%>
                </div>

                <div class="mb-2">
					<input type="text" class="input-text input-text-outline" id="create_appointment_dialog__centers__name_input">
				</div>

                <div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label28 %></label>
					<input type="number" step="any" class="input-text input-text-outline" id="create_appointment_dialog__centers__price_input">
				</div>

                <div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label27 %></label>
                    <textarea class="input-text input-text-outline" rows="4" id="create_appointment_dialog__centers__note_input"></textarea>
				</div>

            </div>

            <div class="col-lg-12 col-md-12">
                <button type="submit" class="btn btn-success d-block w-100 rounded-0">
                    <%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>
                </button>
            </div>

        </div>

    </form>

</div>