<div class="ringing-bell-dialog position-fixed d-none" id="ringing_bell_dialog">

    <div class="ringing-bell-header">

        <a href="#" class="ringing-bell-close-button" id="closeBTN"><%= UI_DISPLAY_LANG.views.pages.global.close_button %></a>

    </div>

    <div class="ringing-bell-body">

        <h1 class="display-6 has-text-centered mt-3 mb-4"><%= UI_DISPLAY_LANG.views.dialogs.ringing_bell_dialog.title %></h1>

        <form action="" id="settings_form">

            <div class="mb-2">
                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label15 %></label>
                <select name="" class="select-01" id="employee_type_select">

                </select>
            </div>

            <div class="mb-2">
                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.ringing_bell_dialog.form.label1 %></label>
                <input type="range" class="form-range" id="delay_timeout_input" data-tooltip-top="0s" min="0" max="3500" value="0">
            </div>

            <div class="mb-2">
                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.ringing_bell_dialog.form.label2 %></label>
                <input type="message" class="input-text input-text-outline" id="message_input">
            </div>

            <div>
                <input type="submit" class="btn btn-success btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
            </div>

        </form>

    </div>

    <button class="push-bell-button" id="push_bell_button">

        <img src="../assets/img/utils/bell.png" class="img-fluid" alt="">

    </button>

</div>
