<div class="container-fluid" id="addEmployeesForClinicsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_employees.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block" id="wrapper01">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<form action="#" id="addForm">
			<div class="row gx-4 gy-4">
				<div class="col-lg-12 col-md-12 col-sm-12 section">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label10 %></label>
					<select name="" class="select-01" id="clinicSelect">
				
					</select>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label01 %></label>
						<input type="text" class="input-text input-text-outline" id="nameInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label02 %></label>
						<input type="text" class="input-text input-text-outline" id="phoneInput">
					</div>		
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label03 %></label>
						<input type="text" class="input-text input-text-outline" id="addressInput">
					</div>	
					<div class="mb-2 section">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label04 %></label>
						<select name="" class="input-text" id="wilayaSelect"></select>
					</div>
					<div class="mb-2 section">
						<%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-employee-type2.template.ejs', {
                            componentId: 'select_employee_type2_component',
                            selectId: 'typeSelect',
                            options: {
                                search: {
                                    employee_type_target_center: 'CENTER'
                                }
                            }
                        }) -%>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label05 %></label>
						<input type="date" class="input-text input-text-outline" id="birthDateInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label06 %></label>
						<input type="text" class="input-text input-text-outline" id="birthPlaceInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label08 %></label>
						<input type="number" step="any" class="input-text input-text-outline" id="salaryInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label11 %></label>
						<input type="text" class="input-text input-text-outline" id="ccpInput">
					</div>			
				</div>
                <div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row gx-4 gy-4">
                        <div class="col-3">
                            <div class="mb-2">
                                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label14 %></label>
                                <input type="file" class="input-text input-text-outline" id="employee_avatar_file" accept="image/*">
                            </div>
                        </div>
                        <div class="col-3">
                            <img src="../assets/img/utils/placeholder.jpg" id="avatar_preview" class="img-03 img-thumbnail" alt="">
                        </div>
                    </div>	
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label07 %></label>
						<input type="text" class="input-text input-text-outline" id="passInput">
					</div>	
				</div>
			</div>
			<div class="">
				<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_employees.form01.submitBTN01 %>">
			</div>
		</form>
	</div>
</div>


<script>

$(async function()
{

var addEmployeesContainer = $('#addEmployeesForClinicsContainer');
if ( addEmployeesContainer[0] == undefined )
    return;

var ERROR_BOX = addEmployeesContainer.find('#ERROR_BOX');

var addForm = addEmployeesContainer.find('#addForm');
var clinicSelect = addForm.find('#clinicSelect');
var nameInput = addForm.find('#nameInput');
var phoneInput = addForm.find('#phoneInput');
var addressInput = addForm.find('#addressInput');
var wilayaSelect = addForm.find('#wilayaSelect');
var typeSelect = addForm.find('#typeSelect');
var birthDateInput = addForm.find('#birthDateInput');
var birthPlaceInput = addForm.find('#birthPlaceInput');
var salaryInput = addForm.find('#salaryInput');
var passInput = addForm.find('#passInput');
var ccpInput = addForm.find('#ccpInput');
var employee_avatar_file = addForm.find('#employee_avatar_file')
var avatar_preview = addForm.find('#avatar_preview')

var wrapper01 = addEmployeesContainer.find('#wrapper01');

var EmployeeObject = {
    employee_id: sessionData(true).employee_id,
    employee_avatar: null,
};

// addForm submit
addForm.off('submit');
addForm.on('submit', e =>
{
    e.preventDefault();
    var target = addForm;
    EmployeeObject.administration_id = clinicSelect.find(':selected').val();
    EmployeeObject.administration_name = clinicSelect.find(':selected').text();
    EmployeeObject.employee_name = nameInput.val();
    EmployeeObject.employee_phone = phoneInput.val();
    EmployeeObject.employee_pass = passInput.val();
    EmployeeObject.employee_address = addressInput.val();
    EmployeeObject.employee_state = wilayaSelect.find(':selected').val();
    EmployeeObject.employee_type_id = typeSelect.find(':selected').val();
    EmployeeObject.employee_birthplace = birthPlaceInput.val();
    EmployeeObject.employee_birthdate = birthDateInput.val();
    EmployeeObject.employee_salary = salaryInput.val();
    EmployeeObject.employee_administration = '';
    EmployeeObject.employee_ccp = ccpInput.val();
    // display loader
    SectionLoader(wrapper01);
    //update
    if ( EmployeeObject.employee_id != null )
    {
        EMPLOYEE_MODEL.update(EmployeeObject).then(response =>
        {
            // hide loader
            SectionLoader(wrapper01, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            //
            target[0].reset();
            EmployeeObject.employee_id = null;

        });
        return;
    }
    // add
    EMPLOYEE_MODEL.store(EmployeeObject).then(response =>
    {
        // hide loader
        SectionLoader(wrapper01, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
            target[0].reset();
    });
});
// select avatar
employee_avatar_file.on('change', async e =>
{
    if ( employee_avatar_file[0].files.length == 0 ) return

    EmployeeObject.employee_avatar = await imageToDataURL(employee_avatar_file[0].files[0])
    previewAvatar()
})
// list states
// display loader
SectionLoader(wilayaSelect.closest('.section'));
var response = await getAllStates();
// hide loader
SectionLoader(wilayaSelect.closest('.section'), '');
if ( response.code == 200 )
{
    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        html += `<option value="${v.wilaya_name}">${v.wilaya_name}</option>`;
    });
    wilayaSelect.html(html);
    setOptionSelected(wilayaSelect, USER_CONFIG.managerState);
}
// list employees types

// search clinics
// display loader
SectionLoader(clinicSelect.closest('.section'));
var clinics = await CLINIC_MODEL.search('');
// hide loader
SectionLoader(clinicSelect.closest('.section'), '');
if ( response.code == 200 )
{
    var data = clinics.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
    });
    // add html
    clinicSelect.html(html);	
}
// employeed info
displayOne();
async function displayOne()
{
    if ( EmployeeObject.employee_id == null )
        return;

    // display loader
    SectionLoader(wrapper01);
    var response = await EMPLOYEE_MODEL.show(EmployeeObject.employee_id);
    // hide loader
    SectionLoader(wrapper01, '');
    var data = response.data;
    nameInput.val(data.employee_name);
    phoneInput.val(data.employee_phone);
    passInput.val(data.employee_pass);
    addressInput.val(data.employee_address);
    setOptionSelected(wilayaSelect, data.employee_state);
    setOptionSelected(typeSelect, data.employee_type_id);
    setOptionSelected(clinicSelect, data.administration_id);
    birthPlaceInput.val(data.employee_birthplace);
    birthDateInput.val(data.employee_birthdate);
    salaryInput.val(data.employee_salary);
    ccpInput.val( data.employee_ccp );
    EmployeeObject.employee_avatar = data.employee_avatar
    previewAvatar()
}
// preview avatar
function previewAvatar()
{
    avatar_preview.attr('src', EmployeeObject.employee_avatar)
}

})

</script>