<div class="container-fluid" id="sentMessagesContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.sent.sectionTitle %></h1>
	</div>
	<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="contentsWrapper">
		<div class="table-nav">
			<div class="mb-2">
				<div class="form-field-01">
					<div class="form-field-icon-holder" id="searchBTN">
						<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
					</div>
					<div class="form-field-input-holder">
						<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.sent.ph01 %>">
					</div>
				</div>
			</div>
			<ul class="list-02 border-bottom py-1" id="msgOptionsList">
				<li class="list-item">
					<a href="#" class="list-item-link" data-tooltip-top="<%= UI_DISPLAY_LANG.views.pages.sent.ttip01 %>" data-role="DELETE">
						<span class="no-pointer">
							<i class="fas fa-trash"></i>
						</span>
					</a>
				</li>
				<li class="list-item">
					<a href="#" class="list-item-link" data-tooltip-top="<%= UI_DISPLAY_LANG.views.pages.sent.ttip02 %>" data-role="MARK_AS_READ">
						<span class="no-pointer">
							<i class="fas fa-envelope-open"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="list-03" id="tableElement">
			<!--
			<div class="list-item text-03">
				<div style="width:4%;">
					<input type="checkbox" class="form-check-input" data-role="CHECK" data-msgid="">
				</div>
				<div class="no-pointer" style="flex-grow:1;width:15%;">
					<span class="">Stack Overflow</span>
				</div>
				<div class="no-pointer" style="flex-grow:2;">
					<span class="d-inline-block">
						The Overflow #131: Run microservices in no-fail mode
					</span>
					<span class="d-inline-block text-muted">
						It is a long established fact that a reader will be distracted by the readable content of a page when 
					</span>
				</div>
			</div>
			-->
		</div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="msgContentsWrapper" style="display:none;">
		<div id="messageDiv" class="p-4 mb-3 bg-light">
			<!--
			<div class="row gx-2 gy-1 mb-2">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<span class="text-01">${v.patientName}</span>
				</div>
				<div class="col-lg-12 col-md-12">
					<div class="text-muted">0673479803</div>
				</div>
				<div class="col-lg-12 col-md-12">
					<div class="text-muted">2022-05-15 | 05:23:30</div>
				</div>
			</div>
			<div class="text-02">
				${v.replyText}
			</div>
			-->
		</div>
		<div id="attachmentsDiv" class="mb-3 p-3 row gx-2 gy-2">
			<!--
			<div class="col-lg-2 col-md-2 col-sm-6 rounded border p-2 mx-2">
				<div>
					<a href="#" class="text-dark text-04 no-link">
						filename.jpg
						<i class="fas fa-eye no-pointer"></i>
					</a>
				</div>
				<div>
					<a href="#" class="text-dark text-04 no-link">
						<i class="fas fa-download no-pointer"></i>
					</a>
				</div>
			</div>
			-->
		</div>
		<div style="max-width:400px;">
			<button class="btn btn-light btn-sm" id="backBTN">
				<span><i class="fas fa-arrow-left"></i></span>
			</button>
			<form action="#" id="addReplyForm">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.sent.form01.label01 %></label>
				<textarea id="replyTextInput" class="input-text input-text-outline" rows="5" placeholder="<%= UI_DISPLAY_LANG.views.pages.sent.form01.ph01 %>"></textarea>
				<div class="p-2 border-top d-flex">
					<div class="" style="flex-grow: 1;">
						<button class="btn btn-primary btn-sm" type="submit"><%= UI_DISPLAY_LANG.views.pages.sent.form01.submitBTN01 %></button>
					</div>
					<div class="" style="flex-grow: 1;">
						<div class="text-03"><%= UI_DISPLAY_LANG.views.pages.sent.form01.text01 %> <span id="repliesCount" class="badge bg-light text-dark">(0)</span></div>
					</div>
				</div>
			</form>
		</div>
		<div id="pagination2" class="my-3 flex flex-center"></div>
		<div id="repliesDiv" class="row gy-4">
			<!--
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row gx-2 gy-1 mb-2">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<span class="text-01">${v.patientName}</span>
					</div>
					<div class="col-lg-12 col-md-12">
						<div class="text-muted">0673479803</div>
					</div>
					<div class="col-lg-12 col-md-12">
						<div class="text-muted">2022-05-15 | 05:23:30</div>
					</div>
				</div>
				<div class="text-02">
					${v.replyText}
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var sentMessagesContainer = $('#sentMessagesContainer');
if ( sentMessagesContainer[0] == undefined )
    return;

var ERROR_BOX = sentMessagesContainer.find('#ERROR_BOX');
var searchBTN = sentMessagesContainer.find('#searchBTN');
var searchInput = sentMessagesContainer.find('#searchInput');
var msgOptionsList = sentMessagesContainer.find('#msgOptionsList');
var pagination = sentMessagesContainer.find('#pagination');
var tableElement = sentMessagesContainer.find('#tableElement');

var contentsWrapper = sentMessagesContainer.find('#contentsWrapper');
var msgContentsWrapper = sentMessagesContainer.find('#msgContentsWrapper');
var messageDiv = msgContentsWrapper.find('#messageDiv');
var attachmentsDiv = msgContentsWrapper.find('#attachmentsDiv');
var backBTN = msgContentsWrapper.find('#backBTN');
var addReplyForm = msgContentsWrapper.find('#addReplyForm');
var replyTextInput = addReplyForm.find('#replyTextInput');
var repliesCount = addReplyForm.find('#repliesCount');
var pagination2 = msgContentsWrapper.find('#pagination2');
var repliesDiv = msgContentsWrapper.find('#repliesDiv');

// msgOptionsList click
msgOptionsList.off('click');
msgOptionsList.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'MARK_AS_READ' )
    {
        var data = {
            list: getSelectedRows(),
            read: true,
            userHash: USER_CONFIG.administration.clinicHash
        };
        MESSAGE_MODEL.batchSetRead(data).then(response =>
        {
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                return;
            }
            // display messages
            displayMessages();
        });
    }
    else if ( target.data('role') == 'DELETE' )
    {
        PromptConfirmDialog().then(c =>
        {
            // display loader
            if ( FUI_DISPLAY_LANG.lang == 'ar' )
                TopLoader("حذف الرسائل...");
            else if ( FUI_DISPLAY_LANG.lang == 'fr' )
                TopLoader("supprimer les messages...");

            MESSAGE_MODEL.batchDelete(getSelectedRows()).then(response =>
            {
                // hide loader
                TopLoader('', false);
                if ( response.code == 404 )
                {
                    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                    return;
                }
                // display messages
                displayMessages();
            });
        });
    }
});
// add reply
addReplyForm.off('submit');
addReplyForm.on('submit', e =>
{
    e.preventDefault();
    var target = addReplyForm;
    var msgId = target.data('msgid');
    var MessageObject = {
        msgId: msgId,
        userHash: USER_CONFIG.administration.clinicHash,
        replyText: replyTextInput.val()
    };
    // display loader
    SectionLoader(addReplyForm);
    MESSAGE_MODEL.reply(MessageObject).then(response =>
    {
        // hide loader
        SectionLoader(addReplyForm, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }

        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        // reset
        target[0].reset();
        //
        displayMsgReplies(msgId);
    });
});
// back to messages
backBTN.off('click');
backBTN.on('click', e =>
{
    contentsWrapper.slideDown(200).siblings('.WRAPPER').slideUp(200);
    displayMessages();
});
//tableElement click
tableElement.off('click');
tableElement.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'CHECK' )
    {
        var parent = target.closest('[data-role="ROW"]');
        toggleCheck(target);
        if ( target.is(':checked') )
            parent.addClass('selected');
        else
            parent.removeClass('selected');
    }
    else if ( target.data('role') == 'ROW' )
    {
        var msgId = target.data('msgid');
        addReplyForm.data('msgid', msgId).attr('data-msgid', msgId);
        //
        msgContentsWrapper.slideDown(200).siblings('.WRAPPER').slideUp(200);
        displayMsgReplies(msgId);
    }
});
// attachmentsDiv click
attachmentsDiv.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'PREVIEW_DOC' )
    {
        e.preventDefault();

        PreviewFileDialog({
            url: target.data('url')
        });
    }
});
// search messages
searchBTN.off('click');
searchBTN.on('click', e =>
{
    displayMessages();
});
searchInput.off('keyup');
searchInput.on('keyup', async e =>
{
    var SearchObject = {
        userHash: USER_CONFIG.administration.clinicHash,
        folder: 'sent',
        query: searchInput.val(),
        part: []
    };
    // display loader
    SectionLoader(tableElement);
    var response = await MESSAGE_MODEL.search(SearchObject);
    // hide loader
    SectionLoader(tableElement, '');
    // clear html
    tableElement.html('');
    if ( response.code == 404 )
    {
        tableElement.html(`<div class="list-item text-03 mb-1">
                                <div style="width:4%;">
                                    <input type="checkbox" class="form-check-input" data-role="CHECK" data-msgid="">
                                </div>
                                <div class="no-pointer" style="flex-grow:1;width:15%;">
                                    <span class="">${response.message}</span>
                                </div>
                                <div class="no-pointer" style="flex-grow:2;">
                                    <span class="d-inline-block">
                                        
                                    </span>
                                    <span class="d-inline-block text-muted">
                                        
                                    </span>
                                </div>
                            </div>`);
        return;
    }

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        var isReadText = (v.isRead == 1) ? 'opacity-5' : '';
        var bodySnippet = '';
        if ( v.msgBody.length > 40 )
            bodySnippet = v.msgBody.substr(10, 25)+'...';
        html += `<div class="list-item text-03 mb-1 ${isReadText}" data-role="ROW" data-msgid="${v.msgId}">
                    <div style="width:4%;">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-msgid="${v.msgId}">
                    </div>
                    <div class="no-pointer" style="flex-grow:1;width:15%;">
                        <span class="">${v.msgSubject.substr(0,20)}...</span>
                    </div>
                    <div class="no-pointer" style="flex-grow:2;">
                        <span class="d-inline-block">
                            ${v.msgBody.substr(0,50)} - 
                        </span>
                        <span class="d-inline-block text-muted">
                            ${bodySnippet}
                        </span>
                    </div>
                </div>PAG_SEP`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement, options);
});
// display messages
displayMessages();
function displayMessages()
{
    searchInput.trigger('keyup');
}
// display msg replies
function displayMsgReplies(msgId)
{
    var MessageObject = {
        msgId: msgId,
        folder: 'sent',
        part: ['replies'],
        read: true,
        userHash: USER_CONFIG.administration.clinicHash
    };
    // display loader
    SectionLoader(msgContentsWrapper);
    MESSAGE_MODEL.open(MessageObject).then(response =>
    {
        // hide loader
        SectionLoader(msgContentsWrapper, '');
        // clear html
        repliesDiv.html('');
        attachmentsDiv.html('');
        // add total replies
        var repliesTotal = 0;
        if ( response.data )
        {
            if ( response.data.replies )
                repliesTotal = response.data.replies.length
        }
        repliesCount.text('('+repliesTotal+')');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }

        var data = response.data;
        var html = '';
        // display message
        messageDiv.html(`<div class="row gx-2 gy-1 mb-2">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <span class="text-01">${data.senderName}</span>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="text-muted">${data.senderPhone}</div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="text-muted">${data.msgDate} | ${data.msgTime}</div>
                            </div>
                        </div>
                        <div class="title-medium">
                            ${data.msgSubject}
                        </div>
                        <div class="text-02">
                            ${data.msgBody}
                        </div>`);
        // display replies
        if ( data.replies )
        {
            $.each(data.replies, (k,v) =>
            {
                html += `<div class="col-lg-12 col-md-12 col-sm-12 p-2 border rounded">
                            <div class="row gx-2 gy-1 mb-2">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <span class="text-01">${v.replier.replierName}</span>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-muted">${v.replier.replierPhone}</div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-muted">${v.replyDate} | ${v.replyTime}</div>
                                </div>
                            </div>
                            <div class="text-02">
                                ${v.replyText}
                            </div>
                        </div>PAG_SEP`;
            });	
        }
        // display attachments
        if ( data.attachments )
        {
            var attachmentsHTML = '';
            $.each(data.attachments, (k,v) =>
            {
                var attachment_url = JSON.parse(v.file_object).url
                var attachment_preview_url = `<a href="${attachment_url}" class="text-dark text-04 no-link" data-role="PREVIEW_DOC"  data-url="${attachment_url}">
                                                                        <i class="fas fa-eye no-pointer"></i>
                                                                    </a>`
                if ( isImageFile(attachment_url) )
                {
                    attachment_preview_url = `<img src="${attachment_url}"  data-role="PREVIEW_DOC" data-url="${attachment_url}" class="img-fluid img-thumbnail cursor-pointer pointer">`
                }
                // console.log(isImageFile(attachment_url))
                attachmentsHTML += `<div class="col-lg-2 col-md-2 p-2 mx-2 text-center">
                                        <div class="mb-2">
                                            ${attachment_preview_url}
                                        </div>
                                        <div>
                                            <a href="${attachment_url}" download="${path.basename(attachment_url)}" class="fs-17 no-link">
                                                ${FUI_DISPLAY_LANG.views.pages.global.download_file_btn}
                                            </a>
                                        </div>
                                    </div>`;
            });
            attachmentsDiv.html(attachmentsHTML);
        }
        repliesDiv.html(html);
    });
}
// get select rows
function getSelectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({msgId: check.data('msgid')});
    }

    return list;
}

})

</script>