<div class="container-fluid" id="revenueAndAccumulationContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="app-block my-3 d-none">
		<div class="form-field-01">
			<div class="form-field-input-holder">
				<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.label02 %></div>
				<input type="date" id="dateInput" class="form-field-input">
			</div>
		</div>
	</div>
	<div class="app-block mt-2">
		<div class="mb-2 section">
			<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.label01 %></label>
			<select name="" class="select-01" id="clinicSelect">
			
			</select>
		</div>
	</div>
	<div class="mt-2 row gx-4 gy-3">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="row gx-2 gy-2">
				<div class="col-lg col-md col-sm-12">
					<div class="d-flex flex-center">
						<div class="stat-2 stat-2-striped" id="todayStatDiv" data-perm="today_revenue_and_accumulations_statistics">
							<div class="text-01 text-white text-center mb-3">
								<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text01 %>
							</div>
							<div class="stat-details row gx-2 gy-2">
								<div class="col">
									<span class="stat-detail-icon"><i class="fas fa-dollar-sign"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text02 %>
									</span>
									<div class="text-04 text-white" id="revenueValue">0</div>
								</div>
								<div class="col">
									<span class="stat-detail-icon"><i class="fas fa-shopping-cart"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text03 %>
									</span>
									<div class="text-04 text-white" id="ordersValue">0</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row gx-2 gy-2 mt-3">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="d-flex flex-center">
						<div class="stat-2" id="yesterdayStatDiv" data-perm="yesterday_revenue_and_accumulations_statistics">
							<div class="stat-icon-bg">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<div class="text-01 text-white text-center mb-3">
								<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text04 %>
							</div>
							<div class="stat-details">
								<div class="mb-2">
									<span class="stat-detail-icon"><i class="fas fa-dollar-sign"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text02 %>
									</span>
									<div class="text-04 text-white" id="revenueValue">0</div>
								</div>
								<div class="">
									<span class="stat-detail-icon"><i class="fas fa-shopping-cart"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text03 %>
									</span>
									<div class="text-04 text-white" id="ordersValue">0</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="d-flex flex-center">
						<div class="stat-2" style="background: #d79533;" id="currentWeekStatDiv" data-perm="current_week_revenue_and_accumulations_statistics">
							<div class="stat-icon-bg">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<div class="text-01 text-white text-center mb-3">
								<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text05 %>
							</div>
							<div class="stat-details">
								<div class="mb-2">
									<span class="stat-detail-icon"><i class="fas fa-dollar-sign"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text02 %>
									</span>
									<div class="text-04 text-white" id="revenueValue">0</div>
								</div>
								<div class="">
									<span class="stat-detail-icon"><i class="fas fa-shopping-cart"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text03 %>
									</span>
									<div class="text-04 text-white" id="ordersValue">0</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row gx-2 gy-2 mt-3">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="d-flex flex-center">
						<div class="stat-2" style="background:#6abb38;" id="currentMonthStatDiv" data-perm="current_week_revenue_and_accumulations_statistics">
							<div class="stat-icon-bg">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<div class="text-01 text-white text-center mb-3">
								<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text06 %>
							</div>
							<div class="stat-details">
								<div class="mb-2">
									<span class="stat-detail-icon"><i class="fas fa-dollar-sign"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text02 %>
									</span>
									<div class="text-04 text-white" id="revenueValue">0</div>
								</div>
								<div class="">
									<span class="stat-detail-icon"><i class="fas fa-shopping-cart"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text03 %>
									</span>
									<div class="text-04 text-white" id="ordersValue">0</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="d-flex flex-center">
						<div class="stat-2" style="background: #b9273b;" id="currentYearStatDiv" data-perm="current_year_revenue_and_accumulations_statistics">
							<div class="stat-icon-bg">
								<i class="fas fa-dollar-sign"></i>
							</div>
							<div class="text-01 text-white text-center mb-3">
								<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text07 %>
							</div>
							<div class="stat-details">
								<div class="mb-2">
									<span class="stat-detail-icon"><i class="fas fa-dollar-sign"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text02 %>
									</span>
									<div class="text-04 text-white" id="revenueValue">0</div>
								</div>
								<div class="">
									<span class="stat-detail-icon"><i class="fas fa-shopping-cart"></i></span>
									<span class="stat-detail-text mb-2">
										<%= UI_DISPLAY_LANG.views.pages.revenue_and_accumulation.text03 %>
									</span>
									<div class="text-04 text-white" id="ordersValue">0</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="row gx-3 gy-3">
				<div class="col-md-12 col-sm-12 app-block" data-perm="current_year_store_bought_items_chart_revenue_and_accumulations_statistics">
					<canvas id="chartEl01" class=""></canvas>
				</div>
				<div class="col-md-12 col-sm-12 app-block" data-perm="current_year_revenue_chart_revenue_and_accumulations_statistics">
					<canvas id="chartEl02" class=""></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(async function()
{

var revenueAndAccumulationContainer = $('#revenueAndAccumulationContainer');
if ( revenueAndAccumulationContainer[0] == undefined )
    return;

var ERROR_BOX = revenueAndAccumulationContainer.find('#ERROR_BOX');

var clinicSelect = revenueAndAccumulationContainer.find('#clinicSelect');
var currency = (FUI_DISPLAY_LANG.lang == 'ar') ? CURRENCY.ar : CURRENCY.fr;

var todayStatDiv = revenueAndAccumulationContainer.find('#todayStatDiv');
var yesterdayStatDiv = revenueAndAccumulationContainer.find('#yesterdayStatDiv');
var currentWeekStatDiv = revenueAndAccumulationContainer.find('#currentWeekStatDiv');
var currentMonthStatDiv = revenueAndAccumulationContainer.find('#currentMonthStatDiv');
var currentYearStatDiv = revenueAndAccumulationContainer.find('#currentYearStatDiv');

var chartEl01 = revenueAndAccumulationContainer.find('#chartEl01');
var chartEl02 = revenueAndAccumulationContainer.find('#chartEl02');

let chart01 = null;
let chart02 = null;
// list clinics
SectionLoader(clinicSelect.closest('.section'));
var response = await searchClinics('');
SectionLoader(clinicSelect.closest('.section'), '');
if ( response.code == 200 )
{
    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
    });
    clinicSelect.append(html);	
}

// select clinic
clinicSelect.off('change');
clinicSelect.on('change', e =>
{
    displayInfo();
});
//
displayInfo();
async function displayInfo()
{
    // loaders
    SectionLoader(todayStatDiv);
    SectionLoader(yesterdayStatDiv);
    SectionLoader(currentWeekStatDiv);
    SectionLoader(currentMonthStatDiv);
    SectionLoader(currentYearStatDiv);

    // today revenue and accumu
    var treasury = await listAllTreasuryInfoLocal({
        clinicId: clinicSelect.find(':selected').val()
    });

    if ( treasury.code == 200 )
    {
        var data = treasury.data;

        var expenses_in = data.expenses.today.in;

        todayStatDiv.find('#revenueValue')
        .text( parseFloat(expenses_in).toFixed(2)+ ' '+currency );
    }

    var orders = await listOrdersLocal({
        clinicId: clinicSelect.find(':selected').val()
    });

    if ( orders.code == 200 )
    {
        var data = orders.data;

        var total = data.stats.today.length;

        todayStatDiv.find('#ordersValue')
        .text( total );
    }
    
    // yesterday revenue and accumu
    if ( treasury.code == 200 )
    {
        var data = treasury.data;

        var expenses_in = data.expenses.yesterday.in;

        yesterdayStatDiv.find('#revenueValue')
        .text( parseFloat(expenses_in).toFixed(2)+ ' '+currency );
    }

    if ( orders.code == 200 )
    {
        var data = orders.data;

        var total = data.stats.yesterday.length;

        yesterdayStatDiv.find('#ordersValue')
        .text( total );
    }

    // current week revenue and accumu
    if ( treasury.code == 200 )
    {
        var data = treasury.data;

        var expenses_in = data.expenses.current_week.in;

        currentWeekStatDiv.find('#revenueValue')
        .text( parseFloat(expenses_in).toFixed(2)+ ' '+currency );
    }

    if ( orders.code == 200 )
    {
        var data = orders.data;

        var total = data.stats.current_week.length;

        currentWeekStatDiv.find('#ordersValue')
        .text( total );
    }

    // current month revenue and accumu
    if ( treasury.code == 200 )
    {
        var data = treasury.data;

        var expenses_in = data.expenses.current_month.in;

        currentMonthStatDiv.find('#revenueValue')
        .text( parseFloat(expenses_in).toFixed(2)+ ' '+currency );
    }

    if ( orders.code == 200 )
    {
        var data = orders.data;

        var total = data.stats.current_month.length;

        currentMonthStatDiv.find('#ordersValue')
        .text( total );
    }

    // current year revenue and accumu
    if ( treasury.code == 200 )
    {
        var data = treasury.data;

        var expenses_in = data.expenses.current_year.in;

        currentYearStatDiv.find('#revenueValue')
        .text( parseFloat(expenses_in).toFixed(2)+ ' '+currency );
    }

    if ( orders.code == 200 )
    {
        var data = orders.data;

        var total = data.stats.current_year.length;

        currentYearStatDiv.find('#ordersValue')
        .text( total );
    }

    // charts
    // revenue
    if ( treasury.code == 200 )
    {
        var data = treasury.data;
        var expenses = data.expenses;
        // loop data
        var labels = [];
        var fdata = [];
        for (var i = 0; i < expenses.currentYearStats.chart.length; i++) 
        {
            var v = expenses.currentYearStats.chart[i];
            // add months
            labels.push( translateMonthName(v.date) );
            // add data
            fdata.push(v.total);
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            const ctx = chartEl02[0].getContext('2d');
            if ( chart02 )
                chart02.destroy();
            chart02 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: 'مجموع الايرادات'+ ' ('+currency+')',
                        data: fdata,
                        backgroundColor: [
                            'rgba(89, 179, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(153, 255, 51, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: true,
                            textDirection: 'rtl'
                        },
                        title: {
                            text: "تحليل الايرادات خلال اشهر السنة",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            const ctx = chartEl02[0].getContext('2d');
            if ( chart02 )
                chart02.destroy();
            chart02 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: "revenu total"+ ' ('+currency+')',
                        data: fdata,
                        backgroundColor: [
                            'rgba(89, 179, 0, 0.2)'
                        ],
                        borderColor: [
                            'rgba(153, 255, 51, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: false,
                            textDirection: 'ltr'
                        },
                        title: {
                            text: "Analyse des revenus au cours des mois de l'année",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
    }
    // orders
    if ( orders.code == 200 )
    {
        var data = orders.data;
        // loop data
        var labels = [];
        var fdata = [];
        for (var i = 0; i < data.currentYearStats.length; i++) 
        {
            var v = data.currentYearStats[i];
            // add months
            labels.push( translateMonthName(v.date) );
            // add data
            fdata.push(v.total);
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            const ctx = chartEl01[0].getContext('2d');
            if ( chart01 )
                chart01.destroy();
            chart01 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: 'عدد الطلبات',
                        data: fdata,
                        backgroundColor: [
                            'rgba(255, 51, 133, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 51, 133, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: true,
                            textDirection: 'rtl'
                        },
                        title: {
                            text: "تحليل طلبات شراء المنتجات خلال اشهر السنة",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            const ctx = chartEl01[0].getContext('2d');
            if ( chart01 )
                chart01.destroy();
            chart01 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: "عدد الطلبات",
                        data: fdata,
                        backgroundColor: [
                            'rgba(109, 157, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(109, 157, 255, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: false,
                            textDirection: 'ltr'
                        },
                        title: {
                            text: "Analyse des demandes d'achat de produits au cours des mois de l'année",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
    }

    // hide loaders
    SectionLoader(todayStatDiv, '');
    SectionLoader(yesterdayStatDiv, '');
    SectionLoader(currentWeekStatDiv, '');
    SectionLoader(currentMonthStatDiv, '');
    SectionLoader(currentYearStatDiv, '');
}

})

</script>