<div class="container-fluid" id="create_chat_group_patients_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.send_message.sectionTitle %></h1>
	</div>

    <div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
        <img src="assets/img/utils/info.png" class="alert-icon" alt="">
        <div class="alert-text" id="text"></div>
    </div>

	<div class="mt-3">
		
        <form action="#" id="create_form">
			
            <div class="row">

                <div class="col-lg-4 col-md-6" data-perm="create_chat_group_patients">

                    <div class="app-block">

                        <div class="mb-2">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-chat-groups.template.ejs`, {
                                eventsReceiverId: 'create_chat_group_patients_container',
                                selectId: "chat_group_select",
                            }) -%>
                        </div>

                        <div class="">
                            <input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
                        </div>

                    </div>
                    
                </div>

                <div class="col-lg col-md" data-perm="view_chat_group_patients">

                    <div class="app-block">

                        <div class="table-nav">

                            <div class="row gx-4 gy-4">
        
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                                        searchBtnId: 'search_btn',
                                        searchInputId: 'search_input',
                                    }) -%>
                                </div>

                                <div class="col-lg col-md col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-centers.template.ejs`, {
                                        eventsReceiverId: 'create_chat_group_patients_container',
                                        selectId: "center_select"
                                    }) -%>
                                </div>
        
                            </div>
        
                        </div>

                        <div id="pagination" class="my-3 flex flex-center"></div>

                        <div class="utable shadowed" id="table_element">
                            <div class="thead">
                                <div class="td">#</div>
                                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th16 %></div>
                                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th12 %></div>
                            </div>
                            <div class="tbody">
                                <!--
                                <div class="tr">
                                    <div class="td">
                                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-classid="">
                                    </div>
                                    <div class="td">clinicname</div>
                                    <div class="td">classname</div>
                                </div>
                                -->
                            </div>
                        </div>

                    </div>

                </div>

            </div>

		</form>

	</div>
</div>

<script>

$(function()
{

var page_container = $('#create_chat_group_patients_container')

if ( page_container[0] == undefined ) return

var ERROR_BOX = page_container.find('#ERROR_BOX')

var create_form = page_container.find('#create_form')
var name_input = create_form.find('#name_input')
var description_input = create_form.find('#description_input')

var pagination = page_container.find('#pagination')
var table_element = page_container.find('#table_element')

var search_input = page_container.find('#search_input')
var search_btn = page_container.find('#search_btn')

var chat_group_select = page_container.find('#chat_group_select')
var center_select = page_container.find('#center_select')

var ChatObject = {
    clients: []
}

create_form.on('submit', async e =>
{
    e.preventDefault()
    var target = create_form

    ChatObject.clients = selectedClients()

    SectionLoader(target)
    var res = await CHAT_MODEL.group_patient_batchStore(ChatObject)
    SectionLoader(target, '')

    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
    
    if (res.code == 404) return

    target[0].reset()

    chat_group_select.trigger('change')
})
// table_element
table_element.on('click', async e =>
{
    var target = $(e.target)

    if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="row"]')
        
        parent.addClass('disabled')
        var res = await CHAT_MODEL.group_show({
            id: parent.data('id')
        })
        parent.removeClass('disabled')
        if ( res.code == 404 ) return

        ChatObject = res.data
        displayInfo()
    }
})
// search
search_btn.on('click', e =>
{
    displayAll({
        method_type: 'searchLocal',
        clinicId: center_select.find(':selected').val(),
        query: search_input.val(),
    })
})
search_input.on('keyup', e =>
{
    displayAll({
        method_type: 'searchLocal',
        clinicId: center_select.find(':selected').val(),
        query: search_input.val(),
    })
})
center_select.on('change', e =>
{
    displayAll({
        method_type: 'searchLocal',
        clinicId: center_select.find(':selected').val(),
        query: search_input.val(),
    })
})
chat_group_select.on('change', async e =>
{
    var selected = chat_group_select.find(':selected')

    chat_group_select.addClass('disabled')
    var res = await CHAT_MODEL.group_show({
        id: selected.val()
    })
    chat_group_select.removeClass('disabled')

    ChatObject = res.data

    displayAll({
        method_type: 'searchLocal',
        clinicId: center_select.find(':selected').val(),
        query: search_input.val(),
    })
})

// center-selected
$(document).off('center-selected').on('center-selected', e =>
{
    var detail = e.originalEvent.detail

    setOptionSelected(center_select, 4)

    displayAll({
        method_type: 'searchLocal',
        clinicId: center_select.find(':selected').val(),
        query: search_input.val(),
    })
})
// chat-group-selected
var chat_group_selected_is_first_init = true
$(document).off('chat-group-selected').on('chat-group-selected', async e =>
{
    var detail = e.originalEvent.detail

    if ( chat_group_selected_is_first_init )
    {
        chat_group_selected_is_first_init = false
        setOptionSelected(chat_group_select, chat_group_select.children().first().next().val() )
    }

    chat_group_select.trigger('change')
})
// display all
async function displayAll(params)
{
    table_element.find('.tbody').html('')
    if ( params.method_type == 'searchLocal' )
        var res = await PATIENT_MODEL.searchLocal(params)

    if ( res.code == 404 ) return

    var data = res.data
    var html = ''
    $.each(data, (k,v) =>
    {
        var checked = ''
        for (let i = 0; i < ChatObject.clients.length; i++) 
        {
            const row = ChatObject.clients[i]
        
            if ( v.patientId == row.patientId )
                checked = 'checked'
        }

        html += `<div class="tr" data-role="row" data-patient-id="${v.patientId}" data-patient-name="${v.patientName}" data-patient-phone="${v.patientPhone}">
                    <div class="td">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" ${checked}>
                    </div>
                    <div class="td">
                        <div class="mb-2">${ v.patientName }</div>
                        <div class="">(${v.patientPhone})</div>
                    </div>
                    <div class="td">
                        <div class="">${ v.clinicName }</div>
                    </div>
                </div>PAG_SEP`
    })

    new SmoothPagination(pagination, table_element.find('.tbody'), {
        data: html.split('PAG_SEP')
    })
}

// selected targets
function selectedClients()
{
    var list = []

    var items = table_element.find('[data-role="row"]')

    for (let i = 0; i < items.length; i++) 
    {
        const parent = $(items[i])
        const check = parent.find('[data-role="CHECK"]')

        if ( check.is(':checked') )
        {
            list.push({
                group_id: chat_group_select.find(':selected').val(),
                group_name: chat_group_select.find(':selected').text(),
                patientId: parent.data('patient-id'),
                patientName: parent.data('patient-name'),
                patientPhone: parent.data('patient-phone'),
            })
        }
    }

    return list
}

})

</script>