<div class="container-fluid" id="statisticsContainer">
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="app-block my-3 section">
		<label for="" class="form-label">
			<%= UI_DISPLAY_LANG.views.pages.statistics.label01 %>
		</label>
		<div class="form-field-01">
			<div class="form-field-icon-holder" id="searchBTN">
				<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
			</div>
			<div class="form-field-input-holder mb-2 mt-1 border-0">
				<input type="text" id="searchClinicsInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.statistics.ph01 %>">
			</div>
		</div>
		<select name="" class="select-01" id="clinicSelect">
			
		</select>
	</div>
	<div class="mt-3">
		<div class="row gx-4 gy-4">
			<div class="col-lg-12 col-md-12 col-sm-12 app-block">
				<div class="row gx-2 gy-3">
					<div class="col-md-4">
						<div id="calendarDiv" dir="ltr"></div>
						<div id="allStats1" class="mt-5 app-block d-inline-flex w-100" style="flex-direction: column;">
							<!--
							<div class="mb-1">
								<span class="text-04 text-muted">(0)</span>
								<span class="text-03">مرضى</span>
							</div>
							<div class="mb-1">
								<span class="text-04 text-muted">(5)</span>
								<span class="text-03">منتجات</span>
							</div>
							<div class="mb-1">
								<span class="text-04 text-muted">(1)</span>
								<span class="text-03">طلبات</span>
							</div>
							-->
						</div>
					</div>
					<div class="col-md">
						<div class="row gx-2 gy-2 h-100 my-0">
							<div class="col-md-6 col-sm-12 mt-0">
								<div class="stat-1" id="treasuryStat">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/utils/money-safe.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text01 %></div>
									</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount" data-tooletip-top="">0.00 <span class="currency"> <%= UI_DISPLAY_LANG.views.pages.statistics.currency %></span></div>
										<div class="stat-amount-tooltip" id="statAmountTooltip"></div>
									</div>
									<div class="text-04"><%= UI_DISPLAY_LANG.views.pages.statistics.text13 %></div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text14 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text15 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 mt-0">
								<div class="stat-1" id="appointmentsStat" style="background-color: #EDF3FA;box-shadow: 0 2px 5px #dce9f7f5;">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/navbar/timetable.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text05 %></div>
									</div>
									<div class="text-04"><%= UI_DISPLAY_LANG.views.pages.statistics.text09 %></div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="text-04"><%= UI_DISPLAY_LANG.views.pages.statistics.text10 %></div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount3" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip3"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount4" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip4"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="stat-1" id="patientsStat" style="background-color: #e8e1fd8a;box-shadow: 0 2px 5px #b69ff959;">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/navbar/patients.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text03 %></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="stat-1" id="productsStat" style="background-color: #E8FBEB;box-shadow: 0 2px 5px #c7f7cf;">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/navbar/medicines.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text06 %></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg col-md col-sm-12 app-block mx-2 d-none">
				<div class="d-inline-flex flex-center w-100 h-100" style="max-height: 100%;">
					<canvas id="chartEl01" class="" style="max-height:100%;"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="app-block my-3">
		<div class="form-field-01">
			<div class="form-field-input-holder">
				<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.statistics.label02 %></div>
				<input type="date" id="dateInput" class="form-field-input">
			</div>
		</div>
	</div>
	<div class="mt-3">
		<div class="row gx-4 gy-4">
			<div class="col-lg-8 col-md-6 col-sm-12 app-block">
				<div class="row gx-4 gy-4">
					<div class="col-md-8 col-sm-12">
						<div class="d-inline-flex flex-center w-100 h-100">
							<canvas id="chartEl02" class=""></canvas>
						</div>
					</div>
					<div class="col-md col-sm-12">
						<div class="row gx-2 gy-2 h-100 my-0">
							<div class="col-md-12 col-sm-12">
								<div class="d-inline-flex flex-center w-100 h-100">
									<div class="stat-1" id="ordersStat" style="background-color:#ffccdd73;box-shadow: 0 2px 5px #f9c1d4; height: auto;">
										<div class="stat-header">
											<div class="stat-icon-holder">
												<img src="assets/img/utils/invoice.png" alt="" class="stat-icon">	
											</div>
											<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text07 %></div>
										</div>
										<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
										<div class="d-flex flex-space-between flex-align-center">
											<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
											<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
										</div>
										<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
										<div class="d-flex flex-space-between flex-align-center">
											<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
											<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
										</div>
										<div class="stat-status d-none">
											<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
											<div class="stat-indicators">
												<div class="stat-rate">
													<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
													<span id="statInRate">0.00%</span>
												</div>
												<div class="stat-rate">
													<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
													<span id="statOutRate">0.00%</span>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="d-inline-flex flex-center w-100 h-100">
									<div class="stat-1" id="prescsStat" style="background-color:#f5ba7654;box-shadow: 0 2px 5px #f5ba76ad; height: auto;">
										<div class="stat-header">
											<div class="stat-icon-holder">
												<img src="assets/img/navbar/prescription.png" alt="" class="stat-icon">	
											</div>
											<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text08 %></div>
										</div>
										<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
										<div class="d-flex flex-space-between flex-align-center">
											<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
											<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
										</div>
										<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
										<div class="d-flex flex-space-between flex-align-center">
											<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
											<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
										</div>
										<div class="stat-status d-none">
											<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
											<div class="stat-indicators">
												<div class="stat-rate">
													<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
													<span id="statInRate">0.00%</span>
												</div>
												<div class="stat-rate">
													<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
													<span id="statOutRate">0.00%</span>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md col-sm-12 app-block mx-2">
				<div class="d-inline-flex flex-center w-100 h-100" style="max-height: 100%;">
					<canvas id="chartEl03" class="" style="max-height: 100%;"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(async function()
{

var statisticsContainer = $('#statisticsContainer');
if ( statisticsContainer[0] == undefined )
    return;

var ERROR_BOX = statisticsContainer.find('#ERROR_BOX');

var searchClinicsInput = statisticsContainer.find('#searchClinicsInput');
var searchBTN = statisticsContainer.find('#searchBTN');
var clinicSelect = statisticsContainer.find('#clinicSelect');
var dateInput = statisticsContainer.find('#dateInput');

var now = new Date();
dateInput.val( date_time.format(now, 'YYYY-MM-DD') );

var treasuryStat = statisticsContainer.find('#treasuryStat');
var patientsStat = statisticsContainer.find('#patientsStat');
var appointmentsStat = statisticsContainer.find('#appointmentsStat');
var productsStat = statisticsContainer.find('#productsStat');
var ordersStat = statisticsContainer.find('#ordersStat');
var prescsStat = statisticsContainer.find('#prescsStat');

var allStats1 = statisticsContainer.find('#allStats1');

var chartEl01 = statisticsContainer.find('#chartEl01');
var chartEl02 = statisticsContainer.find('#chartEl02');
var chartEl03 = statisticsContainer.find('#chartEl03');

let chart01 = null;
let chart02 = null;
let chart03 = null;
// init calendar
new Calendar({
    id: '#calendarDiv',
    calendarSize: 'small',
    theme: 'basic',
    disableMonthYearPickers: true,
    disableDayClick: true,
    disableMonthArrowClick: true
});

var promise01 = null;
// search clinics
searchClinicsInput.off('keyup');
searchClinicsInput.on('keyup', e =>
{
    var query = searchClinicsInput.val();
    // display loader
    SectionLoader(searchClinicsInput.closest('.section'));
    promise01 = searchClinics(query);
    promise01.then(response =>
    {
        // hide loader
        SectionLoader(searchClinicsInput.closest('.section'), '');
        // clear html
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
            clinicSelect.html('<option value="NONE">حدد العيادة</option>');
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
            clinicSelect.html('<option value="NONE">Sélectionnez la clinique</option>');
        
        if ( response.code == 404 )
            return;

        var data = response.data;
        var html = '';
        $.each(data, (k,v) =>
        {
            html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
        });
        clinicSelect.append(html);
    });
});
searchClinicsInput.trigger('keyup');
// 
searchBTN.off('click');
searchBTN.on('click', e =>
{
    searchClinicsInput.trigger('keyup');
});
// wait for promise
await Promise.allSettled([promise01]);
// select click
clinicSelect.off('change');
clinicSelect.on('change', e =>
{
    displayStats();
});
// select date
dateInput.off('change');
dateInput.on('change', e =>
{
    displayStats();
});
// function display stats
displayStats();
async function displayStats()
{
    allStats1.html('');
    // check if a clinic is selected
    if ( clinicSelect.find(':selected').val() == 'NONE' )
        return;
    // display loaders
    SectionLoader(treasuryStat);
    SectionLoader(patientsStat);
    SectionLoader(appointmentsStat);
    SectionLoader(productsStat);
    SectionLoader(productsStat);
    SectionLoader(ordersStat);
    SectionLoader(prescsStat);
    // treasury
    var treasury = await listAllTreasuryInfoLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    // hide loader
    SectionLoader(treasuryStat, '');
    if ( treasury.code == 200 )
    {
        var data = treasury.data;
        var expenses_bydate = data.expenses.bydate;
        var currency = (FUI_DISPLAY_LANG.lang == 'ar') ? CURRENCY.ar : CURRENCY.fr;
        var statAmountHTML = `${formatMoney(parseFloat(data.treasury_amount))}
                        <span class="currency">${currency}</span>`;
        treasuryStat.find('#statAmount').html(statAmountHTML);
        treasuryStat.find('#statAmountTooltip').text( data.treasury_amount );

        treasuryStat.find('#statAmount1').text( formatMoney( parseFloat(expenses_bydate.in) )+' '+currency );
        treasuryStat.find('#statAmountTooltip1').text( expenses_bydate.in );	
        treasuryStat.find('#statAmount2').text( formatMoney( parseFloat(expenses_bydate.out) )+' '+currency );
        treasuryStat.find('#statAmountTooltip2').text( expenses_bydate.out );		
        
    }

    // patients
    var patients = await listPatientsLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    var patCMonthRate = 0;
    // hide loader
    SectionLoader(patientsStat, '');
    if ( patients.code == 200 )
    {
        var data = patients.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;
        var bydate = data.bydate;
        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        patCMonthRate = inRate;

        patientsStat.find('#statAmount1').text( trimNumber(total) );
        patientsStat.find('#statAmountTooltip1').text( total );	
        patientsStat.find('#statAmount2').text( trimNumber(bydate.length) );
        patientsStat.find('#statAmountTooltip2').text( bydate.length );	

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">مرضى</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">malade</span>
                        </div>`);
        }
    }

    // apts
    var apts = await listAppointementsLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    var aptCMonthRate = 0;
    // hide loader
    SectionLoader(appointmentsStat, '');
    if ( apts.code == 200 )
    {
        var data = apts.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;

        var followup = data.followup;
        var general = data.general;

        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        aptCMonthRate = inRate;

        appointmentsStat.find('#statAmount1').text( trimNumber(general.all.length) );
        appointmentsStat.find('#statAmountTooltip1').text( general.all.length );	
        appointmentsStat.find('#statAmount2').text( trimNumber(general.bydate.length) );
        appointmentsStat.find('#statAmountTooltip2').text( general.bydate.length );	

        appointmentsStat.find('#statAmount3').text( trimNumber(followup.all.length) );
        appointmentsStat.find('#statAmountTooltip3').text( followup.all.length );	
        appointmentsStat.find('#statAmount4').text( trimNumber(followup.bydate.length) );
        appointmentsStat.find('#statAmountTooltip4').text( followup.bydate.length );

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${general.all.length})</span>
                            <span class="text-03">مواعيد عامة</span>
                        </div>`);
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${followup.all.length})</span>
                            <span class="text-03">مواعيد متابعة</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${general.all.length})</span>
                            <span class="text-03">Rendez-vous généraux</span>
                        </div>`);
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${followup.all.length})</span>
                            <span class="text-03">Rendez-vous de suivi</span>
                        </div>`);
        }
    }

    // products
    var products = await listProductsLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    var prodCMonthRate = 0;
    // hide loader
    SectionLoader(productsStat, '');
    if ( products.code == 200 )
    {
        var data = products.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;
        var bydate = data.bydate;
        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        prodCMonthRate = inRate;

        productsStat.find('#statAmount1').text( trimNumber(total) );
        productsStat.find('#statAmountTooltip1').text( total );	
        productsStat.find('#statAmount2').text( trimNumber(bydate.length) );
        productsStat.find('#statAmountTooltip2').text( bydate.length );	

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">منتجات</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">produits</span>
                        </div>`);
        }
    }

    // orders
    var orders = await listOrdersLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    var ordCMonthRate = 0;
    // hide loader
    SectionLoader(ordersStat, '');
    if ( orders.code == 200 )
    {
        var data = orders.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;
        var bydate = data.bydate;
        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        ordCMonthRate = inRate;

        ordersStat.find('#statAmount1').text( trimNumber(total) );
        ordersStat.find('#statAmountTooltip1').text( total );	
        ordersStat.find('#statAmount2').text( trimNumber(bydate.length) );
        ordersStat.find('#statAmountTooltip2').text( bydate.length );	

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">فواتير</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">Factures</span>
                        </div>`);
        }
        // loop data
        var labels = [];
        var fdata = [];
        for (var i = 0; i < data.currentYearStats.length; i++) 
        {
            var v = data.currentYearStats[i];
            // add months
            labels.push( translateMonthName(v.date) );
            // add data
            fdata.push(v.total);
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            const ctx = chartEl02[0].getContext('2d');
            if ( chart02 )
                chart02.destroy();
            chart02 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: 'عدد فواتير شراء المنتجات',
                        data: fdata,
                        backgroundColor: [
                            'rgba(109, 157, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(109, 157, 255, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: true,
                            textDirection: 'rtl'
                        },
                        title: {
                            text: "تحليل فواتير شراء المنتجات خلال اشهر السنة",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            const ctx = chartEl02[0].getContext('2d');
            if ( chart02 )
                chart02.destroy();
            chart02 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: "Nombre de factures d'achat de produits",
                        data: fdata,
                        backgroundColor: [
                            'rgba(109, 157, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(109, 157, 255, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: false,
                            textDirection: 'ltr'
                        },
                        title: {
                            text: "Analyser les factures d'achats de produits au cours des mois de l'année",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
    }

    // prescriptions
    var prescs = await listPrescriptionsLocal({
        clinicId: clinicSelect.find(':selected').val(),
        date: dateInput.val()
    });
    var prescCMonthRate = 0;
    // hide loader
    SectionLoader(prescsStat, '');
    if ( prescs.code == 200 )
    {
        var data = prescs.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;
        var bydate = data.bydate;
        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        prescCMonthRate = inRate;

        prescsStat.find('#statAmount1').text( trimNumber(total) );
        prescsStat.find('#statAmountTooltip1').text( total );	
        prescsStat.find('#statAmount2').text( trimNumber(bydate.length) );
        prescsStat.find('#statAmountTooltip2').text( bydate.length );

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">وصفات طبية</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">Ordonnance médicale</span>
                        </div>`);
        }
        // loop data
        var labels = [];
        var fdata = [];
        for (var i = 0; i < data.currentYearStats.length; i++) 
        {
            var v = data.currentYearStats[i];
            // add months
            labels.push( translateMonthName(v.date) );
            // add data
            fdata.push(v.total);
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            const ctx = chartEl03[0].getContext('2d');
            if ( chart03 )
                chart03.destroy();
            chart03 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'عدد الوصفات الطبية',
                        data: fdata,
                        fill: false,
                        borderColor: 'rgb(245, 186, 118)',
                        borderWidth: 1,
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: true,
                            textDirection: 'rtl'
                        },
                        title: {
                            text: "تحليل الوصفات الطبية المنشأة",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        chartEl03.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            const ctx = chartEl03[0].getContext('2d');
            if ( chart03 )
                chart03.destroy();
            chart03 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Nombre d'ordonnances",
                        data: fdata,
                        fill: false,
                        borderColor: 'rgb(245, 186, 118)',
                        borderWidth: 1,
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: false,
                            textDirection: 'ltr'
                        },
                        title: {
                            text: "Analyse des ordonnances établies",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        chartEl03.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
    }
    // init chart1
    if ( FUI_DISPLAY_LANG.lang == 'ar' )
    {
        const ctx = chartEl01[0].getContext('2d');
        if ( chart01 )
            chart01.destroy();
        chart01 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'المرضى '+patCMonthRate.toFixed(0)+'%',
                    'المواعيد '+aptCMonthRate.toFixed(0)+'%',
                    'المنتجات '+prodCMonthRate.toFixed(0)+'%',
                    'الفواتير '+ordCMonthRate.toFixed(0)+'%',
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [
                        patCMonthRate.toFixed(0), 
                        aptCMonthRate.toFixed(0), 
                        prodCMonthRate.toFixed(0),
                        ordCMonthRate.toFixed(0)
                    ],
                    backgroundColor: [
                        'rgb(232, 225, 253)',
                        'rgb(237, 243, 250)',
                        'rgb(232, 251, 235)',
                        'rgb(255, 204, 221)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'right',
                        rtl: true,
                        textDirection: 'rtl'
                    },
                    title: {
                        text: "تحليل احصائيات المرضى، المواعيد والمنتجات",
                        font: {
                            weight: 'bold',
                            size: "16px"
                        },
                        display:true,
                        position: "top"
                    }
                },
                onResize: function(e)
                {
                    // set canvas width
                    chartEl01.css('width', '100%');
                }
            }
        });	
        // set canvas width
        chartEl01.css('width', '100%');
    }
    else if ( FUI_DISPLAY_LANG.lang == 'fr' )
    {
        const ctx = chartEl01[0].getContext('2d');
        if ( chart01 )
            chart01.destroy();
        chart01 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Les patients '+patCMonthRate.toFixed(0)+'%',
                    'Rendez-vous '+aptCMonthRate.toFixed(0)+'%',
                    'Des produits '+prodCMonthRate.toFixed(0)+'%',
                    'Factures '+ordCMonthRate.toFixed(0)+'%',
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [
                        patCMonthRate.toFixed(0), 
                        aptCMonthRate.toFixed(0), 
                        prodCMonthRate.toFixed(0),
                        ordCMonthRate.toFixed(0)
                    ],
                    backgroundColor: [
                        'rgb(232, 225, 253)',
                        'rgb(237, 243, 250)',
                        'rgb(232, 251, 235)',
                        'rgb(255, 204, 221)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'left',
                        rtl: false,
                        textDirection: 'ltr'
                    },
                    title: {
                        text: "Analyse des statistiques patients, rendez-vous et produits",
                        font: {
                            weight: 'bold',
                            size: "16px"
                        },
                        display:true,
                        position: "top"
                    }
                },
                onResize: function(e)
                {
                    // set canvas width
                    chartEl01.css('width', '100%');
                }
            }
        });	
        // set canvas width
        chartEl01.css('width', '100%');
    }
}

})

</script>