<%- include('views/partials/header') -%>
<%- include('views/addons/top-loader') -%>
<%- include('views/addons/user-auth') -%>
<%- include('views/addons/toast') -%>
<%- include('views/addons/top-progress-bar') -%>
<%- include('views/addons/page-loader') -%>

<%- include('views/dialogs/dialog-box') -%>
<%- include('views/dialogs/prompt-input-dialog') -%>
<%- include('views/dialogs/prompt-confirm-dialog') -%>
<div class="main-content-container position-relative" id="MainContentContainer">



</div>
<!-- End Main Container -->
<%- include('views/partials/footer') -%>