<div class="container-fluid" id="allPrescriptionsNotInOrdersContainer">
	
    <div class="wrapper d-none d-flex">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_appointements.sectionTitle %></h1>
        <div class="width-10px"></div>
        <div class="d-flex align-items-center">
			<a href="#" class="fs-14 fw-500 btn btn-success" data-perm="create_prescription" onclick="CreatePrescriptionDialog__CentralAdmin()">
				<%= UI_DISPLAY_LANG.views.pages.global.add_new_button %>
            </a>
		</div>
	</div>

	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>

	<div class="mt-3 WRAPPER" id="wrapper01">
		<div class="table-nav">

			<div class="row gx-4 gy-3 mb-2">

				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="presc_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="presc_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>

			</div>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-centers.template.ejs`, {
                        eventsReceiverId: 'allPrescriptionsInOrdersContainer',
                    }) -%>
				</div>

            </div>

		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#allPrescriptionsNotInOrdersContainer');

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');
var select_centers_template_center_select = page_container.find('#select_centers_template_center_select')

var presc_total = page_container.find('#presc_total');
var presc_extra_data_list = page_container.find('#presc_extra_data_list');

var tableElement5 = page_container.find('#tableElement5');

var contentsWrapper = page_container.find('#contentsWrapper');
var changedSettingsWrapper = page_container.find('#changedSettingsWrapper');
var backBTN = changedSettingsWrapper.find('#backBTN');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');

var PrescObject = {
    prescriptionId: null,
    query: sessionData().query
}


// clear session data
sessionData(true)
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
	wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
// tableElement click
tableElement.off('click');
tableElement.on('click', async e =>
{
	var target = $(e.target);
	if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="PRESC"]')

        var res = await PRESCRIPTION_MODEL.show(target.data('prescid'))
        CreatePrescriptionDialog__CentralAdmin(res.data)
    }
    else if ( target.data('role') == 'CREATE_PRIVATE_APT' )
    {
        var patientId = target.data('patientid');
        goToPage('create-private-appointments', {
            patientId: patientId
        })
        //rebindEvents();
    }
    else if ( target.data('role') == 'PRINT' )
    {
        var parent = target.closest('.card')
        var prescriptionId = parent.data('prescid');
        // loader
        SectionLoader(target.closest('.card'));
        var response = await PRESCRIPTION_MODEL.show(prescriptionId);
        // loader
        SectionLoader(target.closest('.card'), '');
        var data = response.data;
        // console.log(data)

        var centerData = checkJSON( decodeURIComponent( atob( select_centers_template_center_select.find(':selected').data('object') ) ) )
        data['centerData'] = centerData
        printPrescription(data)
    }
    else if ( target.data('role') == 'PRINT_MEDICAL_ANALYSIS' )
    {
        var prescriptionId = target.data('prescid');
        SectionLoader(target.closest('.card'));
        var res = await PRESCRIPTION_MODEL.show(prescriptionId);
        // loader
        SectionLoader(target.closest('.card'), '');

        var html = await getPage('../views/prints/medical-analysis-page.ejs')

        goToPage('print-medical-analysis', {
            patient: res.data.patient,
            html: html
        })

    }
    else if ( target.data('role') == 'PREVIEW' || target.data('role') == 'PRESC' )
    {
        var perm = target.data('check-perm')

        // check perm if clicked on parent
        if ( !isNull(perm) && !checkPermission(perm) )
        {
            
            CreateToast('PS', FUI_DISPLAY_LANG.views.messages.permission_denied, '')
            return
        }

        var prescriptionId = target.data('prescid');
        
        SectionLoader(target.closest('.card'));

        var response = await PRESCRIPTION_MODEL.show(prescriptionId);
  
        var data = response.data;

        var centerData = (await CLINIC_MODEL.show(data.clinicId)).data

        SectionLoader(target.closest('.card'), '')

        data['centerData'] = centerData

        previewPrescription(data)
    }

});
// delete
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
	PromptConfirmDialog().then(c =>
	{
		SectionLoader(wrapper01);
		PRESCRIPTION_MODEL.batchDelete( getSelectedRows() ).then(response =>
		{
			// hide loader
			SectionLoader(wrapper01, '');
			if ( response.code == 404 )
			{
				ERROR_BOX.show(0).delay(7*1000).hide(0)
				.find('#text').text(response.message);
				return;
			}
			ERROR_BOX.show(0).delay(7*1000).hide(0)
			.find('#text').text(response.message);
			//
			search_input.trigger('keyup')
		});
	});
});
// search
search_btn.on('click', e =>
{
    search_input.trigger('keyup')
})

detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'center_not_in_orders_local_search',
        query: val,
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            clinicId: select_centers_template_center_select.find(':selected').val(),
            orderBy: 'prescriptionId',
            order: 'desc',
        }
    });
})
select_centers_template_center_select.on('change', e =>
{
    search_input.trigger('keyup')
})
//
search_input.trigger('keyup')
// CreatePrescriptionDialog:prescription-created
$(document).off('CreatePrescriptionDialog:prescription-created').on('CreatePrescriptionDialog:prescription-created', e =>
{
    search_input.trigger('keyup')
})
$(document).off('CreatePrescriptionDialog:prescription-updated').on('CreatePrescriptionDialog:prescription-updated', e =>
{
    search_input.trigger('keyup')
})
// display all
async function displayAll(params)
{
    // total
    presc_total.text(0)

    presc_extra_data_list.html('')
    SectionLoader(tableElement)
    tableElement.html('')
    if ( params.method_type == 'center_not_in_orders_local_search' )
        var res = await PRESCRIPTION_MODEL.center_not_in_orders_local_search(params)

    SectionLoader(tableElement, '')
    if ( res.code == 404 ) return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    presc_total.text(data.length)
    $.each(data, (k,v) =>
    {
        var medicines = (v.medicines) ? v.medicines.length : 0;

        html+= `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card hover-shadow" data-role="PRESC" data-prescid="${v.prescriptionId}" data-patient-id="${v.patientId}" data-patient-name="${v.patientName}" data-check-perm="preview_prescriptions" style="cursor: pointer;">
                        <div class="pt-2 px-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" data-role="CHECK" data-prescid="${v.prescriptionId}" value="" id="flexCheckDefault_${v.prescriptionId}">
                                <label class="form-check-label" for="flexCheckDefault_${v.prescriptionId}">
                                    ${FUI_DISPLAY_LANG.views.pages.global.select}
                                </label>
                            </div>
                        </div>
                        <div class="card-body no-pointer">
                            <div class="h5">${FUI_DISPLAY_LANG.views.pages.global.created_by}: ${v.employee_name}</div>
                            <div class="mb-2">${FUI_DISPLAY_LANG.views.pages.global.attributes.center}: ${v.clinicName}</div>
                            <span class="text-02">${FUI_DISPLAY_LANG.views.pages.global.for_}:  ${v.patientName}</span>
                            <div class="text-04">${FUI_DISPLAY_LANG.views.pages.global.attributes.medicines}: (${medicines})</div>
                            <div class="text-muted mt-2">${FUI_DISPLAY_LANG.views.pages.global.created_at}: ${v.prescriptionDate} | ${v.prescriptionTime}</div>
                            <div class="mt-2">
                                <div class="alert alert-1 ${ (v.prescriptionDirection == ST_DIRECTION_INSIDE) ? 'bg-color-28 border-dashed border-color-21 text-color-21' : 'alert-info' }  d-inline-block">
                                    ${FUI_DISPLAY_LANG.views.pages.global.prescription_directions[v.prescriptionDirection]}
                                </div>
                            </div>
                        </div>
                        <div class="py-2 px-2">
                            <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ${FUI_DISPLAY_LANG.views.pages.global.more}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PRINT" data-perm="print_prescription" data-patientid="${v.patientId}" data-prescid="${v.prescriptionId}">${FUI_DISPLAY_LANG.views.pages.global.print_}</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PREVIEW" data-perm="preview_prescriptions" data-patientid="${v.patientId}" data-prescid="${v.prescriptionId}">${FUI_DISPLAY_LANG.views.pages.global.preview}</a>
                                </li>
                            </ul>
                            <a href="#" class="d-inline-block text-dark" data-role="UPDATE" data-perm="update_prescription" data-prescid="${v.prescriptionId}">
                                <i class="fas fa-edit no-pointer"></i>
                            </a>
                        </div>
                    </div>
                </div>PAG_SEP`;	
        
    });
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 9
    };
    new SmoothPagination(pagination, tableElement, options);
    // extra data
    presc_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.patientName}, </span>
            <span class="text-primary">${last_data.prescriptionDate} ${last_data.prescriptionTime}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${last_data.prescriptionNote} </span>
        </li>
    `)
}
// get selected
function getSelectedRows()
{
	var list = [];
	var checks = tableElement.find('[data-role="CHECK"]');
	for (var i = 0; i < checks.length; i++) 
	{
		var check = $(checks[i]);
		if ( check.is(':checked') )
			list.push({ prescriptionId: check.data('prescid') });
	}

	return list;
}

})

</script>