<div id="<%= locals.componentId %>" class="pointer">

    <div class="row gy-2">

        <div class="<%= locals.columnsClass ? locals.columnsClass : 'col-md-12' %>">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="<%= locals.disableFiltersCheckboxId ? locals.disableFiltersCheckboxId : 'disable_filters_checkbox__' %>" checked>
                <label class="form-check-label" for="<%= locals.disableFiltersCheckboxId ? locals.disableFiltersCheckboxId : 'disable_filters_checkbox__' %>"><%= UI_DISPLAY_LANG.views.pages.global.stock_filters.disable_filters %></label>
            </div>
        </div>

        <div class="<%= locals.columnsClass ? locals.columnsClass : 'col-md-12' %> FILTER_WRAPPER disabled">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="<%= locals.belowLowStockThresholdCheckboxId %>" data-disabled="false">
                <label class="form-check-label" for="<%= locals.belowLowStockThresholdCheckboxId %>"><%= UI_DISPLAY_LANG.views.pages.global.stock_filters.below_low_stock_threshold %></label>
            </div>
        </div>

        <div class="<%= locals.columnsClass ? locals.columnsClass : 'col-md-12' %> FILTER_WRAPPER disabled">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="<%= locals.aboveAverageLowStockThresholdCheckboxId %>" data-disabled="false">
                <label class="form-check-label" for="<%= locals.aboveAverageLowStockThresholdCheckboxId %>"><%= UI_DISPLAY_LANG.views.pages.global.stock_filters.above_average_low_stock_threshold %></label>
            </div>
        </div>

        <div class="<%= locals.columnsClass ? locals.columnsClass : 'col-md-12' %> <%= locals.equalAverageLowStockThresholdCheckboxVisible ? 'd-block' : 'd-none' %> FILTER_WRAPPER disabled">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="<%= locals.equalAverageLowStockThresholdCheckboxId %>" data-disabled="false">
                <label class="form-check-label" for="<%= locals.equalAverageLowStockThresholdCheckboxId %>"><%= UI_DISPLAY_LANG.views.pages.global.stock_filters.equal_average_low_stock_threshold %></label>
            </div>
        </div>

    </div>

</div>

<script>

    $(function()
    {

        const componentId = `<%= locals.componentId %>`
        const component = $(`#${componentId}`)


        const disableFiltersCheckboxId = (`<%= locals.disableFiltersCheckboxId %>` == '' || `<%= locals.disableFiltersCheckboxId %>` == null ) ? 'disable_filters_checkbox__' : `<%- locals.disableFiltersCheckboxId %>`

        const disable_filters_checkbox__ = component.find(`#${disableFiltersCheckboxId}`)

        const FILTER_WRAPPERS = component.find('.FILTER_WRAPPER')
        // disable filters
        disable_filters_checkbox__.off('click').on('click', async e =>
        {
            const checked = disable_filters_checkbox__.prop('checked')
            if ( checked )
            {
                FILTER_WRAPPERS.addClass('disabled')
            }
            else
            {
                FILTER_WRAPPERS.removeClass('disabled')
            }
        })

    })

</script>