<div class="container-fluid" id="allProductsBillingsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_products_billings.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="py-4 px-3 mb-3 bg-white border rounded">
			<div class="row gx-4 gy-3">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.all_products_billings.ph01 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.all_products_billings.text01 %></div>
							<input type="date" id="fromDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.all_products_billings.text02 %></div>
							<input type="date" id="toDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN" data-perm="delete_invoices">
						<%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %>
					</button>
				</div>
			</div>
		</div>
		<div id="pagination" class="flex flex-center my-3"></div>
		<div class="table-div bg-white border rounded">
			<table class="table-01" id="tableElement">
				<thead>
					<tr>
						<th>#</th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th01 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th02 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th03 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th04 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th06 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_billings.th05 %></th>
                        <th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<!--
					<tr class="expand-row">
						<td>
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-orderid="">
						</td>
						<td> HG38020496 </td>
						<td> 2022-06-17 </td>
						<td> - </td>
						<td> $11.99 </td>
						<td style="width:20px">
							<svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
						</td>
					</tr>
					<tr class="expand-row__row" style="display:none;">
						<td colspan="10">
							<table class="table-01">
								<thead>
									<tr>
										<th>Product</th>
										<th>Quantity</th>
										<th>Unit Price</th>
										<th>Dept (DA)</th>
										<th>Dept (%)</th>
										<th>Total Price</th>
									</tr>
								</thead>
								<tbody>
									<td>Renew Premium Web Hosting (crstra-saffromfood.com)</td>
									<td>3</td>
									<td>1880.00</td>
									<td>880.00</td>
									<td>32.12%</td>
									<td>1880.00</td>
								</tbody>
							</table>
							<div class="order-price-table">
								<div class="order-price-table-contents">
									<div>
										<strong>product price</strong>
										<span>11.25$</span>
									</div>
									<div>
										<strong>dept (%)</strong>
										<span>0.00%</span>
									</div>
									<div>
										<strong>sell price</strong>
										<span>11.25</span>
									</div>
									<div class="border-top my-1"></div>
									<div>
										<strong>total</strong>
										<span>11.25</span>
									</div>	
								</div>
							</div>
						</td>
					</tr>
					-->
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

$(function()
{

var allProductsBillingsContainer = $('#allProductsBillingsContainer');

var ERROR_BOX = allProductsBillingsContainer.find('#ERROR_BOX');

var deleteSelectedBTN = allProductsBillingsContainer.find('#deleteSelectedBTN');
var searchInput = allProductsBillingsContainer.find('#searchInput');
var searchBTN = allProductsBillingsContainer.find('#searchBTN');
var fromDateInput = allProductsBillingsContainer.find('#fromDateInput');
var toDateInput = allProductsBillingsContainer.find('#toDateInput');
var pagination = allProductsBillingsContainer.find('#pagination');
var tableElement = allProductsBillingsContainer.find('#tableElement');

// set primary dates
var now = new Date();
fromDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
toDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
// tableElement click
tableElement.off('click');
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target[0].nodeName == 'TD' )
    {
        var parent = target.closest('tr');
        var nextTR = parent.next();
        nextTR.slideToggle(200)
        parent.toggleClass('expanded');
    }

    if ( target.data('role') == 'PRINT_INVOICE' )
    {
        var parent = target.closest('[data-role="row"]')
        var order_id = parent.data('order-id')
        
        parent.addClass('disabled')
        var res = await getOrder(order_id)
        parent.removeClass('disabled')

        if ( res.code == 404 ) return

        console.log(res.data)
        var data = res.data
        var client_store_invoice_print = createFakeElement('FAKE_CONTAINER', await(getPage('../views/prints/center-client-invoice-page.ejs')))
                                        .find('.client-store-invoice-print')

        client_store_invoice_print.find('#center_name').text( data.clinicName )
        client_store_invoice_print.find('#invoice_number').text( data.order_hash )
        client_store_invoice_print.find('#invoice_date').text( data.order_date )
        client_store_invoice_print.find('#client_name').text( data.order_receiver_name )

        if ( !data.order_items ) return

        var html = ''
        var order_items_total_quantity = 0
        $.each(data.order_items, (k,v) =>
        {
            order_items_total_quantity+= parseInt(v.order_item_quantity)
            html += `<tr>
                        <td class="has-text-right">${v.item_name}</td>
                        <td>${v.order_item_quantity}</td>
                        <td>${v.order_item_price}</td>
                        <td>${v.order_item_final_amount}</td>
                    </tr>`
        })

        html += `<tr>
                    <td colspan="2">
                        <b>المجموع</b>
                    </td>
                    <td colspan="2">
                        ${data.order_total_amount}
                    </td>
                </tr>`

        client_store_invoice_print.find('#invoice_products_table tbody').html(html)
        client_store_invoice_print.find('#invoice_total_items').text(data.order_items.length)
        client_store_invoice_print.find('#invoice_total_items_quantity').text(order_items_total_quantity)

        printHTMLToPdf( client_store_invoice_print[0].outerHTML , {
            width: 0,
            height: 0,
            top: 10000,
            left: 10000,
            page: {
                size: '8cm auto',
                margin: '0cm'
            }
        } )
    }
});
// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', async e =>
{
    PromptConfirmDialog().then(async c =>
    {
        // display loader
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
            TopLoader("حذف البيانات...");
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
            TopLoader("Suprimmer les données...");

        var response = await ORDER_MODEL.batchDelete(selectedRows());
        // hide loader
        TopLoader('', false);
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        displayAll();
    });
});
// search between dates
searchBTN.off('click');
searchBTN.on('click', async e =>
{
    var query = searchInput.val();
    // display loader
    if ( FUI_DISPLAY_LANG.lang == 'ar' )
        TopLoader("جاري البحث...");
    else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        TopLoader("En train de rechercher...");

    var SearchObject = {
        clinicId: USER_CONFIG.administration.clinicId,
        query: query,
        advanced: {
            start: fromDateInput.val(),
            end: toDateInput.val(),
        },
        isAccepted: 1
    };

    var response = await ORDER_MODEL.center_search(SearchObject);
    // hide loader
    TopLoader('', false);
    // clear html
    tableElement.find('tbody').html('');
    if ( response.code == 404 )
        return;
    
    var data = response.data;
    var html = '';
    for (var i = 0; i < data.length; i++) 
    {
        var order = data[i];
        // loop items
        if ( order.order_items )
        {
            var itemsHTML = '<ul class="list-group list-group-flush list-group-numbered">';
            var itemsHTML2 = '';
            var productPrice = 0.00;
            var order_item_dept_rate = 0.00;
            var order_item_price = 0.00;
            for (var j = 0; j < order.order_items.length; j++) 
            {
                var item = order.order_items[j];
                productPrice += parseFloat(item.item_info.productPrice);
                order_item_dept_rate += parseFloat(item.item_dept.order_item_dept_rate);
                order_item_price += parseFloat(item.order_item_price);
                itemsHTML += `<li class="list-group-item text-04">${item.item_name}</li>`;
                itemsHTML2 += `<tr>
                                <td>${item.item_name}</td>
                                <td>${item.order_item_quantity}</td>
                                <td>${item.order_item_price}</td>
                                <td>${item.order_item_final_amount}</td>
                                </tr>`;
            }
            itemsHTML += '</ul>';
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            html += `<tr class="expand-row" data-role="row" data-order-id="${order.order_id}">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.order_receiver_name}</td>
                        <td>
                            <a href="#" data-role="PRINT_INVOICE">${ FUI_DISPLAY_LANG.views.pages.global.print_doc_button }</a>
                        </td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>المنتج</th>
                                        <th>الكمية</th>
                                        <th>سعر الوحدة</th>
                                        <th>السعر الكلي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>المبلغ الاجمالي</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>مبلغ الدين</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>المبلغ المدفوع</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            html += `<tr class="expand-row" data-role="row" data-order-id="${order.order_id}">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.order_receiver_name}</td>
                        <td>
                            <a href="#" data-role="PRINT_INVOICE">${ FUI_DISPLAY_LANG.views.pages.global.print_doc_button }</a>
                        </td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>le produit</th>
                                        <th>Quantité</th>
                                        <th>prix d'Unité</th>
                                        <th>prix total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>Montant total</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>Montant de la dette</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>Le montant payé</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }	
    }
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 12
    };
    new SmoothPagination(pagination, tableElement.find('tbody'), options);
});
// search
searchInput.off('keyup');
searchInput.on('keyup', async e =>
{
    var SearchObject = {
        clinicId: USER_CONFIG.administration.clinicId,
        query: searchInput.val(),
        isAccepted: 1
    };
    // display loader
    if ( FUI_DISPLAY_LANG.lang == 'ar' )
        TopLoader("جاري البحث...");
    else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        TopLoader("En train de rechercher...");

    var response = await ORDER_MODEL.center_search(SearchObject);
    // hide loader
    TopLoader('', false);
    // clear html
    tableElement.find('tbody').html('');
    if ( response.code == 404 )
        return;
    
    var data = response.data;
    var html = '';
    for (var i = 0; i < data.length; i++) 
    {
        var order = data[i];
        // loop items
        if ( order.order_items )
        {
            var itemsHTML = '<ul class="list-group list-group-flush list-group-numbered">';
            var itemsHTML2 = '';
            var productPrice = 0.00;
            var order_item_dept_rate = 0.00;
            var order_item_price = 0.00;
            for (var j = 0; j < order.order_items.length; j++) 
            {
                var item = order.order_items[j];
                productPrice += parseFloat(item.item_info.productPrice);
                order_item_dept_rate += parseFloat(item.item_dept.order_item_dept_rate);
                order_item_price += parseFloat(item.order_item_price);
                itemsHTML += `<li class="list-group-item text-04">${item.item_name}</li>`;
                itemsHTML2 += `<tr>
                                <td>${item.item_name}</td>
                                <td>${item.order_item_quantity}</td>
                                <td>${item.order_item_price}</td>
                                <td>${item.order_item_final_amount}</td>
                                </tr>`;
            }
            itemsHTML += '</ul>';
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            html += `<tr class="expand-row" data-role="row" data-order-id="${order.order_id}">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.order_receiver_name}</td>
                        <td>
                            <a href="#" data-role="PRINT_INVOICE">${ FUI_DISPLAY_LANG.views.pages.global.print_doc_button }</a>
                        </td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>المنتج</th>
                                        <th>الكمية</th>
                                        <th>سعر الوحدة</th>
                                        <th>السعر الكلي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>المبلغ الاجمالي</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>مبلغ الدين</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>المبلغ المدفوع</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            html += `<tr class="expand-row" data-role="row" data-order-id="${order.order_id}">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.order_receiver_name}</td>
                        <td>
                            <a href="#" data-role="PRINT_INVOICE">${ FUI_DISPLAY_LANG.views.pages.global.print_doc_button }</a>
                        </td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>le produit</th>
                                        <th>Quantité</th>
                                        <th>prix d'Unité</th>
                                        <th>prix total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>Montant total</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>Montant de la dette</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>Le montant payé</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }	
    }
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 12
    };
    new SmoothPagination(pagination, tableElement.find('tbody'), options);
});
// display all
displayAll();
function displayAll()
{
    searchInput.trigger('keyup');
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ order_id: check.data('orderid') });
    }

    return list;
}

})

</script>