<div class="container-fluid" id="view_patient_point_actions_container">

	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_clinics.sectionTitle %></h1>
	</div>

	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>

	<div class="mt-3">

		<div class="table-nav">
			
			<div class="row mb-2">

                <div class="col-lg-12 col-md-12 col-sm-12" data-perm="delete_patient_point_actions">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN"><%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %></button>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
				<div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="points_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="points_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div> 

			</div>

            <div class="row">

                <div class="col-lg-4 col-md-3 col-sm-12">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers-with-clients.template.ejs', {
                        componentId: 'select_center_with_clients_component',
                        centerSelectId: 'center_select',
                        clientSelectId: 'client_select',
                        columnsClass: 'col-md-6',
                    }) -%>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-12">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-patient-point-attributes.template.ejs', {
                        componentId: 'attribute_select_component',
                        selectId: 'attribute_select',
                    }) -%>
                </div>

            </div>

		</div>

		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="utable shadowed" id="tableElement">
			<div class="thead">
				<div class="td">#</div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th16 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th12 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th60 %></div>
                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th21 %></div>
				<div class="td"></div>
			</div>
			<div class="tbody">
				<!--
				<div class="tr">
					<div class="td">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-classid="">
					</div>
					<div class="td">client</div>
					<div class="td">center</div>
					<div class="td">attribute</div>
					<div class="td">note</div>
					<div class="td">
						date	
					</div>
				</div>
				-->
			</div>
		</div>
        
	</div>

</div>

<script>

$(function()
{

var page_container = $('#view_patient_point_actions_container')

if ( !page_container[0] ) return

var ERROR_BOX = page_container.find('#ERROR_BOX')

const deleteSelectedBTN = page_container.find('#deleteSelectedBTN')
const search_btn = page_container.find('#search_btn')
const search_input = page_container.find('#search_input')
const date_start_input = page_container.find('#date_start_input')
const date_end_input = page_container.find('#date_end_input')

const center_select = page_container.find('#center_select')
const client_select = page_container.find('#client_select')
const attribute_select = page_container.find('#attribute_select')

const points_total = page_container.find('#points_total')
const points_extra_data_list = page_container.find('#points_extra_data_list')

const pagination = page_container.find('#pagination')
const tableElement = page_container.find('#tableElement')

// deleteSelectedBTN
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')

        var res = await PATIENT_MODEL.point_action_batchDelete({
            collection: selectedRows()
        });
        
        deleteSelectedBTN.removeClass('disabled')
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
        CreateToast('PS', res.message, '')
        //
        if ( res.code == 404 ) return
        
        search_input.trigger('keyup')
    });
})
// search
search_btn.on('click', e =>
{
    search_input.trigger('keyup')
})
detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'point_action_search',
        query: val,
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            clinicId: center_select.find(':selected').val(),
            patientId: client_select.find(':selected').val(),
            action: attribute_select.find(':selected').val(),
        }
    })
})

// display all
search_input.trigger('keyup')
async function displayAll(params)
{
    SectionLoader(tableElement)
    // total
    points_total.text(0)

    if ( params.method_type == 'point_action_search' ) var res = await PATIENT_MODEL.point_action_search(params)

    SectionLoader(tableElement, '')

    if ( res.code == 404 )
    {
        tableElement.find('.tbody').html('')
        return
    }

    var data = res.data
    var last_data = firstArrayElement(data)
    var html = ''

    // total
    points_total.text(data.length)

    $.each(data, (k,v) =>
    {
        html += `<div class="tr" data-role="row" data-id="${v.id}">
					<div class="td">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK">
					</div>
					<div class="td">
                        ${v.patientName}    
                    </div>
					<div class="td">
                        ${v.clinicName}    
                    </div>
					<div class="td">
                        ${ FUI_DISPLAY_LANG.views.pages.global.patient_point_attributes[v.action] }    
                    </div>
					<div class="td pointer">
                        <div class="mb-2">${strSnippet(v.note)}</div>
                        <div class="mb-2">
                            <a href="#" class="js_panel_toggler_button" data-target="#point_action_note_panel_${v.id}">
                                ${ FUI_DISPLAY_LANG.views.pages.global.view_more } 
                            </a>
                        </div>
                        <div class="px-2 py-3 border-radius-10px bg-color-31 d-none" id="point_action_note_panel_${v.id}">
                            
                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target="#point_action_note_panel_${v.id}">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div>
                                ${v.note}    
                            </div>
                            
                        </div>
                    </div>
					<div class="td">
                        <div class="mb-2">${v.created_at}</div>
						<div class="fs-14 fw-300 text-color-17">${ getDatetimeDifference(v.created_at).auto }</div>	
					</div>
				</div>`
    })

    new SmoothPagination(pagination, tableElement.find('.tbody'), {
        data: html.split('PAG_SEP'),
    })
    // extra data
    points_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.patientName}, </span>
            <span class="text-primary">${last_data.created_at}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${last_data.note} </span>
        </li>
    `)
}
// selected rows
function selectedRows()
{
    var list = []
    var items = tableElement.find('[data-role="row"]')
    
    for (var i = 0; i < items.length; i++) 
    {
        const parent = $(items[i])
        const check = parent.find('[data-role="CHECK"]')

        if ( check.is(':checked') )
        {
            list.push({
                id: parent.data('id'),
            })
        }
    }

    return list
}

})

</script>