<div class="container-fluid" id="addPatientsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_patients.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block" id="wrapper01">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>

		<form action="#" id="addForm">

			<ul class="list-h js_list_tabs_navs mb-4">
				<li class="list-item list-item-solid flex flex-center active js_list_tab_nav" data-target="#personal_details_tab" >
					<%= UI_DISPLAY_LANG.views.pages.global.tabs.tab1 %>
				</li>
				<li class="list-item list-item-solid flex flex-center js_list_tab_nav" data-target="#contact_details_tab">
					<%= UI_DISPLAY_LANG.views.pages.global.tabs.tab2 %>
				</li>
				<li class="list-item list-item-solid flex flex-center js_list_tab_nav" data-target="#health_details_tab">
					<%= UI_DISPLAY_LANG.views.pages.global.tabs.tab3 %>
				</li>
				<li class="list-item list-item-solid flex flex-center js_list_tab_nav" data-target="#create_appointment_tab">
					<%= UI_DISPLAY_LANG.views.pages.global.tabs.tab4 %>
				</li>
			</ul>

			<div class="mb-2 section">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.label01 %></label>
				<select name="" class="select-01" id="clinicSelect">
			
				</select>
			</div>

			<div class="row gy-3" id="personal_details_tab" data-role="tab_content">

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label30 %></label>
						<input type="text" class="input-text input-text-outline" id="patientCodeInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label01 %></label>
						<input type="text" class="input-text input-text-outline" id="patientNameInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label02 %></label>
						<input type="text" class="input-text input-text-outline" id="patientPhoneInput">
					</div>		
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label07 %></label>
						<input type="text" class="input-text input-text-outline" id="patientPassInput" value="">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label04 %></label>
						<input type="text" class="input-text input-text-outline" id="patientAgeInput">
					</div>		
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label05 %></label>
						<select name="" class="input-text" id="patientGenderSelect">
							<option value="ذكر"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select01.option01 %></option>
							<option value="أنثى"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select01.option02 %></option>
						</select>
					</div>		
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-wilaya-baladia2.template.ejs', {
						componentId: 'wilaya_baladia_component',
						wilayaSelectId: 'wilaya_select',
						baladiaInputId: 'baladia_input',
						addressInputId: 'address_input',
						eventsReceiverId: 'addPatientsContainer',
					}) -%>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label15 %></label>
						<input type="date" class="input-text input-text-outline" id="patientBirthDateInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label13 %></label>
						<input type="text" class="input-text input-text-outline" id="patientBirthPlaceInput">
					</div>				
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label11 %></label>
						<input type="number" class="input-text input-text-outline" id="patientChildrenInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label08 %></label>
						<select name="" class="input-text" id="patientStateSelect">
							<option value="عازب (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option01 %></option>
							<option value="متزوج (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option02 %></option>
							<option value="مطلق (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option03 %></option>
							<option value="ارمل (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option04 %></option>
						</select>
					</div>				
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label22 %></label>
						<input type="text" class="input-text input-text-outline" id="patientJobInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label23 %></label>
						<input type="text" class="input-text input-text-outline" id="patientStudyLevelInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label24 %></label>
						<input type="text" class="input-text input-text-outline" id="patientGroupInput">
					</div>				
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label25 %></label>
						<input type="text" class="input-text input-text-outline" id="patientheightInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label26 %></label>
						<input type="text" class="input-text input-text-outline" id="patientweightInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label27 %></label>
						<input type="text" class="input-text input-text-outline" id="patientbest_weightInput">
					</div>				
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label28 %></label>
						<select name="" class="input-text" id="patientsignup_reason_select">
						</select>
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label29 %></label>
						<input type="text" class="input-text input-text-outline" id="patienttitleInput">
					</div>				
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="row gx-4 gy-4">

						<div class="col-md-12">
							<div class="mb-4">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label19 %></label>
								<div class="mt-1">
									<img src="../assets/img/utils/qr.png" alt="" class="img-01 rounded" id="qrcodePreviewIMG">
								</div>
							</div>	
						</div>

						<div class="col-md-12">
							<div class="row gx-4 gy-4">

								<div class="col">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label14 %></label>
									<input type="file" class="input-text input-text-outline" id="patientAvatarFile" accept="image/*">
								</div>
								<div class="col">
									<img src="../assets/img/utils/placeholder.jpg" alt="" class="img-fluid img-thumbnail" id="patientAvatarPreview" data-croppable="true">
								</div>

							</div>
						</div>

					</div>			
				</div>

			</div>

			<div class="row" id="health_details_tab" data-role="tab_content" style="display:none;">

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label17 %></label>
						<select name="" class="input-text" id="diabetesSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option02 %>
							</option>
						</select>
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label18 %></label>
						<select name="" class="input-text" id="bloodPressureSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option02 %>
							</option>
						</select>
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label21 %></label>
						<select name="" class="input-text" id="chronicDiseaseSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select04.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select04.option02 %>
							</option>
						</select>
					</div>			
				</div>

				<div class="col-lg-6 col-md-6 d-none">

					<ul class="list-group list-group-flush overflow-x-hidden overflow-y-auto max-height-500px" id="chronic_diseases_list">
						<!-- <li class="list-group-item">An item</li> -->
					</ul>

					<div class="mt-4">
						<a href="#" class="js_panel_toggler_button" data-target="#add_more_chronic_diseases_panel">
							<%= UI_DISPLAY_LANG.views.pages.global.more %>
						</a>
					</div>
	
					<div class="d-none bg-white border py-3 px-2 rounded mt-4" id="add_more_chronic_diseases_panel">
	
						<div class="has-text-aligned-locale-inverted">
							<div class="close-button-sm js_panel_close_button" data-target="#add_more_chronic_diseases_panel">
								<i class="xfb xfb-close-sm-thin"></i>
							</div>
						</div>
	
						<div class="">

							<div class="mb-2">
								<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
								<input type="text" class="input-text input-text-outline" id="chronic_disease_name_input">
							</div>
	
							<button type="button" class="btn btn-success" id="create_new_chronic_disease_button">
								<%= UI_DISPLAY_LANG.views.pages.global.add_new_button %>
							</button>
	
						</div>
						
					</div>

				</div>

			</div>

			<div class="row" id="contact_details_tab" data-role="tab_content" style="display:none;">

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label09 %></label>
						<input type="text" class="input-text input-text-outline" id="patientWhatsappInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label10 %></label>
						<input type="text" class="input-text input-text-outline" id="patientFBInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label20 %></label>
						<input type="text" class="input-text input-text-outline" id="patientTelegramInput">
					</div>				
				</div>

			</div>

			<div class="row" id="create_appointment_tab" data-role="tab_content" style="display:none;">

				<div class="col-lg-6 col-md-6 col-sm-12 d-none">
					
					<div class="mb-2">
						<%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-departments.template.ejs', {
							componentId: 'filter',
							selectId: 'department_select',
							eventsReceiverId: 'addPatientsContainer',
						}) -%>
					</div>

					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
						<input type="text" class="input-text input-text-outline" id="apt_name_input">
					</div>

					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label28 %></label>
						<input type="number" step="any" class="input-text input-text-outline" id="apt_price_input">
					</div>

					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label27 %></label>
						<textarea class="input-text input-text-outline" rows="4" id="apt_note_input"></textarea>
					</div>

					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_date %></label>
						<input type="date" class="input-text input-text-outline" id="apt_date_input">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_time %></label>
						<input type="time" step="any" class="input-text input-text-outline" id="apt_time_input">
					</div>
					
				</div>

				<div class="col-lg-6 my-5" data-perm="create_private_appointment">

					<div class="mb-2">
						<a href="#" type="button" class="fs-17 fw-500 text-success" onclick="CreateAppointmentDialog__CentralAdmin()">
							<%= UI_DISPLAY_LANG.views.pages.global.add_new_button %>
						</a>
					</div>
					
					<div class="fs-16 fw-300">
						<%= UI_DISPLAY_LANG.views.messages.click_button_above_to_continue %>
					</div>

				</div>

			</div>

			<div class="">
				<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.submitBTN01 %>">
			</div>
		</form>
	</div>
</div>

<script>

$(async function()
{

var addPatientsContainer = $('#addPatientsContainer');
var ERROR_BOX = addPatientsContainer.find('#ERROR_BOX');

var addForm = addPatientsContainer.find('#addForm');
var clinicSelect = addForm.find('#clinicSelect');
var patientCodeInput = addForm.find('#patientCodeInput');
var patientNameInput = addForm.find('#patientNameInput');
var patientPhoneInput = addForm.find('#patientPhoneInput');
var patientPassInput = addForm.find('#patientPassInput');
var patientAgeInput = addForm.find('#patientAgeInput');
var patientGenderSelect = addForm.find('#patientGenderSelect');
var wilaya_select = addForm.find('#wilaya_select');
var address_input = addForm.find('#address_input');
var baladia_input = addForm.find('#baladia_input');
var patientBarcodeInput = addForm.find('#patientBarcodeInput');
var patientBirthPlaceInput = addForm.find('#patientBirthPlaceInput');
var patientBirthDateInput = addForm.find('#patientBirthDateInput');
var patientChildrenInput = addForm.find('#patientChildrenInput');
var patientStateSelect = addForm.find('#patientStateSelect');
var patientWhatsappInput = addForm.find('#patientWhatsappInput');
var patientFBInput = addForm.find('#patientFBInput');
var patientTelegramInput = addForm.find('#patientTelegramInput');
var diabetesSelect = addForm.find('#diabetesSelect');
var bloodPressureSelect = addForm.find('#bloodPressureSelect');
var chronicDiseaseSelect = addForm.find('#chronicDiseaseSelect');

var patientJobInput = addForm.find('#patientJobInput');
var patientStudyLevelInput = addForm.find('#patientStudyLevelInput');
var patientGroupInput = addForm.find('#patientGroupInput');
var patientheightInput = addForm.find('#patientheightInput');
var patientweightInput = addForm.find('#patientweightInput');
var patientbest_weightInput = addForm.find('#patientbest_weightInput');
var patientsignup_reason_select = addForm.find('#patientsignup_reason_select');
var patienttitleInput = addForm.find('#patienttitleInput');

var patientAvatarFile = addForm.find('#patientAvatarFile');
var patientAvatarPreview = addForm.find('#patientAvatarPreview');

var qrcodePreviewIMG = addForm.find('#qrcodePreviewIMG');

var chronic_diseases_list = addForm.find('#chronic_diseases_list')
var chronic_disease_name_input = addForm.find('#chronic_disease_name_input')
var create_new_chronic_disease_button = addForm.find('#create_new_chronic_disease_button') 

var wrapper01 = addPatientsContainer.find('#wrapper01');

var department_select = addForm.find('#department_select')
// var client_celect = addForm.find('#client_celect')
var create_appointment_button = addForm.find('#create_appointment_button')
var apt_name_input = addForm.find('#apt_name_input')
var apt_price_input = addForm.find('#apt_price_input')
var apt_note_input = addForm.find('#apt_note_input')
var apt_date_input = addForm.find('#apt_date_input')
var apt_time_input = addForm.find('#apt_time_input')

let TREATMENT_CLASS_PROMISE
let CHRONIC_DISEASE_PROMISE
// clear input
patientPassInput.val('');

var PatientObject = {
	patientId: sessionData().patientId,
	action_type: sessionData().action_type,
};
//
apt_date_input.val(CURRENT_DATE)
apt_time_input.val(CURRENT_TIME)
// clear session
// sessionData(true)
// submit
addForm.on('submit', async e =>
{
	e.preventDefault();

	var target = addForm;
	PatientObject.clinicId = clinicSelect.find(':selected').val();
	PatientObject.clinicName = clinicSelect.find(':selected').text();
	PatientObject.patientCode = patientCodeInput.val();
	PatientObject.patientName = patientNameInput.val();
	PatientObject.patientPhone = patientPhoneInput.val();
	PatientObject.patientPass = patientPassInput.val();
	PatientObject.patientAge = patientAgeInput.val();
	PatientObject.patientGender = patientGenderSelect.find(':selected').val();
	PatientObject.patientAddress = address_input.val();
	PatientObject.patientWilaya = wilaya_select.find(':selected').val();
	PatientObject.patientBaladia = baladia_input.val();
	PatientObject.patientState = patientStateSelect.find(':selected').val();
	PatientObject.patientWhatsapp = patientWhatsappInput.val();
	PatientObject.patientFB = patientFBInput.val();
	PatientObject.patientTelegram = patientTelegramInput.val();
	PatientObject.patientChildren = patientChildrenInput.val();
	PatientObject.patientBirthPlace = patientBirthPlaceInput.val();
	PatientObject.patientBirthDate = patientBirthDateInput.val();
	PatientObject.hasDiabetes = diabetesSelect.find(':selected').val();
	PatientObject.hasBloodPressure = bloodPressureSelect.find(':selected').val();
	PatientObject.hasChronicDisease = chronicDiseaseSelect.find(':selected').val();
	PatientObject.chronicDiseases = selectedChronicDiseases()

	PatientObject.patientJob = patientJobInput.val();
	PatientObject.studyLevel = patientStudyLevelInput.val();
	PatientObject.patientGroup = patientGroupInput.val();
	PatientObject.height = patientheightInput.val();
	PatientObject.weight = patientweightInput.val();
	PatientObject.best_weight = patientbest_weightInput.val();
	PatientObject.signup_reason = patientsignup_reason_select.find(':selected').text();
	PatientObject.classId = patientsignup_reason_select.find(':selected').val();
	PatientObject.title = patienttitleInput.val();

	// display loader
	SectionLoader(wrapper01);
	// update
	if ( PatientObject.patientId != null )
	{
		//create qr code
		var page = `${PROJECT_URL}Patient/Dashboard/?patient_session=${PatientObject.patientHashId}`;
		var qrcode = await generateQRCode( page );
		PatientObject.patientQRCode = qrcode;
		qrcodePreviewIMG.attr('src', qrcode);
		var response = await PATIENT_MODEL.update(PatientObject)
		
		//  loader
		SectionLoader(wrapper01, '');
		ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);

		CreateToast('PS', response.message, '')
		
		if ( response.code == 404 ) return

		// reset
		target[0].reset();
		// clear id
		PatientObject.patientId = null
		//
		
		return;
	}
	PatientObject.patientHashId = uniqid();
	//create qr code
	var page = `${PROJECT_URL}Patient/Dashboard/?patient_session=${PatientObject.patientHashId}`;
	var qrcode = await generateQRCode( page );
	PatientObject.patientQRCode = qrcode;
	qrcodePreviewIMG.attr('src', qrcode);
	// translate
	var response = await PATIENT_MODEL.store(PatientObject)
	
	// hide loader
	SectionLoader(wrapper01, '');
	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);

	CreateToast('PS', response.message, '')

	if ( response.code == 404 ) return
	// create appointment
	// check if create appointment form is filled
	if ( department_select.find(':selected').val() != '' || apt_name_input.val() != '' || apt_price_input.val() != '' )
	{
		if ( !response.data.patientId ) return

		response = await APPOINTMENT_MODEL.store({
			classId: department_select.find(':selected').val(),
			className: department_select.find(':selected').text(),
			clinicId: clinicSelect.find(':selected').val(),
			clinicName: clinicSelect.find(':selected').text(),
			patientId: response.data.patientId,
			patientName: response.data.patientName,
			aptNote: apt_note_input.val(),
			aptDate: apt_date_input.val(),
			aptTime: apt_time_input.val(),
			aptName: apt_name_input.val(),
			aptPrice: apt_price_input.val(),
			attendance: ST_YES,
			isPaid: ST_NO,
		})
	}

	if ( response.code == 404 ) return

	// reset
	target[0].reset();
	//
});
// select avatar
patientAvatarFile.on('change', async e =>
{
	if ( patientAvatarFile[0].files.length == 0 ) return

	PatientObject.patientAvatar = await imageToDataURL(patientAvatarFile[0].files[0])
	previewAvatar()
})
// select chronic diseases
chronicDiseaseSelect.on('change', e =>
{
	var val = chronicDiseaseSelect.find(':selected').val()

	if ( val == ST_YES )
	{
		chronic_diseases_list.parent().removeClass('d-none')
	}
	else
	{
		chronic_diseases_list.parent().addClass('d-none')
	}
})
//
department_select.on('change', e =>
{
	var data = checkJSON( decodeURIComponent( atob( department_select.find(':selected').data('object') ) ) )

    apt_price_input.val(data.classPrice)
    if ( FUI_DISPLAY_LANG.lang == 'ar' ) apt_name_input.val('موعد '+data.className)
    else if ( FUI_DISPLAY_LANG.lang == 'fr' ) apt_name_input.val('Rendez-vous de '+data.className)
})
// wilaya-selected-first-time
wilaya_select.off('wilaya-selected-first-time').on('wilaya-selected-first-time', async e =>
{
	var detail = e.originalEvent.detail

	if ( detail.eventsReceiverId != 'addPatientsContainer' ) return

	if ( USER_CONFIG.administration.clinicId != 0 )
	{
		var clinicData = (await CLINIC_MODEL.show(USER_CONFIG.administration.clinicId)).data
		setOptionSelected(wilaya_select, clinicData.clinicState, true)
	}

	displayOne(PatientObject.patientId);
})

// create new chronic disease
create_new_chronic_disease_button.on('click', async e =>
{
	create_new_chronic_disease_button.addClass('disabled')

	var res = await CHRONIC_DISEASE_MODEL.store({
		name: chronic_disease_name_input.val(),
	})

	create_new_chronic_disease_button.removeClass('disabled')

	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
	CreateToast('PS', res.message, '')

	if ( res.code == 404 ) return

	chronic_disease_name_input.val('')
	displayChronicDiseases()
})
// search clinics
// display loader
SectionLoader(clinicSelect.closest('.section'));
var response = await CLINIC_MODEL.search('');
// hide loader
SectionLoader(clinicSelect.closest('.section'), '');
if ( response.code == 200 )
{
	var data = response.data;
	var html = '';
	$.each(data, (k,v) =>
	{
		html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
	});
	// add html
	clinicSelect.html(html);
}

// display one

function displayOne(patientId)
{
	// fill fields to create new 
	var session_data = sessionData(true)
	if ( PatientObject.action_type == 'create' )
	{
		patientCodeInput.val(session_data.patientPhone);
		patientNameInput.val(session_data.patientName);
		patientPhoneInput.val(session_data.patientPhone);
		patientAgeInput.val(session_data.patientAge);
		setOptionSelected(wilaya_select, session_data.patientWilaya)
		baladia_input.val(session_data.patientBaladia);
		setOptionSelected(patientGenderSelect, session_data.patientGender);
	}

	if ( patientId == null )
		return;

	Promise.allSettled([TREATMENT_CLASS_PROMISE, CHRONIC_DISEASE_PROMISE])

	// display loader
	SectionLoader(wrapper01);
	PATIENT_MODEL.show(patientId).then(response =>
	{
		// hide loader
		SectionLoader(wrapper01, '');
		if ( response.code == 404 )
			return;

		var data = response.data;

		// display on form
		setOptionSelected(clinicSelect, data.clinicId);
		patientCodeInput.val(data.patientCode);
		patientNameInput.val(data.patientName);
		patientPhoneInput.val(data.patientPhone);
		patientPassInput.val( (data.patientPass != null && data.patientPass != '') ? data.patientPass : '' );
		patientAgeInput.val(data.patientAge);
		setOptionSelected(patientGenderSelect, data.patientGender);
		address_input.val(data.patientAddress);
		console.log( data.patientWilaya )
		setOptionSelected(wilaya_select, data.patientWilaya)
		baladia_input.val(data.patientBaladia);
		patientBarcodeInput.val(data.patientBarcode);
		setOptionSelected(diabetesSelect, data.hasDiabetes);
		setOptionSelected(bloodPressureSelect, data.hasBloodPressure);
		setOptionSelected(chronicDiseaseSelect, data.hasChronicDisease, true);

		// chronicDiseases
		if ( data.chronicDiseases )
		{
			$.each(data.chronicDiseases, (k,v) =>
			{
				toggleCheck($(`#chronic_disease_${v.id}`), true)
			})
		}

		patientBirthPlaceInput.val(data.patientBirthPlace);
		patientBirthDateInput.val(data.patientBirthDate);
		patientChildrenInput.val(data.patientChildren);
		setOptionSelected(patientStateSelect, data.patientState);
		patientWhatsappInput.val(data.patientWhatsapp);
		patientFBInput.val(data.patientFB);
		patientTelegramInput.val(data.patientTelegram);

		patientJobInput.val(data.patientJob);
		patientStudyLevelInput.val(data.studyLevel);
		patientGroupInput.val(data.patientGroup);
		patientheightInput.val(data.height);
		patientweightInput.val(data.weight);
		patientbest_weightInput.val(data.best_weight);
		setOptionSelected(patientsignup_reason_select, data.classId)
		patienttitleInput.val(data.title);

		PatientObject.patientQRCode = data.patientQRCode;
		PatientObject.patientHashId = data.patientHashId;
		qrcodePreviewIMG.attr('src', data.patientQRCode);
		PatientObject.patientAvatar = data.patientAvatar
		previewAvatar()
	});
}
// display departments
displayDepartments()
async function displayDepartments()
{
	TREATMENT_CLASS_PROMISE = TREATMENT_CLASS_MODEL.index()

	var res = await TREATMENT_CLASS_PROMISE

	var data = res.data
	var html = ''

	$.each(data, (k,v) =>
	{
		html += `<option value="${v.classId}">${v.className}</option>`
	})


	patientsignup_reason_select.html(html)
}
// display chronic diseases
displayChronicDiseases()
async function displayChronicDiseases()
{
	TREATMENT_CLASS_PROMISE = CHRONIC_DISEASE_MODEL.search({
		query: ''
	})

	var res = await TREATMENT_CLASS_PROMISE

	var data = res.data
	var html = ''

	$.each(data, (k,v) =>
	{
		html += `<li class="list-group-item" data-role="row" data-id="${v.id}" data-name="${v.name}">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="chronic_disease_${v.id}">
						<label class="form-check-label" for="chronic_disease_${v.id}">
							${v.name}
						</label>
					</div>
				</li>`
	})

	chronic_diseases_list.html(html)
}

// preview avatar
function previewAvatar()
{
	if ( !PatientObject.patientAvatar ) return

	patientAvatarPreview.attr('src', PatientObject.patientAvatar)
}
// selected chronic diseases
function selectedChronicDiseases()
{
	var list = []

	var items = chronic_diseases_list.find('[data-role="row"]')

	for (let i = 0; i < items.length; i++) 
	{
		const parent = $(items[i])
		const check = parent.find('input[type="checkbox"]')

		if ( check.is(':checked') )
		{
			list.push({
				id: parent.data('id'),
				name: parent.data('name'),
			})
		}
	}

	return list
}

})

</script>