<div class="container-fluid" id="addConsommablesContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_products.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div id="wrapper01">
			<form action="#" id="addForm">

				<div class="mb-2">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-supplier.template.ejs`, {
                        eventsReceiverId: 'addConsommablesContainer'
                    }) -%>
				</div>

                <div class="mb-2">
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-categories.template.ejs`, {
                        eventsReceiverId: 'addConsommablesContainer',
                    }) -%>
                </div>

                <div class="mb-2 max-width-340px">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label38 %></label>
                    <!-- <input type="text" class="input-text" id="codeInput" value=""> -->
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-suggestions-box.template.ejs`, {
                        componentId: '1',
                        eventsReceiverId: 'addProductsContainer',
                        searchInputId: 'codeInput',
                        suggestions: {
                            api: {
                                model: "CONSOMMABLE_MODEL"
                            },
                            selections: {
                                name: 'name',
                                value: 'code',
                            }
                        }
                    }) -%>
                </div>
				
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label01 %></label>
                    <input type="text" class="input-text" id="nameInput" value="">
                </div>

				<div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label02 %></label>
					<textarea name="" id="descInput" class="input-text" rows="4"></textarea>
                </div>

				<div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label40 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="priceInput" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label04 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="quantityInput" value="1">
                </div>

				<div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label06 %></label>
                    <input type="text" step="any" min="1" class="input-text" id="barcodeInput" value="">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label47 %></label>
                    <input type="date" step="any" class="input-text" id="expireDateInput" value="">
                </div>

				<div class="my-3">
                    <div class="mb-2">
                        <button type="button" class="btn btn-success" id="addToListBTN">
                            <%= UI_DISPLAY_LANG.views.pages.add_products.btn01 %>
                        </button>
                    </div>
                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label43 %></label>
                        <input type="number" step="any" min="1" class="input-text" readonly id="totalAmountInput" value="0">
                    </div>
                    <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                        <table class="table table-stripped table-hover" id="productsTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th01 %></th>
									<th><%= UI_DISPLAY_LANG.views.pages.add_products.th05 %></th>
									<th><%= UI_DISPLAY_LANG.views.pages.add_products.th04 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th02 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th33 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <button class="btn-close"></button>
                                    </td>
                                    <td>name</td>
									<td>desc</td>
									<td>codebar</td>
                                    <td>quantity</td>
                                    <td>price</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
				</div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label42 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="paidAmountInput" value="0">
                </div>

				<div class="mt-2">
					<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_products.form01.submitBTN01 %>">
				</div>
			</form>	
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#addConsommablesContainer');
if ( !page_container[0] )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');
var addForm = page_container.find('#addForm');
var supplierSelect = addForm.find('#select_supplier_template_center_select');
var select_categories_template_category_select = addForm.find('#select_categories_template_category_select');
var nameInput = addForm.find('#nameInput');
var codeInput = addForm.find('#codeInput');
var descInput = addForm.find('#descInput');
var quantityInput = addForm.find('#quantityInput');
var priceInput = addForm.find('#priceInput');
var barcodeInput = addForm.find('#barcodeInput');
var expireDateInput = addForm.find('#expireDateInput');
var paidAmountInput = addForm.find('#paidAmountInput');
var totalAmountInput = addForm.find('#totalAmountInput');
var productsTable = addForm.find('#productsTable');
var addToListBTN = addForm.find('#addToListBTN');

// addForm
addForm.off('submit');
addForm.on('submit', async e =>
{
    e.preventDefault();
    
    SectionLoader(addForm);
    var order_amount_paid = parseFloat(paidAmountInput.val())
    var order_total_amount = totalAmountCalc()
    var order_dept_amount = 0

    if ( order_amount_paid > 0 )
    {
        order_dept_amount = order_total_amount - order_amount_paid
    }
    
    var response = await CONSOMMABLE_MODEL.central_administration_batchStore({
        ProductObjects: getList(),
        supplier_id: supplierSelect.find(':selected').val(),
        supplier_name: supplierSelect.find(':selected').text(),
        order_amount_paid: order_amount_paid,
        order_total_amount: order_total_amount,
        order_dept_amount: order_dept_amount,
    });
    SectionLoader(addForm, '');
    if ( response.code == 404 )
    {
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        return;
    }
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
    clearList();
    addForm[0].reset();

});
// barcode
listenForBarcodeScanner(code =>
{
    if ( barcodeInput.is(':focus') )
        barcodeInput.val(code);
});
// productsTable
productsTable.off('click');
productsTable.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'REMOVE_FROM_LIST' )
    {
        target.closest('[data-role="ROW"]').remove();
        // calculate total amount
        totalAmountCalc()
    }
});
// addToListBTN
addToListBTN.off('click');
addToListBTN.on('click', e =>
{
    addToList();
    codeInput.val('')
    nameInput.val('')
});
// suggestion selected
$(document).off('suggestion-selected').on('suggestion-selected', e =>
{
    var detail = e.originalEvent.detail
    var suggestion = detail.suggestion
    nameInput.val( suggestion.name )
    descInput.val( suggestion.data.description )
    priceInput.val( suggestion.data.price )
    quantityInput.val( suggestion.data.quantity )
    setOptionSelected( select_categories_template_category_select, suggestion.data.category_id )
})
// add to list
function addToList()
{
    var category_id = select_categories_template_category_select.find(':selected').val()
    var category_name = select_categories_template_category_select.find(':selected').text()

    var html = `<tr data-role="ROW" data-code="${codeInput.val()}" data-category-id="${category_id}" data-category-name="${category_name}" data-name="${nameInput.val()}" data-desc="${descInput.val()}" data-quantity="${quantityInput.val()}" data-price="${priceInput.val()}" data-barcode="${barcodeInput.val()}" data-expired-at="${expireDateInput.val()}">
                    <td>
                        <button class="btn-close" data-role="REMOVE_FROM_LIST"></button>
                    </td>
                    <td>${codeInput.val()}</td>
                    <td>
                        <div class="mb-2">${nameInput.val()}</div>
                        <div class="alert alert-info py-1 d-inline-block">${category_name}</div>
                    </td>
                    <td>${descInput.val()}</td>
                    <td>${barcodeInput.val()}</td>
                    <td>${quantityInput.val()}</td>
                    <td>${priceInput.val()}</td>
                    <td class="has-direction-ltr">
                        <div class="mb-2">${quantityInput.val()} x ${priceInput.val()}</div>
                        <div>= ${ quantityInput.val() * priceInput.val() }</div>
                    </td>
                </tr>PAG_SEP`;
                
    productsTable.find('tbody').append(html)
    // calculate total amount
    totalAmountCalc()
}
// clear list
function clearList()
{
    productsTable.find('tbody').html('');
    // calculate total amount
    totalAmountCalc()
}
// get list
function getList()
{
    var list = [];
    var rows = productsTable.find('[data-role="ROW"]');
    for (let i = 0; i < rows.length; i++) 
    {
        const product = $(rows[i]);
        list.push({
            // supplier_id: supplierSelect.find(':selected').val(),
            // supplier_name: supplierSelect.find(':selected').text(),
            category_id: product.data('category-id'),
            category_name: product.data('category-name'),
            code: product.data('code'),
            name: product.data('name'),
            description: product.data('desc'),
            price: product.data('price'),
            quantity: product.data('quantity'),
            barcode: product.data('barcode'),
            expired_at: product.data('expired-at'),
        });
    }

    return list;
}
// calculate total amount
function totalAmountCalc()
{
    var items = getList()
    var total = 0

    for (let i = 0; i < items.length; i++) 
    {
        const item = items[i];
        total += parseFloat(item.price) * parseInt(item.quantity)
    }

    // display total amount
    totalAmountInput.val(total)

    return total
}

})

</script>