<div class="container-fluid" id="patientsStatsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="app-block mt-2">
		<div class="mb-2 section">
			<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.patients_stats.label01 %></label>
			<select name="" class="select-01" id="clinicSelect">
			
			</select>
		</div>
	</div>
	<div class="mt-2 row gx-4 gy-3">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="app-block">
				<div class="d-inline-flex flex-center w-100 h-100" style="max-height: 100%;">
					<canvas id="chartEl01" class="" style="max-height:100%;"></canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12" id="biggestWeightLossDiv">
			<div class="app-block">
				<h6 class="h6 mb-3"><%= UI_DISPLAY_LANG.views.pages.patients_stats.text01 %></h6>
				<div id="pagination1" class="my-2"></div>
				<div id="contents">
					<!--
					<div class="border-bottom py-3 text-04">
						عبد النور عدواني
					</div>
					<div class="border-bottom py-3 text-04">
						سمير احثريب
					</div>
					<div class="border-bottom py-3 text-04">
						محمد عبيدي
					</div>
					-->
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12" id="biggestWeightGainDiv">
			<div class="app-block">
				<h6 class="h6 mb-3"><%= UI_DISPLAY_LANG.views.pages.patients_stats.text02 %></h6>
				<div id="pagination2" class="my-2"></div>
				<div id="contents">
					<!--
					<div class="border-bottom py-3 text-04">
						عبد النور عدواني
					</div>
					<div class="border-bottom py-3 text-04">
						سمير احثريب
					</div>
					<div class="border-bottom py-3 text-04">
						محمد عبيدي
					</div>
					-->
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12" id="oldestClientDiv">
			<div class="app-block">
				<h6 class="h6 mb-3"><%= UI_DISPLAY_LANG.views.pages.patients_stats.text03 %></h6>
				<div id="pagination3" class="my-2"></div>
				<div id="contents">
					<!--
					<div class="border-bottom py-3 text-04">
						عبد النور عدواني
					</div>
					<div class="border-bottom py-3 text-04">
						سمير احثريب
					</div>
					<div class="border-bottom py-3 text-04">
						محمد عبيدي
					</div>
					-->
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12" id="youngestClientDiv">
			<div class="app-block">
				<h6 class="h6 mb-3"><%= UI_DISPLAY_LANG.views.pages.patients_stats.text04 %></h6>
				<div id="pagination4" class="my-2"></div>
				<div id="contents">
					<!--
					<div class="border-bottom py-3 text-04">
						عبد النور عدواني
					</div>
					<div class="border-bottom py-3 text-04">
						سمير احثريب
					</div>
					<div class="border-bottom py-3 text-04">
						محمد عبيدي
					</div>
					-->
				</div>
			</div>
		</div>
	</div>

    <div class="mt-2">

        <a href="#" id="show_more_settings_button" data-target="#map_stats_wrapper"><%= UI_DISPLAY_LANG.views.pages.global.show_more_settings_button %></a>

    </div>

    <div class="d-none" id="map_stats_wrapper">

        <div class="app-block mt-2">
		
            <h1 class="h1"><%= UI_DISPLAY_LANG.views.pages.global.label9 %></h1>
    
        </div>
    
        <div class="app-block mt-2">
    
            <div class="row gx-4 gy-4">
    
                <div class="col-lg-4 col-md-6">
    
                    <div class="">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label13 %></label>
                        <select name="" class="select-01" id="clinicSelect2">
                        
                        </select>
                    </div>
    
                </div>

                <div class="col-lg-4 col-md-6">
    
                    <div class="">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label17 %></label>
                        <select name="" class="select-01" id="wilaya_select">
                        
                        </select>
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <div class="app-block mt-2">

            <div id="regions_div" class="w-100" style="height: 500px;"></div>

        </div>

        <div class="app-block mt-2 d-none">

            <div id="list_pagination" class="flex flex-center my-2"></div>
            <div class="utable shadowed" id="table">
                <div class="thead">
                    <div class="td">#</div>
                    <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th15 %></div>
                    <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th8 %></div>
                </div>
                <div class="tbody">
                    <!--
                    <div class="tr">
                        <div class="td"></div>
                        <div class="td">clinicname</div>
                        <div class="td">classname</div>
                    </div>
                    -->
                </div>
            </div>

        </div>

    </div>

</div>

<script>

$(async function()
{

var statisticsContainer = $('#patientsStatsContainer');
if ( statisticsContainer[0] == undefined )
    return;

var ERROR_BOX = statisticsContainer.find('#ERROR_BOX');

var biggestWeightLossDiv = statisticsContainer.find('#biggestWeightLossDiv');
var biggestWeightGainDiv = statisticsContainer.find('#biggestWeightGainDiv');
var oldestClientDiv = statisticsContainer.find('#oldestClientDiv');
var youngestClientDiv = statisticsContainer.find('#youngestClientDiv');

var clinicSelect = statisticsContainer.find('#clinicSelect');

var pagination1 = statisticsContainer.find('#pagination1');
var pagination2 = statisticsContainer.find('#pagination2');
var pagination3 = statisticsContainer.find('#pagination3');
var pagination4 = statisticsContainer.find('#pagination4');

var show_more_settings_button = statisticsContainer.find('#show_more_settings_button');
var regions_div = statisticsContainer.find('#regions_div');
var clinicSelect2 = statisticsContainer.find('#clinicSelect2');
var wilaya_select = statisticsContainer.find('#wilaya_select');

var chartEl01 = statisticsContainer.find('#chartEl01');
let chart01;

// list clinics
SectionLoader(clinicSelect.closest('.section'));
var response = await searchClinics('');
// hide loader
SectionLoader(clinicSelect.closest('.section'), '');

if ( response.code == 404 )
    return;

if ( FUI_DISPLAY_LANG.lang == 'ar' )
    clinicSelect.html('<option value="NONE">حدد العيادة</option>');
else if ( FUI_DISPLAY_LANG.lang == 'fr' )
    clinicSelect.html('<option value="NONE">Sélectionnez la clinique</option>');
var data = response.data;
var html = '';
$.each(data, (k,v) =>
{
    html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
});
clinicSelect.append(html);
if ( FUI_DISPLAY_LANG.lang == 'ar' ) clinicSelect2.html(`<option value="general">عام</option>`)
else if ( FUI_DISPLAY_LANG.lang == 'fr' ) clinicSelect2.html(`<option value="general">général</option>`)
clinicSelect2.append(html)
// select clinic
clinicSelect.off('change');
clinicSelect.on('change', e =>
{
    displayAll();
});
// display states
getAllStates().then(res =>
{
    if ( res.code == 404 ) return

    var data = res.data
    var html = ''

    $.each(data, (k,v) =>
    {
        html += `<option value="${v.wilaya_name}">${v.wilaya_name}</option>`
    })
    if ( FUI_DISPLAY_LANG.lang == 'ar' ) wilaya_select.html(`<option value="general">عام</option>`)
    else if ( FUI_DISPLAY_LANG.lang == 'fr' ) wilaya_select.html(`<option value="general">général</option>`)
    wilaya_select.append(html)
})
// show more settings
show_more_settings_button.on('click', e =>
{
    e.preventDefault()

    statisticsContainer.find(show_more_settings_button.data('target')).removeClass('d-none')
    displayMapStats({
        request_type: 'index_chart'
    })
})
clinicSelect2.on('change', e =>
{
    var selected = clinicSelect2.find(':selected')
    if ( selected.val() == 'general' )
    {
        displayMapStats({
            request_type: 'index_chart',
        });
        return
    }
    displayMapStats({
        request_type: 'byCenter_chart',
        clinicId: selected.val()
    });
});
wilaya_select.on('change', e =>
{
    var selected = wilaya_select.find(':selected')
    if ( selected.val() == 'general' )
    {
        displayMapStats({
            request_type: 'index_chart',
        });
        return
    }
    displayMapStats({
        request_type: 'byState_chart',
        wilaya: selected.val()
    });
});
// display stats
async function displayAll()
{
    SectionLoader(biggestWeightLossDiv);
    SectionLoader(biggestWeightGainDiv);
    SectionLoader(oldestClientDiv);
    SectionLoader(youngestClientDiv);
    SectionLoader(chartEl01.parent());
    // patients
    var patients = await listPatientsLocal({
        clinicId: clinicSelect.find(':selected').val()
    });
    SectionLoader(biggestWeightLossDiv, '');
    SectionLoader(biggestWeightGainDiv, '');
    SectionLoader(oldestClientDiv, '');
    SectionLoader(youngestClientDiv, '');
    SectionLoader(chartEl01.parent(), '');
    if ( patients.code == 200 )
    {
        var data = patients.data;
        var html = '';
        // loop wieght loss
        if ( data.biggest_weight_loss )
        {
            $.each(data.biggest_weight_loss, (k,v) =>
            {
                if ( FUI_DISPLAY_LANG.lang == 'ar' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName}
                        </div>PAG_SEP`;
                }
                else if ( FUI_DISPLAY_LANG.lang == 'fr' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName}
                        </div>PAG_SEP`;
                }
            });
            //
            var options = {
                data: html.split('PAG_SEP'),
                resultsPerPage: 5
            };
            new SmoothPagination(pagination1, biggestWeightLossDiv.find('#contents'), options);
        }
        // loop wieght gain
        if ( data.biggest_weight_gain )
        {
            html = '';
            $.each(data.biggest_weight_gain, (k,v) =>
            {
                if ( FUI_DISPLAY_LANG.lang == 'ar' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName}
                        </div>PAG_SEP`;
                }
                else if ( FUI_DISPLAY_LANG.lang == 'fr' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName}
                        </div>PAG_SEP`;
                }
            });
            //
            var options = {
                data: html.split('PAG_SEP'),
                resultsPerPage: 5
            };
            new SmoothPagination(pagination2, biggestWeightGainDiv.find('#contents'), options);
        }
        // loop oldest in age
        if ( data.oldest_age )
        {
            html = '';
            $.each(data.oldest_age, (k,v) =>
            {
                if ( FUI_DISPLAY_LANG.lang == 'ar' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName} <span class="text-muted text-04">عمر (${v.patientAge}) سنة.</span>
                        </div>`;
                }
                else if ( FUI_DISPLAY_LANG.lang == 'fr' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName} <span class="text-muted text-04">(${v.patientAge}) ans.</span>
                        </div>`;
                }
            });
            //
            var options = {
                data: html.split('PAG_SEP'),
                resultsPerPage: 5
            };
            new SmoothPagination(pagination3, oldestClientDiv.find('#contents'), options);
        }
        // loop youngest in age
        if ( data.youngest_age )
        {
            html = '';
            $.each(data.youngest_age, (k,v) =>
            {
                if ( FUI_DISPLAY_LANG.lang == 'ar' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName} <span class="text-muted text-04">عمر (${v.patientAge}) سنة.</span>
                        </div>`;
                }
                else if ( FUI_DISPLAY_LANG.lang == 'fr' )
                {
                    html += `<div class="border-bottom py-3 text-02">
                            ${v.patientName} <span class="text-muted text-04">(${v.patientAge}) ans.</span>
                        </div>`;
                }
            });
            //
            var options = {
                data: html.split('PAG_SEP'),
                resultsPerPage: 5
            };
            new SmoothPagination(pagination4, youngestClientDiv.find('#contents'), options);
        }
        // chart
        // loop data
        var labels = [];
        var fdata = [];
        for (var i = 0; i < data.current_year_chart.length; i++) 
        {
            var v = data.current_year_chart[i];
            // add months
            labels.push( translateMonthName(v.date) );
            // add data
            fdata.push(v.total);
        }
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            const ctx = chartEl01[0].getContext('2d');
            if ( chart01 )
                chart01.destroy();
            chart01 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: 'عدد الزبائن',
                        data: fdata,
                        backgroundColor: [
                            'rgba(194, 240, 194, 0.2)'
                        ],
                        borderColor: [
                            'rgba(50, 205, 50, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: true,
                            textDirection: 'rtl'
                        },
                        title: {
                            text: "عدد المشتركين خلال اشهر السنة",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            const ctx = chartEl01[0].getContext('2d');
            if ( chart01 )
                chart01.destroy();
            chart01 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        barPercentage: 0.5,
                        barThickness: 50,
                        //maxBarThickness: 8,
                        minBarLength: 2,
                        label: 'nombre de clients',
                        data: fdata,
                        backgroundColor: [
                            'rgba(194, 240, 194, 0.2)'
                        ],
                        borderColor: [
                            'rgba(50, 205, 50, 1)'
                        ],
                        borderWidth: 1,
                        borderRadius: 10,
                        hoverOffset: 4
                    }]
                },
                options: {
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                            rtl: false,
                            textDirection: 'ltr'
                        },
                        title: {
                            text: "Nombre d'abonnés pendant les mois de l'année",
                            font: {
                                weight: 'bold',
                                size: "16px"
                            },
                            display:true,
                            position: "top"
                        }
                    },
                    onResize: function(e)
                    {
                        // set canvas width
                        //chartEl01.css('width', '100%');
                    }
                }
            });	
            // set canvas width
            //chartEl02.css('width', '100%');
        }
    }
}
// display map stats
async function displayMapStats(params)
{
    if ( params.request_type == 'index_chart' )
        var res = await PATIENT_STAT_MODEL.index_chart(params)
    else if ( params.request_type == 'byCenter_chart' )
        var res = await PATIENT_STAT_MODEL.byCenter_chart(params)
    else if ( params.request_type == 'byState_chart' )
        var res = await PATIENT_STAT_MODEL.byState_chart(params)

    var more_map_info = regions_div.parent().next()
    regions_div.html('')
    more_map_info.find('#table .tbody').html('')
    if ( res.code == 404 ) return

    var data = res.data
    var colors = []

    var col1_label = (FUI_DISPLAY_LANG.lang == 'ar') ? 'الولاية' : "état"
    var col2_label = (FUI_DISPLAY_LANG.lang == 'ar') ? 'عدد الزبائن' : "Nombre de clients"
    var map_data = [
        [col1_label, col2_label]
    ]
    var html = ''
    var i = 1
    $.each(data, (k,v) =>
    {
        colors.push(getRandomColor())
        map_data.push([v.wilaya, `${v.wilaya} [${v.total}]`])

        html += `<div class="tr">
                    <div class="td">${i}</div>
                    <div class="td">${v.wilaya}</div>
                    <div class="td">${v.total}</div>
                </div>PAG_SEP`
        i++
    })
    // draw map
    google.charts.load('current', {
        'packages': ['geochart'],
        'mapsApiKey': 'AIzaSyBkVYB4MAOLqk-JqoBdct0o89endQOKqQk',
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() 
    {
        var data = google.visualization.arrayToDataTable(map_data);
        var values = colors.map((k,v) => {
            return v 
        })
     
        var options = {
            backgroundColor: '#f0f0f0',
            datalessRegionColor: '#dedede',
            tooltip: {trigger: 'focus'},
            region: 'DZ',
            sizeAxis: { minValue: 0, maxValue: 100 },
            // displayMode: 'regions',
            // displayMode: 'text',
            displayMode: 'markers',
            resolution: 'provinces',
            colorAxis: {
                colors: colors,
                values: values
            },
            defaultColor: '#00853f',
        };

        var chart = new google.visualization.GeoChart(regions_div[0]);

        chart.draw(data, options);
    }

    // more info
    
    more_map_info.removeClass('d-none')

    new SmoothPagination(more_map_info.find('#list_pagination'), more_map_info.find('#table .tbody'), 
    {
        data: html.split('PAG_SEP')
    })
    

}

})

</script>