<div class="container-fluid" id="create_categories_Container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.send_message.sectionTitle %></h1>
	</div>

    <div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
        <img src="assets/img/utils/info.png" class="alert-icon" alt="">
        <div class="alert-text" id="text"></div>
    </div>

	<div class="mt-3">
		
        <div class="row gx-4 gy-4">

            <div class="col-lg-6 col-md-6" data-perm="create_categories">

                <div class="app-block">

                    <form action="#" id="create_form">

                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
                            <input type="text" class="input-text input-text-outline" id="name_input">
                        </div>
            
                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label4 %></label>
                            <textarea name="" class="input-text input-text-outline" id="description_input" rows="4"></textarea>
                        </div>
                        
                        <div class="">
                            <input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
                        </div>
            
                    </form>

                </div>

            </div>

            <div class="col-lg-6 col-md-6" data-perm="view_categories">

                <div class="app-block">

                    <div class="table-nav">

                        <div class="row gx-4 gy-4">
    
                            <div class="col-lg col-md-6 col-sm-12">
                                <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                                    searchBtnId: 'search_btn',
                                    searchInputId: 'search_input',
                                }) -%>
                            </div>
                            <div class="col-lg col-md-6 col-sm-12">
                                <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                                    dateStartId: 'date_start_input',
                                    dateEndId: 'date_end_input',
                                }) -%>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div id="pagination" class="flex flex-center"></div>

                    <div class="utable shadowed overflow-visible" id="table_element">
                        <div class="thead">
                            <div class="td">#</div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th1 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th38 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th6 %></div>
                            <div class="td"></div>
                        </div>
                        <div class="tbody">
                            <!--
                            <div class="tr" data-role="row" data-id="">
                                <div class="td">
                                    <input type="checkbox" class="form-check-input pointer" data-role="CHECK">
                                </div>
                                <div class="td">name</div>
                                <div class="td">body</div>
                                <div class="td">
                                    <button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-aptid="">
                                        <span class="no-pointer"><i class="fas fa-edit"></i></span>
                                    </button>		
                                </div>
                            </div>
                            -->
                        </div>
                    </div>

                </div>

            </div>

        </div>

	</div>
</div>

<script>

    $(function()
    {

        var page_container = $('#create_categories_Container')
        if ( !page_container[0] ) return

        var ERROR_BOX = page_container.find('#ERROR_BOX')

        var create_form = page_container.find('#create_form')
        var name_input = create_form.find('#name_input')
        var description_input = create_form.find('#description_input')

        var search_btn = page_container.find('#search_btn')
        var search_input = page_container.find('#search_input')
        var date_start_input = page_container.find('#date_start_input')
        var date_end_input = page_container.find('#date_end_input')
        var pagination = page_container.find('#pagination')
        var table_element = page_container.find('#table_element')

        var CategoryObject = sessionData(true)

        date_start_input.val(CURRENT_DATE)
        date_end_input.val(CURRENT_DATE)
        // table_element
        table_element.on('click', async e =>
        {
            var target = $(e.target)

            if ( target.data('role') == 'UPDATE' )
            {
                var parent = target.closest('[data-role="row"]')
                
                parent.addClass('disabled')
                var res = await CATEGORY_MODEL.show({
                    id: parent.data('id')
                })
                parent.removeClass('disabled')
                if ( res.code == 404 ) return

                CategoryObject = res.data
                displayInfo()
            }
            else if ( target.data('role') == 'DELETE' )
            {
                var parent = target.closest('[data-role="row"]')
                
                PromptConfirmDialog().then(async c =>
                {
                    parent.addClass('disabled')
                    var res = await CATEGORY_MODEL.delete({
                        id: parent.data('id')
                    })
                    parent.removeClass('disabled')
                    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
                    if ( res.code == 404 ) return

                    displayAll({
                        method_type: 'search',
                        query: search_input.val(),
                    })
                })
            }
        })
        // submit
        create_form.on('submit', async e =>
        {
            e.preventDefault()
            var target = create_form

            CategoryObject.name = name_input.val()
            CategoryObject.description = description_input.val()

            SectionLoader(create_form)
            // update
            if ( CategoryObject.id )
            {
                var res = await CATEGORY_MODEL.update(CategoryObject)
                SectionLoader(create_form, '')
                ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)

                if ( res.code == 404 ) return

                target.find('input[type="text"], textarea').val('')
                CategoryObject.id = null
                displayAll({
                    method_type: 'search',
                    query: search_input.val(),
                })
                return
            }
            // store
            var res = await CATEGORY_MODEL.store(CategoryObject)
            SectionLoader(create_form, '')
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)

            if ( res.code == 404 ) return

            target.find('input[type="text"], textarea').val('')

            displayAll({
                method_type: 'search',
                query: search_input.val(),
            })
        })
        // search
        search_btn.on('click', e =>
        {
            displayAll({
                method_type: 'search',
                query: search_input.val(),
                advanced: {
                    start: date_start_input.val(),
                    end: date_end_input.val(),
                }
            })
        })
        search_input.on('keyup', e =>
        {
            displayAll({
                method_type: 'search',
                query: search_input.val(),
            })
        })
        // display all
        displayAll({
            method_type: 'search',
            query: search_input.val(),
        })
        async function displayAll(params)
        {
            table_element.find('.tbody').html('')
            if ( params.method_type == 'search' )
                var res = await CATEGORY_MODEL.search(params)

            if ( res.code == 404 ) return

            var data = res.data
            var html = ''

            $.each(data, (k,v) =>
            {
                html += `<div class="tr" data-role="row" data-id="${v.id}">
                                <div class="td">
                                    <input type="checkbox" class="form-check-input pointer" data-role="CHECK">
                                </div>
                                <div class="td">${ strSnippet(v.name) }</div>
                                <div class="td">${ strSnippet(v.description) }</div>
                                <div class="td">${ v.created_at }</div>
                                <div class="td pointer overflow-visible">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton_${v.id}" data-bs-toggle="dropdown" aria-expanded="false">
                                            ${FUI_DISPLAY_LANG.views.pages.global.label30}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton_${v.id}">
                                            <li><a class="dropdown-item" href="#" data-role="UPDATE" data-perm="update_categories">${FUI_DISPLAY_LANG.views.pages.global.actions.update}</a></li>
                                            <li><a class="dropdown-item" href="#" data-role="DELETE" data-perm="delete_categories">${FUI_DISPLAY_LANG.views.pages.global.actions.delete}</a></li>
                                        </ul>
                                    </div>		
                                </div>
                            </div>PAG_SEP`
            })

            new SmoothPagination(pagination, table_element.find('.tbody'), {
                data: html.split('PAG_SEP')
            })
        }
        // show
        displayInfo()
        function displayInfo()
        {
            if ( !CategoryObject.id ) return
            name_input.val(CategoryObject.name)
            description_input.val(CategoryObject.description)
        }
    })

</script>