<div class="container-fluid" id="transfer_funds_between_fundboxes_for_employee_container">

    <div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_clinics.sectionTitle %></h1>
	</div>
    
	<div class="mt-3">

		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>

        <form id="create_form">

            <div class="row gx-4">

                <div class="col-lg-6 col-md-6">

                    <h3 class="h3 mb-4"><%= UI_DISPLAY_LANG.views.pages.global.text15 %></h3>

                    <div class="app-block">

                        <!-- <div class="mb-2">
                            <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-fundbox-owner-type.template.ejs', {
                                selectId: 'owner_type_select_receiver',
                                targets: {
                                    target1: '#centers_tab_receiver',
                                    target2: '#distributors_tab_receiver',
                                    target3: '#employees_tab_receiver',
                                    target4: '#central_administration_tab_receiver',
                                }
                            }) -%>
                            <div class="py-3 px-2 border rounded mt-2">
    
                                <div id="centers_tab_receiver">
                                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers.template.ejs', {
                                        componentId: 'receiver',
                                        selectId: 'center_select_receiver',
                                        eventsReceiverId: 'transfer_funds_between_fundboxes',
                                        selectionEventName: 'receiver-center-selected',
                                    }) -%>
                                </div>
    
                                <div id="distributors_tab_receiver" style="display:none;">
                                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-distributors.template.ejs', {
                                        componentId: 'receiver',
                                        selectId: 'distributor_select_receiver',
                                        eventsReceiverId: 'transfer_funds_between_fundboxes',
                                        selectionEventName: 'receiver-distributor-selected',
                                    }) -%>
                                </div>
    
                                <div id="employees_tab_receiver" style="display:none;">
                                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-employees.template.ejs', {
                                        componentId: 'receiver',
                                        selectId: 'employee_select_receiver',
                                        eventsReceiverId: 'transfer_funds_between_fundboxes',
                                        selectionEventName: 'receiver-employee-selected',
                                    }) -%>
                                </div>
    
                                <div id="central_administration_tab_receiver" style="display:none;">
                                    
                                </div>
    
                            </div>
                        </div>

                        <div class="fs-20 d-none">
                            <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="receiver_total">0.00</span>
                        </div> -->

                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-fundbox-owner-type.template.ejs', {
                            selectId: 'owner_type_select_receiver',
                            targets: {
                                target1: '#centers_tab',
                                target2: '#distributors_tab',
                                target3: '#employees_tab',
                                target4: '#central_administration_tab',
                            }
                        }) -%>

                        <div class="py-3 px-2 border rounded mt-2">

                            <div class="table-nav">

                                <div class="row gy-3">
        
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/searchbox.template.ejs', {
                                            searchBtnId: 'receiver_search_btn',
                                            searchInputId: 'receiver_search_input'
                                        }) -%>
                                    </div>
        
                                </div>
        
                            </div>
        
                            <div id="receiver_pagination" class="my-3 flex flex-center"></div>
                            <div id="receiver_tableElement" class="max-height-500px overflow-x-hidden overflow-y-auto">
			
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 col-md-6">

                    <div class="mb-4 pt-5">
                        <h3 class="h3"><%= UI_DISPLAY_LANG.views.pages.global.text16 %></h3>
                        <p class="text-muted"><%= UI_DISPLAY_LANG.views.pages.global.text17 %></p>
                    </div>

                    <div class="fs-20">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="sender_total">0.00</span>
                    </div>

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label49 %></label>
                        <input type="number" step="any" min="0" class="input-text input-text-outline" id="amount_input">
                    </div>
                    
                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label48 %></label>
                        <input type="text" class="input-text input-text-outline" id="reason_input">
                    </div>

                    <div class="mb-4">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label27 %></label>
                        <textarea name="" class="input-text input-text-outline" id="note_input" rows="4"></textarea>
                    </div>

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_file %></label>
                        <input type="file" class="input-text" id="document_input">
                    </div>

                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="mt-3">
                        <input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
                    </div>
                </div>

            </div>  

        </form>
        
	</div>
</div>

<script>

$(function()
{

var page_container = $('#transfer_funds_between_fundboxes_for_employee_container');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var create_form = page_container.find('#create_form')
// Sender
var sender_total = create_form.find('#sender_total')
// Receiver
var owner_type_select_receiver = create_form.find('#owner_type_select_receiver')

var receiver_search_btn = page_container.find('#receiver_search_btn')
var receiver_search_input = page_container.find('#receiver_search_input')

var receiver_pagination = page_container.find('#receiver_pagination')
var receiver_tableElement = page_container.find('#receiver_tableElement')

var amount_input = create_form.find('#amount_input')
var reason_input = create_form.find('#reason_input')
var note_input = create_form.find('#note_input')
var document_input = create_form.find('#document_input')
// submit
create_form.on('submit', async e =>
{
    e.preventDefault()
    var target = create_form

    var params = new FormData

    var sender = getSender()
    var senderId = sender.id
    var senderName = sender.name
    var ownerTypeSender = sender.type

    var receiver = getReceiver()
    var receiverId = receiver.id
    var receiverName = receiver.name
    var ownerTypeReceiver = receiver.type

    var amount = amount_input.val()
    var reason = reason_input.val()
    var note = note_input.val()

    params.append('sender_id', senderId)
    params.append('sender_name', senderName)
    params.append('owner_type_sender', ownerTypeSender)
    params.append('receiver_id', receiverId)
    params.append('receiver_name', receiverName)
    params.append('owner_type_receiver', ownerTypeReceiver)
    params.append('amount', amount)
    params.append('reason', reason)
    params.append('note', note)
    if ( document_input[0].files.length > 0 ) params.append('document', document_input[0].files[0])
    
    SectionLoader(create_form)
    var res = await FUNDBOX_MODEL.actions_funds_transfer(params)
    SectionLoader(create_form, '')

    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
    CreateToast('PS', res.message, '')
    if ( res.code == 404 ) return
    //
    target.find('input[type="text"], input[type="number"]').val('')
    //
    sender_displayOwnerTotal()
})
// get sender
function getSender()
{
    var sender = {
        id: USER_CONFIG.employee_id,
        name: USER_CONFIG.employee_name,
        type: 'employees',
    }

    if ( USER_CONFIG.type.employee_type_code == EMP_TYPE_DISTRIBUTOR )
        sender.type = 'distributors'

    return sender
}
// get receiver
function getReceiver()
{
    const SELECTED_RECEIVER = receiver_tableElement.find('input[type="radio"]:checked').closest('[data-role="row"]')

    if ( owner_type_select_receiver.find(':selected').val() == 'central_administration' )
    {
        return {
            id: 0,
            name: "Administration Centrale",
            type: "central_administration",
        }
    }

    return {
        id: SELECTED_RECEIVER.data('owner-id'),
        name: SELECTED_RECEIVER.data('owner-name'),
        type: SELECTED_RECEIVER.data('owner-type'),
    }
}
// sender_displayOwnerTotal 
sender_displayOwnerTotal()
async function sender_displayOwnerTotal()
{
    var sender = getSender()

    sender_total.text('0.00')
    var res = await FUNDBOX_MODEL.actions_owner_show({
        owner_id: sender.id,
        owner_type: sender.type,
    })

    if ( res.code == 404 ) return

    sender_total.text( moneyFormat(res.data.total) )
}

// search receiver
receiver_search_btn.on('click', e =>
{
    receiver_search_input.trigger('keyup')
})
receiver_search_input.on('keyup', e =>
{
    displayAllFundboxesReceivers({
        method_type: 'selected_for_transfers_search',
        query: receiver_search_input.val(),
        advanced: {
            sender_id: getSender().id,
            sender_type: getSender().type,
            fund_box_owner_type: owner_type_select_receiver.find(':selected').val(),
            orderBy: 'id',
            order: 'desc',
        }
    })
})
owner_type_select_receiver.on('change', e =>
{
    receiver_search_input.trigger('keyup')
})
receiver_search_input.trigger('keyup')

// display all
async function displayAllFundboxesReceivers(params)
{
    receiver_tableElement.html('')

    if ( params.method_type == 'selected_for_transfers_search' ) var res = await FUNDBOX_MODEL.selected_for_transfers_search(params)

    if ( res.code == 404 ) return

    var data = res.data
    var html = ''

    $.each(data, (k,v) =>
    {
        html += `<div class="border-bottom py-3" data-role="row" data-id="${v.id}" data-owner-id="${v.fund_box_owner_id}" data-owner-name="${v.fund_box_owner_name}" data-owner-type="${v.fund_box_owner_type}">
                    <div class="form-check fs-17 fw-400">
                        <input class="form-check-input" type="radio" name="fundbox_owner_receiver_radio" value="" id="radio_${v.id}" ${ (k == 0) ? 'checked' : '' }>
                        <label class="form-check-label" for="radio_${v.id}">
                            ${v.fund_box_owner_name}
                        </label>
                    </div>
                </div>PAG_SEP`
    })

    new SmoothPagination(receiver_pagination, receiver_tableElement, {
        data: html.split('PAG_SEP'),
    })
}

})

</script>