<div class="has-direction-locale px-3 py-3 h-100 overflow-x-hidden overflow-y-auto max-height-100">

    <form id="create_docit_media_dialog__create_form">

        <div class="row gy-3">

            <div class="col-lg-6 col-md-6">

                <div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label139 %></label>
					<input type="text" class="input-text input-text-outline has-text-aligned-locale" name="title" id="create_docit_media_dialog__create_form__title_input" >
				</div>

                <div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label89 %></label>
                    <textarea class="input-text input-text-outline" name="description" rows="4" id="create_docit_media_dialog__create_form__description_input"></textarea>
				</div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.select_file %></label>
                    <input type="file" class="input-text input-text-outline js_file_input_has_progress" id="create_docit_media_dialog__create_form__file_input">
                </div>

            </div>

            <div class="col-lg-6 col-md-6">

                <div class="mb-2">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/external/docit/select-folders.template.ejs', {
                        componentId: 'create_docit_media_dialog__create_form__select_folders_component',
                        selectId: 'create_docit_media_dialog__create_form__folder_select',
                    }) -%>
                </div>

                <div class="d-none" id="create_docit_media_dialog__create_form__select_share_permissions_template__wrapper">
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/external/docit/select-share-permissions.template.ejs`, {
                        componentId: 'create_docit_media_dialog__create_form__select_share_permissions_template',
                        selectId: 'create_docit_media_dialog__create_form__share_permissions_select',
                        options: {
                            multiple: true,
                        }
                    }) -%>
                </div>

            </div>

            <div class="col-lg-12 col-md-12">
                <button type="submit" class="btn btn-success d-block w-100 rounded-0">
                    <%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>
                </button>
            </div>

        </div>

    </form>

</div>