<div class="ringing-bell-dialog position-fixed" id="driver_job_dialog" style="top: 50%; left:50%; transform: translate(-50%, -50%); height: 650px;">

    <div class="ringing-bell-header cursor-auto" style="margin-top: 1em;">

        <a href="#" class="ringing-bell-close-button" id="closeBTN"><%= UI_DISPLAY_LANG.views.pages.global.close_button %></a>

    </div>

    <div class="ringing-bell-body">

        <h1 class="display-6 has-text-centered mt-3 mb-4"><%= UI_DISPLAY_LANG.views.dialogs.driver_job_dialog.title %></h1>

        <div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
            <img src="assets/img/utils/info.png" class="alert-icon" alt="">
            <div class="alert-text" id="text"></div>
        </div>

        <form action="" id="settings_form">

            <div class="row mb-3">

                <div class="col-md-6">

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label81 %></label>
                        <input type="text" class="input-text input-text-outline" id="from_place_input">
                    </div>
        
                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label82 %></label>
                        <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-location.template.ejs`, {
                            componentId: 'from_place_coords_component',
                            searchInputId: 'from_place_coords_input',
                            eventsReceiverId: 'driver_job_dialog',
                            selectionEventName: 'from-place-location-selected',
                        }) -%>
                    </div>

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label2 %></label>
                        <input type="text" class="input-text input-text-outline" id="from_place_phone_input">
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label83 %></label>
                        <input type="text" class="input-text input-text-outline" id="to_place_input">
                    </div>

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label82 %></label>
                        <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-location.template.ejs`, {
                            componentId: 'to_place_coords_component',
                            searchInputId: 'to_place_coords_input',
                            eventsReceiverId: 'driver_job_dialog',
                            selectionEventName: 'to-place-location-selected',
                        }) -%>
                    </div>

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label2 %></label>
                        <input type="text" class="input-text input-text-outline" id="to_place_phone_input">
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label80 %></label>
                        <input type="text" class="input-text input-text-outline" id="description_input">
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="row">

                        <div class="col">
                            <div class="mb-2">
                                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label84 %></label>
                                <input type="date" class="input-text input-text-outline" id="selected_date_input">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-2">
                                <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label85 %></label>
                                <input type="time" step="any" class="input-text input-text-outline" id="selected_time_input">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div>
                <input type="submit" class="btn btn-success btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
            </div>

        </form>

    </div>

</div>