<div class="overlay flex flex-center select-employee-dialog" id="selectEmployeeDialog" style="transition: none; z-index: 2000;background-color: rgba(0,0,0,0);">
	<div class="wrapper app-block overlay-content container block border" style="max-width: 900px;">

		<div class="block-header">
			<span class="block-title-icon"></span>
			<h1 class="block-title"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.title %></h1>
			<button class="btn-close block-btn-close" id="closeBTN"></button>
		</div>

		<div class="block-body WRAPPER" style="font-weight: 200;" id="main_wrapper">
			
            <h1 class="medium-title mb-5">
                <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text01 %>
            </h1>

            <div class="row gx-4 gy-4">

                <div class="col-lg-4 col-md-12 text-center">

                    <button class="large-button" id="central_admin_btn">
                        <h1 class="text-01 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.btn01 %>
                        </h1>
                        <p class="text-02 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text02 %>
                        </p>
                        <div class="mb-3">
                            <img src="../assets/img/utils/software-engineer.png" class="large-button-icon" alt="">
                        </div>
                        <p class="text-02" id="central_admin_total_emp">
                           
                        </p>
                    </button>

                </div>

                <div class="col-lg-4 col-md-12 text-center">

                    <button class="large-button" id="center_btn">
                        <h1 class="text-01 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.btn02 %>
                        </h1>
                        <p class="text-02 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text03 %>
                        </p>
                        <div class="mb-3">
                            <img src="../assets/img/utils/clinic.png" class="large-button-icon" alt="">
                        </div>
                        <p class="text-02" id="centers_total">
                           
                        </p>
                    </button>

                </div>

                <div class="col-lg-4 col-md-12 text-center">

                    <button class="large-button" id="my_contacts_btn">
                        <h1 class="text-01 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.btn03 %>
                        </h1>
                        <p class="text-02 mb-3">
                            <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text05 %>
                        </p>
                        <div class="mb-3">
                            <img src="../assets/img/utils/address-book.png" class="large-button-icon" alt="">
                        </div>
                        <p class="text-02" id="my_contacts_total">
                           
                        </p>
                    </button>

                </div>

            </div>

		</div>

        <div class="block-body WRAPPER" id="central_admin_employees_wrapper" style="display: none;">

            <button class="normal-button back-btn mb-3">
                <span class="text">
                    <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.back_btn %>
                </span>
                <span class="d-inline-block mx-2" style="vertical-align: middle;">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
            </button>

            <h1 class="medium-title mb-5">
                <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text04 %>
            </h1>

            <div class="row gx-4 gy-4">

                <div class="col-lg-4 col-md-6">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.label02 %></label>
                    <div class="form-field-01">
                        <div class="form-field-icon-holder no-pointer">
                            <img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
                        </div>
                        <div class="form-field-input-holder">
                            <input type="text" id="searchInput1" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.all_products_billings.ph01 %>">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.label01 %></label>
                    <select name="" id="central_admin_emp_types_select" class="select-01"></select>
                </div>

            </div>

            <div id="pagination1" class="my-2"></div>

            <div class="row gx-3 gy-3" style="max-height: 350px;overflow-y: auto; overflow-x: hidden;" id="employeesList1">

                <!-- <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">سعيد عبد الله</h4>
                            <p class="card-text"><small>0598461250</small></p>
                            <hr>
                            <p class="card-text">مدير مبيعات</p>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

        <div class="block-body WRAPPER" id="center_employees_wrapper" style="display: none;">

            <button class="normal-button back-btn mb-3">
                <span class="text">
                    <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.back_btn %>
                </span>
                <span class="d-inline-block mx-2" style="vertical-align: middle;">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
            </button>

            <h1 class="medium-title mb-5">
                <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text04 %>
            </h1>

            <div class="row gx-4 gy-4">

                <div class="col-lg-4 col-md-6">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.label03 %></label>
                    <select name="" id="clinicSelect" class="select-01"></select>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.label02 %></label>
                    <div class="form-field-01" style="min-height: unset; height: 44px; top: 7px;">
                        <div class="form-field-icon-holder no-pointer">
                            <img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
                        </div>
                        <div class="form-field-input-holder">
                            <input type="text" id="searchInput2" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.all_products_billings.ph01 %>">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.label01 %></label>
                    <select name="" id="center_emp_types_select" class="select-01"></select>
                </div>

            </div>

            <div id="pagination2" class="my-2"></div>

            <div class="row gx-3 gy-3" style="max-height: 350px;overflow-y: auto; overflow-x: hidden;" id="employeesList2">

                <!-- <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">سعيد عبد الله</h4>
                            <p class="card-text"><small>0598461250</small></p>
                            <hr>
                            <p class="card-text">مدير مبيعات</p>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

        <div class="block-body WRAPPER" id="my_contacts_employees_wrapper" style="display: none;">

            <button class="normal-button back-btn mb-3">
                <span class="text">
                    <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.back_btn %>
                </span>
                <span class="d-inline-block mx-2" style="vertical-align: middle;">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
            </button>

            <h1 class="medium-title mb-5">
                <%= UI_DISPLAY_LANG.views.dialogs.selectEmployeeDialog.text04 %>
            </h1>

            <div class="row gx-4 gy-4 mb-2">

                <div class="col-lg-6 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        componentId: "select_employee_dialog_my_contacts_",
                        searchBtnId: 'select_employee_dialog_my_contacts_search_btn',
                        searchInputId: 'select_employee_dialog_my_contacts_search_input',
                    }) -%>
				</div>

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-centers.template.ejs`, {
                        componentId: "select_employee_dialog_my_contacts_",
                        eventsReceiverId: 'selectEmployeeDialog',
                        selectId: "select_employee_dialog_my_contacts_center_select",
                    }) -%>
				</div>

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-employee-type.template.ejs`, {
                        componentId: "select_employee_dialog_my_contacts_",
                        eventsReceiverId: 'selectEmployeeDialog',
                        selectId: "select_employee_dialog_my_contacts_employee_job_select",
                        employeeTypeTargetCenter: "all",
                    }) -%>
				</div>

            </div>

            <div id="pagination3" class="my-2"></div>

            <div class="row gx-3 gy-3" style="max-height: 350px;overflow-y: auto; overflow-x: hidden;" id="employeesList3">

                <!-- <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">سعيد عبد الله</h4>
                            <p class="card-text"><small>0598461250</small></p>
                            <hr>
                            <p class="card-text">مدير مبيعات</p>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

		<div class="block-footer">
			<div class="btn-group btn-group-sm">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-light rounded-0" id="cancelBTN">
					
						<%= UI_DISPLAY_LANG.views.dialogs.promptConfirmDialog.btn02 %>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>