<span class="pointer" id="<%= locals.componentId ? locals.componentId : 'searchbox_component' %>">
    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label32 %></label>
    <div class="form-field-01">
        <div class="form-field-icon-holder search_btn" id="<%= locals.searchBtnId ? locals.searchBtnId : 'search_btn' %>">
            <img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
        </div>
        <div class="form-field-input-holder">
            <input type="text" id="<%= locals.searchInputId ? locals.searchInputId : 'search_input' %>" class="form-field-input search_input" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>">
        </div>
    </div>
</span>
