<span id="<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label30 %></label>

    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'select_wallet_action_template_employee_select' %>">
        <option value="salary" selected><%= UI_DISPLAY_LANG.views.pages.global.wallet_actions.salary %></option>
        <option value="commission"><%= UI_DISPLAY_LANG.views.pages.global.wallet_actions.commission %></option>
        <option value="extra_hours"><%= UI_DISPLAY_LANG.views.pages.global.wallet_actions.extra_hours %></option>
    </select>

</span>