<span id="select_chat_groups_template_<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label90 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" id="select_chat_groups_template_search_input">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'chat_group_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        var componentId = `<%- locals.componentId %>`
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'chat_group_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'chat-group-selected' : `<%- locals.selectionEventName %>`

        var select_chat_groups_template = $('#select_chat_groups_template_'+componentId)
        var select_chat_groups_template_search_input = select_chat_groups_template.find('#select_chat_groups_template_search_input')
        var chat_group_select = select_chat_groups_template.find(`#${selectId}`)
        
        // search
        select_chat_groups_template_search_input.on('keyup', select_chat_groups_template_displayAll)

        select_chat_groups_template_displayAll()
        async function select_chat_groups_template_displayAll()
        {
            var res = await CHAT_MODEL.group_search({
                query: select_chat_groups_template_search_input.val()
            })
            chat_group_select.html('')
            if ( select_chat_groups_template_search_input.val() == '' )
                chat_group_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)
            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''

                $.each(data, (k,v) =>
                {
                    var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                    html += `<option value="${v.id}" data-object="${data}">${v.name}</option>`	
                })
                // add html
                chat_group_select.append(html)
                // dispatch an event
                var event = new CustomEvent(selectionEventName, { 
                    detail: { 
                        chat_group: {
                            id: chat_group_select.find(':selected').val(),
                            name: chat_group_select.find(':selected').text(),
                            data: checkJSON( decodeURIComponent( atob( chat_group_select.find(':selected').data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
            }
        }
    })

</script>