<span id="<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label133 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced select_inventory_template_search_input" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'inventory_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        const eventsReceiverId = `<%- locals.eventsReceiverId %>`
        
        const componentId = `<%- locals.componentId %>`
        const component = $('#'+componentId)

        var options = checkJSON(`<%- (locals.options) ? JSON.stringify(locals.options) : '' %>`)
        const defaultOptions = {
            search: {
                currentAdministrationOnly: true
            }
        }

        options = {...defaultOptions, ...options}
        
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'inventory_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'inventory-selected' : `<%- locals.selectionEventName %>`

        var select_inventory_template_search_input = component.find('.select_inventory_template_search_input')

        var inventory_select = component.find(`#${selectId}`)

        detectTypingEnd(select_inventory_template_search_input, () =>
        {
            select_inventory_template_displayAll()
        }, 500)
        // select_inventory_template_search_input.on('keyup', select_inventory_template_displayAll)
        // display all
        select_inventory_template_displayAll()
        async function select_inventory_template_displayAll()
        {
            inventory_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)

            const params = {
                query: select_inventory_template_search_input.val(),
                advanced: {
                    parent_id: (options.search.currentAdministrationOnly) ? USER_CONFIG.administration.clinicId : null
                }
            }

            if ( options.search.hasOwnProperty('parent_id') )
            {
                params.advanced.parent_id = options.search.parent_id
            }
            else
            {
                params.advanced.parent_id = (options.search.currentAdministrationOnly) ? USER_CONFIG.administration.clinicId : null
            }

            var res = await CLINIC_MODEL.advancedSearch(params)
            
            if ( res.code == 404 ) return

            // dispatch event
            
            var data = res.data
            var html = ''

            $.each(data, (k,v) =>
            {
                var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                if ( options.hideCurrent && v.clinicId == USER_CONFIG.administration.clinicId )
                {
                    html += ``
                }
                else
                {
                    html += `<option value="${v.clinicId}" data-object="${data}">${v.clinicName}</option>`
                }
            })
            // add html
            inventory_select.append(html)

            if ( isNull(inventory_select.find(':selected').val()) ) return
            dispatchCustomEvent(selectionEventName, { 
                inventory: {
                    id: inventory_select.find(':selected').val(),
                    name: inventory_select.find(':selected').text(),
                    data: checkJSON( decodeURIComponent( atob( inventory_select.find(':selected').data('object') ) ) ),
                },
                eventsReceiverId: eventsReceiverId 
            }, inventory_select[0])
        } 
    })

</script>