<span id="select_wilaya_baladia_template_<%= locals.componentId %>" class="pointer position-relative">
    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label17 %></label>
    <input type="text" class="input-text input-text-outline mb-2 wilaya_search_input" placeholder="<%= locals.searchWilayaInputPlaceholder ? locals.searchWilayaInputPlaceholder : '' %>" id="<%= locals.searchWilayaInputId ? locals.searchWilayaInputId : '' %>">
    <ol class="list-group list-group-numbered wilaya_suggestion_box max-height-200px overflow-y-auto overflow-x-hidden position-absolute w-100 d-none z-index-5"></ol>
    <div class="my-2"></div>
    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label18 %></label>
    <input type="text" class="input-text input-text-outline mb-2 baladia_search_input" placeholder="<%= locals.searchBaladiaInputPlaceholder ? locals.searchBaladiaInputPlaceholder : '' %>" id="<%= locals.searchBaladiaInputId ? locals.searchBaladiaInputId : '' %>">
    <ol class="list-group list-group-numbered baladia_suggestion_box max-height-200px overflow-y-auto overflow-x-hidden position-absolute w-100 d-none z-index-5"></ol>
</span>

<script>

    $(async function()
    {
        var component = $(`#select_wilaya_baladia_template_<%- locals.componentId %>`)
        var wilaya_search_input = component.find('.wilaya_search_input')
        var wilaya_suggestion_box = component.find('.wilaya_suggestion_box')

        var baladia_search_input = component.find('.baladia_search_input')
        var baladia_suggestion_box = component.find('.baladia_suggestion_box')

        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        var wilayaSelectionName = (`<%- locals.wilayaSelectionName %>` == '' || `<%- locals.wilayaSelectionName %>` == null) ? 'wilaya-selected' : `<%- locals.wilayaSelectionName %>`
        var baladiaSelectionName = (`<%- locals.baladiaSelectionName %>` == '' || `<%- locals.baladiaSelectionName %>` == null) ? 'baladia-selected' : `<%- locals.baladiaSelectionName %>`

        // Wilaya //
        // search
        detectTypingEnd(wilaya_search_input, () =>
        {
            select_wilaya_baladia_displayWilayaSuggestions()
        }, 500)

        wilaya_search_input.off('click').on('click', e =>
        {
            wilaya_suggestion_box.toggleClass('d-none')
        })
        // select item
        wilaya_suggestion_box.on('click', e =>
        {
            var target = $(e.target)
            if ( target[0].nodeName == 'LI' )
            {
                wilaya_search_input.val( target.data('name') )
                wilaya_search_input.data('code', target.data('value')).attr('data-code', target.data('value'))
                wilaya_suggestion_box.html('').addClass('d-none')
                // dispatch an event
                var data = {}

                var event = new CustomEvent(wilayaSelectionName, { 
                    detail: { 
                        suggestion: {
                            name: target.data('name'),
                            value: target.data('value'),
                            data: checkJSON( decodeURIComponent( atob( target.data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
                // search related baladias
                select_wilaya_baladia_displayBaladiaSuggestions({
                    firstResultOnly: true
                })
            }
        })
        
        // Baladia //
        // search
        detectTypingEnd(baladia_search_input, () =>
        {
            select_wilaya_baladia_displayBaladiaSuggestions()
        }, 500)
        baladia_search_input.off('click').on('click', e =>
        {
            baladia_suggestion_box.toggleClass('d-none')
        })
        // select item
        baladia_suggestion_box.on('click', e =>
        {
            var target = $(e.target)
            if ( target[0].nodeName == 'LI' )
            {
                baladia_search_input.val( target.data('name') )
                baladia_search_input.data('code', target.data('value')).attr('data-code', target.data('value'))
                baladia_suggestion_box.html('').addClass('d-none')
                // dispatch an event
                var data = {}

                var event = new CustomEvent(baladiaSelectionName, { 
                    detail: { 
                        suggestion: {
                            name: target.data('name'),
                            value: target.data('value'),
                            data: checkJSON( decodeURIComponent( atob( target.data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
            }
        })
        // select_wilaya_baladia_displayWilayaSuggestions
        async function select_wilaya_baladia_displayWilayaSuggestions()
        {
            wilaya_suggestion_box.html('')
            if ( wilaya_search_input.val() == '' )
            {
                wilaya_suggestion_box.addClass('d-none')
                return
            }

            var res = await STATE_MODEL.search({
                query: wilaya_search_input.val()
            })

            if ( res.code == 404 ) return

            var data = res.data
            var html = ''

            $.each(data, (k,v) =>
            {
                var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                html += `<li class="list-group-item d-flex align-items-start cursor-pointer" data-name="${v['wilaya_name_ascii']}" data-value="${v['wilaya_code']}" data-object='${ data }'>
                    <div class="ms-2 no-pointer">
                        <div class="fw-bold">${v['wilaya_code']}</div>
                        ${v['wilaya_name_ascii']}
                    </div>
                </li>`
                
            })
            wilaya_suggestion_box.html(html).removeClass('d-none')
        }
        // select_wilaya_baladia_displayBaladiaSuggestions
        async function select_wilaya_baladia_displayBaladiaSuggestions(options = {})
        {
            baladia_suggestion_box.html('')
            if ( wilaya_search_input.val() == '' )
            {
                baladia_suggestion_box.addClass('d-none')
                return
            }

            var res = await STATE_MODEL.baladia_search({
                wilaya_code: wilaya_search_input.data('code'),
                query: baladia_search_input.val()
            })

            if ( res.code == 404 ) return

            var data = res.data
            var html = ''

            if ( options.firstResultOnly )
            {
                baladia_search_input.val( data[0].commune_name_ascii )
                return
            }

            $.each(data, (k,v) =>
            {
                var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                html += `<li class="list-group-item d-flex align-items-start cursor-pointer" data-name="${v['commune_name_ascii']}" data-value="${v['wilaya_code']}" data-object='${ data }'>
                    <div class="ms-2 no-pointer">
                        <div class="fw-bold">${v['wilaya_code']}</div>
                        ${v['commune_name_ascii']}
                    </div>
                </li>`
                
            })
            baladia_suggestion_box.html(html).removeClass('d-none')
        }
    
    })

</script>