<span id="<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label46 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced select_categories_template_search_input" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" >
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'category_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        const componentId = `<%- locals.componentId %>`
        const component = $(`#${componentId}`)

        var select_categories_template_search_input = component.find('.select_categories_template_search_input')

        const selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'category_select' : `<%- locals.selectId %>`
        const category_select = component.find(`#${selectId}`)

        // search
        select_categories_template_search_input.on('keyup', select_categories_template_displayAll)

        select_categories_template_displayAll()
        async function select_categories_template_displayAll()
        {
            category_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)

            var res = await CATEGORY_MODEL.search({
                query: select_categories_template_search_input.val()
            })
        
            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''
       
                $.each(data, (k,v) =>
                {
                    html += `<option value="${v.id}">${v.name}</option>`	
                })
                // add html
                category_select.append(html)
                // dispatch an event
                dispatchCustomEvent('category-selected', { 
                    category: {
                        id: category_select.find(':selected').val(),
                        name: category_select.find(':selected').text(),
                    },
                    eventsReceiverId: eventsReceiverId 
                }, category_select[0])
            }
        }
    })

</script>