<span id="select_employee_type_template_<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label79 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" id="select_employee_type_template_search_input">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'select_employee_type_template_center_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        var componentId = `<%- locals.componentId %>`
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'select_employee_type_template_center_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'employee-type-selected' : `<%- locals.selectionEventName %>`
        var employeeTypeTargetCenter = (`<%- locals.employeeTypeTargetCenter %>` == '' || `<%- locals.employeeTypeTargetCenter %>` == null) ? 'CLINIC' : `<%- locals.employeeTypeTargetCenter %>`

        var select_employee_type_template = $('#select_employee_type_template_'+componentId)
        var select_employee_type_template_search_input = select_employee_type_template.find('#select_employee_type_template_search_input')
        var select_employee_type_template_center_select = select_employee_type_template.find(`#${selectId}`)

        // search
        detectTypingEnd(select_employee_type_template_search_input, () =>
        {
            select_employee_type_template_displayAll()
        }, 500)
        // select_employee_type_template_search_input.on('keyup', select_employee_type_template_displayAll)

        select_employee_type_template_displayAll()
        async function select_employee_type_template_displayAll()
        {
            var res = await EMPLOYEE_MODEL.type_local_search({
                employee_type_target_center: employeeTypeTargetCenter,
                query: select_employee_type_template_search_input.val(),
            })

            select_employee_type_template_center_select.html('')
            if ( select_employee_type_template_search_input.val() == '' )
                select_employee_type_template_center_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)

            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''

                $.each(data, (k,v) =>
                {
                    var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                    html += `<option value="${v.employee_type_id}" data-object="${data}">${ FUI_DISPLAY_LANG.views.pages.global.employee_type_codes[v.employee_type_code] }</option>`	
                })
                // add html
                select_employee_type_template_center_select.append(html)
                // dispatch an event
                var event = new CustomEvent(selectionEventName, { 
                    detail: { 
                        employee_type: {
                            id: select_employee_type_template_center_select.find(':selected').val(),
                            name: select_employee_type_template_center_select.find(':selected').text(),
                            data: checkJSON( decodeURIComponent( atob( select_employee_type_template_center_select.find(':selected').data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
            }
        }
    })

</script>