<span id="select_contact_statuses_template_<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label88 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" id="select_contact_statuses_template_search_input">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'select_contact_statuses_template_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        var componentId = `<%- locals.componentId %>`
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'select_contact_statuses_template_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'contact-status-selected' : `<%- locals.selectionEventName %>`

        var select_contact_statuses_template = $('#select_contact_statuses_template_'+componentId)
        var select_contact_statuses_template_search_input = select_contact_statuses_template.find('#select_contact_statuses_template_search_input')
        var select_contact_statuses_template_select = select_contact_statuses_template.find(`#${selectId}`)

        // search
        detectTypingEnd(select_contact_statuses_template_search_input, () =>
        {
            select_contact_statuses_template_displayAll()
        }, 500)
        // select_contact_statuses_template_search_input.on('keyup', select_contact_statuses_template_displayAll)

        select_contact_statuses_template_displayAll()
        async function select_contact_statuses_template_displayAll()
        {
            var res = await APPOINTMENT_MODEL.specialCase_args_search({
                query: select_contact_statuses_template_search_input.val()
            })
            select_contact_statuses_template_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)
            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''

                $.each(data, (k,v) =>
                {
                    var data = btoa( encodeURIComponent(JSON.stringify(v)) )

                    html += `<option value="${v.id}" data-object="${data}">${FUI_DISPLAY_LANG.views.pages.global.status[v.code]}</option>`	
                })
                // add html
                select_contact_statuses_template_select.append(html)
                // dispatch an event
                var event = new CustomEvent(selectionEventName, { 
                    detail: { 
                        contact_status: {
                            id: select_contact_statuses_template_select.find(':selected').val(),
                            name: select_contact_statuses_template_select.find(':selected').text(),
                            data: checkJSON( decodeURIComponent( atob( select_contact_statuses_template_select.find(':selected').data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
            }
        }
    })

</script>