<span id="<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label125 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced select_employee_type_template_search_input" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'employee_type_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        const eventsReceiverId = `<%- locals.eventsReceiverId %>`
        
        const componentId = `<%- locals.componentId %>`
        const component = $('#'+componentId)

        var options = checkJSON(`<%- (locals.options) ? JSON.stringify(locals.options) : '' %>`)
        const defaultOptions = {
            showAdministration: true,
            search: {
                currentAdministrationOnly: false
            }
        }

        options = {...defaultOptions, ...options}
        
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'employee_type_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'employee-type-selected' : `<%- locals.selectionEventName %>`

        var select_employee_type_template_search_input = component.find('.select_employee_type_template_search_input')

        var employee_type_select = component.find(`#${selectId}`)

        detectTypingEnd(select_employee_type_template_search_input, () =>
        {
            select_customers_template_displayAll()
        }, 500)
        // select_employee_type_template_search_input.on('keyup', select_customers_template_displayAll)
        // display all
        select_customers_template_displayAll()
        async function select_customers_template_displayAll()
        {
            employee_type_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)
            var res = await EMPLOYEE_MODEL.type_search({
                query: select_employee_type_template_search_input.val(),
                advanced: {
                    employee_type_target_center: options.search.employee_type_target_center
                }
            })
            
            if ( res.code == 404 ) return

            // dispatch event
            
            var data = res.data
            var html = ''

            $.each(data, (k,v) =>
            {
                var data = btoa( encodeURIComponent(JSON.stringify(v)) )
                html += `<option value="${v.employee_type_id}" data-object="${data}">${v.name}</option>`	
            })
            // add html
            employee_type_select.append(html)

            if ( isNull(employee_type_select.find(':selected').val()) ) return
            dispatchCustomEvent(selectionEventName, { 
                customer: {
                    id: employee_type_select.find(':selected').val(),
                    name: employee_type_select.find(':selected').text(),
                    data: checkJSON( decodeURIComponent( atob( employee_type_select.find(':selected').data('object') ) ) ),
                },
                eventsReceiverId: eventsReceiverId 
            }, employee_type_select[0])
        } 
    })

</script>