<div id="<%= locals.componentId  %>" class="<%= locals.classes ? locals.classes : 'd-block js_select_file_component' %>">

    <div class="select-media-control js_media_control">

        <div class="select-media-control-overlay"></div>
            
        <div class="select-media-control-header">
            <div class="select-media-control-add-media-button js_select_media_control_add_media_button">
                <span class="select-media-control-add-media-button-icon"><i class="xfb xfb-plus-media"></i></span>
                <span class="select-media-control-add-media-button-text">Add Photos/videos</span>
            </div>
        </div>

        <div class="select-media-control-close-button js_select_media_control_close_button">
            <i class="xfb xfb-close-sm-thin"></i>
        </div>

        <label class="select-media-control-body">

            <div class="select-media-control-body-actions-content">

                <div class="js-select-media-control-actions js_select_media_control_actions">
                    <div class="select-media-control-button">
                        <i class="xfb xfb-plus-media"></i>
                    </div>
                    <div class="select-media-control-heading mb-2"><%= UI_DISPLAY_LANG.views.pages.global.select_files_from_your_local_disk %></div>
                    <div class="select-media-control-subheading"><%= UI_DISPLAY_LANG.views.pages.global.text94 %></div>
                    <input type="file" class="select-media-control-file-input js_file_input_has_progress" accept="<%= locals.accept %>" id="<%= locals.fileInputId %>">
                </div>

            </div>

        </label>

        <div class="select-media-control-body-contents js_select_media_control_body_contents">

            
        </div>

        <div class="row gx-1 gy-1">

            
        </div>

    </div>

</div>

<script>

    $(function()
    {

        const componentId = `<%= locals.componentId %>`
        const component = $(`#${componentId}`)
        
        const file_input_ = component.find('#<%= locals.fileInputId %>')
        const js_select_media_control_close_button = component.find('.js_select_media_control_close_button')

        var options = checkJSON(`<%- (locals.options) ? JSON.stringify(locals.options) : '' %>`)
        const defaultOptions = {
            isDismissable: true,
            accept: '',
            multiple: false,
            previewTarget: null,
        }

        options = {...defaultOptions, ...options}
        // init
        select_file_component__init()
        // hide
        js_select_media_control_close_button.on('click', e =>
        {
            select_file_component__hide()
        })
        // select file
        file_input_.on('change', async e =>
        {
            if ( file_input_[0].files.length == 0 ) return

            var files = file_input_[0].files
            var dataUrl = await imageToDataURL(files[0])

            // preview
            if ( !isNull(options.previewTarget) )
            {
                $(options.previewTarget).attr('src', files[0].path)
            }

            dispatchCustomEvent('select-file-component:file-selected', {
                files: files,
                url: dataUrl,
            }, file_input_[0])
        })

        // init
        function select_file_component__init()
        {
            // close button
            if ( !options.isDismissable ) js_select_media_control_close_button.addClass('d-none')
            // accept
            file_input_.attr('accept', options.accept)
            // multiple
            file_input_.attr('multiple', options.multiple)
        }
        // hide
        function select_file_component__hide()
        {
            component.remove()
        }
        
    })

</script>