<span id="select_fundbox_owner_type_template_<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label36 %></label>
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'owner_type_select' %>">
        <option value="centers" data-target="<%= locals.targets.target1 ? locals.targets.target1 : '#centers_tab' %>" selected><%= UI_DISPLAY_LANG.views.pages.global.attributes.centers %></option>
        <option value="distributors" data-target="<%= locals.targets.target2 ? locals.targets.target2 : '#distributors_tab' %>"><%= UI_DISPLAY_LANG.views.pages.global.attributes.distributors %></option>
        <option value="employees" data-target="<%= locals.targets.target3 ? locals.targets.target3 : '#employees_tab' %>"><%= UI_DISPLAY_LANG.views.pages.global.attributes.employees %></option>
        <option value="central_administration" data-target="<%= locals.targets.target4 ? locals.targets.target4 : '#central_administration_tab' %>"><%= UI_DISPLAY_LANG.views.pages.global.attributes.central_administration %></option>
    </select>

</span>
