<span id="select_centers_template_<%= locals.componentId %>" class="pointer">

    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label13 %></label>
    <input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" placeholder="<%= UI_DISPLAY_LANG.views.pages.global.placeholder5 %>" id="select_centers_template_search_input">
    <select name="" class="input-text" id="<%= locals.selectId ? locals.selectId : 'select_centers_template_center_select' %>">
        
    </select>

</span>

<script>

    $(async function()
    {
        var eventsReceiverId = `<%- locals.eventsReceiverId %>`
        var componentId = `<%- locals.componentId %>`
        var selectId = (`<%- locals.selectId %>` == '' || `<%- locals.selectId %>` == null) ? 'select_centers_template_center_select' : `<%- locals.selectId %>`
        var selectionEventName = (`<%- locals.selectionEventName %>` == '' || `<%- locals.selectionEventName %>` == null) ? 'center-selected' : `<%- locals.selectionEventName %>`

        var select_centers_template = $('#select_centers_template_'+componentId)
        var select_centers_template_search_input = select_centers_template.find('#select_centers_template_search_input')
        var select_centers_template_center_select = select_centers_template.find(`#${selectId}`)

        var options = checkJSON(`<%- (locals.options) ? JSON.stringify(locals.options) : '' %>`)
        const defaultOptions = {
            hideCurrent: false,
        }

        options = {...defaultOptions, ...options}
        
        // search
        detectTypingEnd(select_centers_template_search_input, () =>
        {
            select_centers_template_displayAll()
        }, 500)
        // select_centers_template_search_input.on('keyup', select_centers_template_displayAll)

        select_centers_template_displayAll()
        async function select_centers_template_displayAll()
        {
            var res = await CLINIC_MODEL.search(select_centers_template_search_input.val())
            select_centers_template_center_select.html('')
            if ( select_centers_template_search_input.val() == '' )
                select_centers_template_center_select.html(`<option value=""><%= UI_DISPLAY_LANG.views.pages.global.placeholder11 %></option>`)
            if ( res.code == 200 )
            {
                var data = res.data
                var html = ''

                $.each(data, (k,v) =>
                {
                    var data = btoa( encodeURIComponent(JSON.stringify(v)) )

                    if ( options.hideCurrent && v.clinicId == USER_CONFIG.administration.clinicId )
                    {
                        html += ``
                    }
                    else
                    {
                        html += `<option value="${v.clinicId}" data-object="${data}">${v.clinicName}</option>`
                    }
                    	
                })
                // add html
                select_centers_template_center_select.append(html)
                // dispatch an event
                var event = new CustomEvent(selectionEventName, { 
                    detail: { 
                        center: {
                            id: select_centers_template_center_select.find(':selected').val(),
                            name: select_centers_template_center_select.find(':selected').text(),
                            data: checkJSON( decodeURIComponent( atob( select_centers_template_center_select.find(':selected').data('object') ) ) ),
                        },
                        eventsReceiverId: eventsReceiverId 
                    } 
                });

                document.dispatchEvent(event)
                //
                dispatchCustomEvent(selectionEventName, { 
                    center: {
                        id: select_centers_template_center_select.find(':selected').val(),
                        name: select_centers_template_center_select.find(':selected').text(),
                        data: checkJSON( decodeURIComponent( atob( select_centers_template_center_select.find(':selected').data('object') ) ) ),
                    },
                    eventsReceiverId: eventsReceiverId 
                }, select_centers_template_center_select[0])
            }
        }
    })

</script>