<div class="pointer">
    
    <div class="row gy-2">

        <div class="<%= locals.columnLayouts ? locals.columnLayouts : 'col-md-12' %>">

            <div class="form-field-01 mb-3">
                <div class="form-field-input-holder">
                    <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label5 %></div>
                    <input type="date" id="<%= locals.dateStartId ? locals.dateStartId : 'date_start_input' %>" class="form-field-input" data-ignore-value-autorefresh="true">
                    <div class="form-field-reset">
                        <a href="#">
                            <i class="fas fa-redo"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="<%= locals.columnLayouts ? locals.columnLayouts : 'col-md-12' %>">

            <div class="form-field-01 mb-2">
                <div class="form-field-input-holder">
                    <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.global.label6 %></div>
                    <input type="date" id="<%= locals.dateEndId ? locals.dateEndId : 'date_end_input' %>" class="form-field-input" data-ignore-value-autorefresh="true">
                    <div class="form-field-reset">
                        <a href="#">
                            <i class="fas fa-redo"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>

        $(function() 
        {

            var dateStartId = (`<%- locals.dateStartId %>` == '' || `<%- locals.dateStartId %>` == null) ? 'date_start_input' : `<%- locals.dateStartId %>`
            var dateEndId = (`<%- locals.dateEndId %>` == '' || `<%- locals.dateEndId %>` == null) ? 'date_end_input' : `<%- locals.dateEndId %>`

            var dataIgnoreDefaultValue = (`<%- locals.dataIgnoreDefaultValue %>` == '' || `<%- locals.dataIgnoreDefaultValue %>` == null) ? '' : `<%- locals.dataIgnoreDefaultValue %>`

            var date_start_input = $(`#${dateStartId}`)
            var date_end_input = $(`#${dateEndId}`)

            var date_start_reset_button = date_start_input.next().find('a')
            var date_end_reset_button = date_end_input.next().find('a')

            date_start_input.val(CURRENT_DATE)
            date_end_input.val(CURRENT_DATE)
            // ignore default value
            if ( dataIgnoreDefaultValue )
            {
                // date_start_input.data('ignore-default-value', true).attr('data-ignore-default-value', true)
                // date_end_input.data('ignore-default-value', true).attr('data-ignore-default-value', true)
                date_start_input.val(null)
                date_end_input.val(null)
            }
            // reset
            date_start_reset_button.off('click').on('click', e =>
            {
                e.preventDefault()

                if ( !date_start_input.val() ) date_start_input.val(CURRENT_DATE)
                else date_start_input.val(null)
                
            })

            date_end_reset_button.off('click').on('click', e =>
            {
                e.preventDefault()

                if ( !date_end_input.val() ) date_end_input.val(CURRENT_DATE)
                else date_end_input.val(null)

            })

        })

    </script>
</div>
