<div class="container-fluid" id="all_central_administration_to_center_consommables_invoices_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="py-4 px-3 mb-3 bg-white border rounded">

			<div class="row gx-4 gy-3 mb-2">

                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN" data-perm="delete_invoices">
						<%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %>
					</button>
				</div> -->
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="invoices_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="invoices_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>

			</div>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-centers.template.ejs`, {
                        eventsReceiverId: 'all_central_administration_to_center_consommables_invoices_container',
                    }) -%>
				</div>

            </div>

		</div>
		<div id="pagination" class="flex flex-center my-3"></div>
		<div class="table-div bg-white border rounded">
			<table class="table-01" id="tableElement">
				<thead>
					<tr>
						<th>#</th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th01 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th02 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th04 %></th>
                        <th><%= UI_DISPLAY_LANG.views.pages.global.th32 %></th>
						<th><%= UI_DISPLAY_LANG.views.pages.global.th12 %></th>
						<th></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					<!--
					<tr class="expand-row" data-role="row" data-id="${order.order_id}">
						<td>
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-orderid="">
						</td>
						<td> HG38020496 </td>
						<td> 2022-06-17 </td>
						<td> - </td>
						<td> $11.99 </td>
						<td style="width:20px">
							<svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
						</td>
					</tr>
					<tr class="expand-row__row" style="display:none;">
						<td colspan="10">
							<table class="table-01">
								<thead>
									<tr>
										<th>Product</th>
										<th>Quantity</th>
										<th>Unit Price</th>
										<th>Dept (DA)</th>
										<th>Dept (%)</th>
										<th>Total Price</th>
									</tr>
								</thead>
								<tbody>
									<td>Renew Premium Web Hosting (crstra-saffromfood.com)</td>
									<td>3</td>
									<td>1880.00</td>
									<td>880.00</td>
									<td>32.12%</td>
									<td>1880.00</td>
								</tbody>
							</table>
							<div class="order-price-table">
								<div class="order-price-table-contents">
									<div>
										<strong>product price</strong>
										<span>11.25$</span>
									</div>
									<div>
										<strong>dept (%)</strong>
										<span>0.00%</span>
									</div>
									<div>
										<strong>sell price</strong>
										<span>11.25</span>
									</div>
									<div class="border-top my-1"></div>
									<div>
										<strong>total</strong>
										<span>11.25</span>
									</div>	
								</div>
							</div>
						</td>
					</tr>
					-->
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#all_central_administration_to_center_consommables_invoices_container');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var select_centers_template_center_select = page_container.find('#select_centers_template_center_select');
var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');

var invoices_total = page_container.find('#invoices_total');
var invoices_extra_data_list = page_container.find('#invoices_extra_data_list');

// set primary dates
date_start_input.val( CURRENT_DATE );
date_end_input.val( CURRENT_DATE );
// tableElement click
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target[0].nodeName == 'TD' )
    {
        var parent = target.closest('tr');
        var nextTR = parent.next();
        nextTR.slideToggle(200)
        parent.toggleClass('expanded');
    }

    if ( target.data('role') == 'PRINT_INVOICE' )
    {
        e.preventDefault()
        var parent = target.closest('[data-role="row"]')

        parent.addClass('disabled')
        var res = await ORDER_MODEL.show({
            order_id: parent.data('id')
        })
        parent.removeClass('disabled')

        if ( res.code == 404 ) return

        printInvoice({
            data: res.data,
            class: target.data('print-class'),
        })
    }
});
// delete selected
deleteSelectedBTN.on('click', async e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')
        var response = await ORDER_MODEL.batchDelete(selectedRows());
        deleteSelectedBTN.removeClass('disabled')
        // hide loader
        TopLoader('', false);
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        displayAll({
            method_type: 'direction_central_administration_to_center_consommables_selling_local_search',
            query: search_input.val(),
            user_id: select_centers_template_center_select.find(':selected').val(),
        })
    });
});
// search between dates
search_btn.on('click', async e =>
{
    displayAll({
        method_type: 'direction_central_administration_to_center_consommables_selling_local_search',
        query: search_input.val(),
        user_id: select_centers_template_center_select.find(':selected').val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
        }
    })
})
// search
search_input.on('keyup', async e =>
{
    displayAll({
        method_type: 'direction_central_administration_to_center_consommables_selling_local_search',
        query: search_input.val(),
        user_id: select_centers_template_center_select.find(':selected').val(),
    })
})
// filter
select_centers_template_center_select.on('change', async e =>
{
    displayAll({
        method_type: 'direction_central_administration_to_center_consommables_selling_filter',
        filter: select_centers_template_center_select.find(':selected').val(),
    })
})
// center selected
$(document).off('center-selected').on('center-selected', e =>
{
    var detail = e.originalEvent.detail
    displayAll({
        method_type: 'direction_central_administration_to_center_consommables_selling_local_search',
        query: search_input.val(),
        user_id: detail.center.id,
    })
})
// display all
async function displayAll(params)
{
    // total
    invoices_total.text(0)

    invoices_extra_data_list.html('')
    tableElement.find('tbody').html('');
    SectionLoader(tableElement)
    if ( params.method_type == 'direction_central_administration_to_center_consommables_selling_local_search' )
        var res = await ORDER_MODEL.direction_central_administration_to_center_consommables_selling_local_search(params)
    if ( params.method_type == 'direction_central_administration_to_center_consommables_selling_filter' )
        var res = await ORDER_MODEL.direction_central_administration_to_center_consommables_selling_filter(params)

    SectionLoader(tableElement, '')
    if ( res.code == 404 )
        return;
    
    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    invoices_total.text(data.length)
    for (var i = 0; i < data.length; i++) 
    {
        var order = data[i];
        // loop items
        if ( order.order_items )
        {
            var itemsHTML = '<ul class="list-group list-group-flush list-group-numbered">';
            var itemsHTML2 = '';
            var order_item_dept_rate = 0.00;
            var order_item_price = 0.00;
            for (var j = 0; j < order.order_items.length; j++) 
            {
                var item = order.order_items[j];
                order_item_dept_rate += parseFloat(item.item_dept.order_item_dept_rate);
                order_item_price += parseFloat(item.order_item_price);
                itemsHTML += `<li class="list-group-item text-04">${item.item_name}</li>`;
                itemsHTML2 += `<tr>
                                <td>${item.item_name}</td>
                                <td>${item.order_item_quantity}</td>
                                <td>${moneyFormat(item.order_item_price)}</td>
                                <td>${moneyFormat(item.order_item_final_amount)}</td>
                                </tr>`;
            }
            itemsHTML += '</ul>';
        }

        html += `<tr class="expand-row" data-role="row" data-id="${order.order_id}">
                    <td>
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                    </td>
                    <td>${order.order_hash}</td>
                    <td>${order.order_date}|${order.order_time}</td>
                    <td>${moneyFormat(order.order_total_amount)}</td>
                    <td>${moneyFormat(order.order_amount_paid)}</td>
                    <td>${order.order_receiver_name}</td>
                    <td>
                        <div class="py-2 px-2">
                            <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ${FUI_DISPLAY_LANG.views.pages.global.more}
                            </a>
                            <ul class="dropdown-menu px-2">
                                <li>
                                    <a href="#" class="no-link d-block py-2 border-bottom" data-role="PRINT_INVOICE" data-print-class="A3_PRINT" data-perm="a3_invoice_print">${ FUI_DISPLAY_LANG.views.pages.global.print_sizes.A3_PRINT }</a>
                                </li>
                                <li>
                                    <a href="#" class="no-link d-block py-2 border-bottom" data-role="PRINT_INVOICE" data-print-class="A4_PRINT" data-perm="a4_invoice_print">${ FUI_DISPLAY_LANG.views.pages.global.print_sizes.A4_PRINT }</a>
                                </li>
                                <li>
                                    <a href="#" class="no-link d-block py-2 border-bottom" data-role="PRINT_INVOICE" data-print-class="A5_PRINT" data-perm="a5_invoice_print">${ FUI_DISPLAY_LANG.views.pages.global.print_sizes.A5_PRINT }</a>
                                </li>
                                <li>
                                    <a href="#" class="no-link" data-role="PRINT_INVOICE" data-print-class="RECEIPT_7_5_CM_PRINT" data-perm="receipt_7_5_cm_invoice_print">${ FUI_DISPLAY_LANG.views.pages.global.print_sizes.RECEIPT_7_5_CM_PRINT }</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td style="width:15px">
                        <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                    </td>
                </tr>PAG_SEP
                <tr class="expand-row__row" style="display:none;">
                    <td colspan="10">
                        <table class="table-01">
                            <thead>
                                <tr>
                                    <th>${FUI_DISPLAY_LANG.views.pages.global.th26}</th>
                                    <th>${FUI_DISPLAY_LANG.views.pages.global.th27}</th>
                                    <th>${FUI_DISPLAY_LANG.views.pages.global.th28}</th>
                                    <th>${FUI_DISPLAY_LANG.views.pages.global.th29}</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${itemsHTML2}
                            </tbody>
                        </table>
                        <div class="order-price-table">
                            <div class="order-price-table-contents">
                                ${itemsHTML}	
                            </div>
                            <div class="order-price-table-contents">
                                <div class="order-price-table-td">
                                    <strong>${FUI_DISPLAY_LANG.views.pages.global.th30}</strong>
                                    <span>${moneyFormat(order.order_total_amount)}</span>
                                </div>
                                <div class="order-price-table-td">
                                    <strong>${FUI_DISPLAY_LANG.views.pages.global.th31}</strong>
                                    <span>${moneyFormat(order.order_dept_amount)}</span>
                                </div>
                                <div class="border-top my-1"></div>
                                <div class="order-price-table-td">
                                    <strong>${FUI_DISPLAY_LANG.views.pages.global.th32}</strong>
                                    <span>${moneyFormat(order.order_amount_paid)}</span>
                                </div>	
                            </div>
                        </div>
                    </td>
                </tr>PAG_SEP`;	
    }
    // add html
    new SmoothPagination(pagination, tableElement.find('tbody'), {
        data: html.split('PAG_SEP'),
        resultsPerPage: 12
    });
    // extra data
    invoices_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.order_receiver_name}</span>
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text27 }: </span>
            <span>${last_data.supplier_name}, </span>
            <span class="text-primary">${last_data.order_date} ${last_data.order_time}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text46 }: </span>
            <span>${ (last_data.order_hash) ?? '' } </span>
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${ (last_data.order_note) ?? '' } </span>
        </li>
    `)
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ order_id: check.data('orderid') });
    }

    return list;
}

})

</script>