<div class="container-fluid" id="allPatientsCertificatesContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_prescriptions.sectionTitle %></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
    <div class="my-2">
        <button class="btn btn-success btn-sm shadow back-button" data-name="create-patient-certificates" data-perm="create_patient_certificates">
            <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
        </button>
    </div>
	<div class="mt-3 app-block WRAPPER" id="wrapper01">
		<div class="table-nav">

			<div class="row gx-4 gy-3 mb-2">

                <div class="col-lg-12 col-md-12 col-sm-12" data-perm="delete_patient_certificates">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">
						<%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %>
					</button>
				</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        search_inputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="certificates_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="certificates_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>  
				
			</div>

            <div class="row">

                <div class="col-lg-2 col-md-3 col-sm-12">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers.template.ejs', {
                        componentId: 'filter',
                        selectId: 'center_select',
                        eventsReceiverId: 'private_appointments_container',
                    }) -%>
                </div>

            </div>

		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement1">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#allPatientsCertificatesContainer');
if ( !page_container[0] ) return

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');

var search_btn = page_container.find('#search_btn');
var search_input = page_container.find('#search_input');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');
var center_select = page_container.find('#center_select');

var certificates_total = page_container.find('#certificates_total');
var certificates_extra_data_list = page_container.find('#certificates_extra_data_list');

var pagination = page_container.find('#pagination');
var tableElement1 = page_container.find('#tableElement1');

var wrapper01 = page_container.find('#wrapper01');

date_start_input.val(CURRENT_DATE)
date_end_input.val(CURRENT_DATE)

// tableElement1 click
tableElement1.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="row"]')
        var id = parent.data('id');

        var res = await CERTIFICATE_MODEL.show({
            id: id
        })

        goToPage('create-patient-certificates', res.data)
        //rebindEvents();
    }
    else if ( target.data('role') == 'PRINT' )
    {
        var parent = target.closest('.card')
        var id = parent.data('id');
        // loader
        SectionLoader(target.closest('.card'));
        var res = await CERTIFICATE_MODEL.show({
            id: id
        });
        // loader
        SectionLoader(target.closest('.card'), '');
        var data = res.data;
        // console.log(data)

        var certificate_print = createFakeElement('FAKE_CONTAINER', await (getPage('../views/prints/certificate-landscape-page.ejs')) ).find('.certificate-print')
        var certificate_name = certificate_print.find('#certificate_name')
        var certificate_body = certificate_print.find('#certificate_body')

        certificate_name.html(data.name)
        certificate_body.html(data.body)

        var orientation = target.data('orientation')
        var margin = target.data('margin')
        var size = target.data('size')
        var css_class = target.data('css-class')
        var css_classes = ['certificate-landscape', 'certificate-portrait']
        
        certificate_print.removeClass(css_classes)
        certificate_print.addClass(css_class)

        printHTMLToPdf( certificate_print[0].outerHTML, {
            top: 10000,
            left: 10000,
            page: {
                size: `${size} ${orientation}`,
                margin: margin 
            }
        } )
    }
});
// delete
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(c =>
    {
        SectionLoader(wrapper01);
        CERTIFICATE_MODEL.batchDelete( {
            list: getSelectedRows()
        } ).then(response =>
        {
            // hide loader
            SectionLoader(wrapper01, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0)
                .find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0)
            .find('#text').text(response.message);
            //
            displayAll({
                method_type: 'searchLocal',
                administration_id: center_select.find(':selected').val(),
                query: search_input.val(),
                _target: CERT_TARGET_PATIENT,
            })
        });
    });
});
// search
search_btn.on('click', e =>
{
    displayAll({
        method_type: 'searchLocal',
        administration_id: center_select.find(':selected').val(),
        query: search_input.val(),
        _target: CERT_TARGET_PATIENT,
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
        }
    })
})
search_input.on('keyup', async e =>
{
    displayAll({
        method_type: 'searchLocal',
        administration_id: center_select.find(':selected').val(),
        query: search_input.val(),
        _target: CERT_TARGET_PATIENT,
    })
});
// center-selected
$(document).off('center-selected').on('center-selected', e =>
{
    var detail = e.originalEvent.detail

    setOptionSelected(center_select, 4)
    
    displayAll({
        method_type: 'searchLocal',
        administration_id: center_select.find(':selected').val(),
        query: search_input.val(),
        _target: CERT_TARGET_PATIENT,
    })
})
// select clinic
center_select.on('change', e =>
{
    displayAll({
        method_type: 'searchLocal',
        administration_id: center_select.find(':selected').val(),
        query: search_input.val(),
        _target: CERT_TARGET_PATIENT,
    })
})
// display all
displayAll({
    method_type: 'searchLocal',
    administration_id: center_select.find(':selected').val(),
    query: search_input.val(),
    _target: CERT_TARGET_PATIENT,
})
async function displayAll(params)
{
    // total
    certificates_total.text(0)

    certificates_extra_data_list.html('')
    SectionLoader(tableElement1)
    if ( params.method_type == 'searchLocal' ) var res = await CERTIFICATE_MODEL.searchLocal(params)

    SectionLoader(tableElement1, '')
    // clear html
    tableElement1.html('');
    if ( res.code == 404 )
        return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    certificates_total.text(data.length)
    $.each(data, (k,v) =>
    {
        html+= `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card hover-shadow" data-role="row" data-id="${v.id}" data-target-id="${v.target_id}" data-target-name="${v.target_name}" data-name="${v.name}" style="cursor: pointer;">
                        <div class="pt-2 px-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" data-role="CHECK" value="" id="flexCheckDefault_${v.id}">
                                <label class="form-check-label" for="flexCheckDefault_${v.id}">
                                    ${FUI_DISPLAY_LANG.views.pages.global.select}
                                </label>
                            </div>
                        </div>
                        <div class="card-body no-pointer">
                            <div class="h5">${FUI_DISPLAY_LANG.views.pages.global.created_by}: ${v.employee_name}</div>
                            <span class="text-02">${FUI_DISPLAY_LANG.views.pages.global.for_}:  ${v.target_name}</span>
                            <div class="text-muted mt-2">${FUI_DISPLAY_LANG.views.pages.global.created_at}: ${v.created_at_date} | ${v.created_at_time}</div>
                        </div>
                        <div class="py-2 px-2">
                            <a class="d-inline-block mx-2 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ${FUI_DISPLAY_LANG.views.pages.global.more}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PRINT" data-orientation="landscape" data-size="A4" data-margin="0 0 0 -1cm" data-css-class="certificate-landscape" data-perm="print_patient_landscape_certificates">${FUI_DISPLAY_LANG.views.pages.global.paper_orientations[0].name}</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item" data-role="PRINT" data-orientation="portrait" data-size="A5" data-margin="0cm 0cm 0cm -1cm"  data-css-class="certificate-portrait" data-perm="print_patient_portrait_certificates">${FUI_DISPLAY_LANG.views.pages.global.paper_orientations[1].name}</a>
                                </li>
                            </ul>
                            <a href="#" class="d-inline-block text-dark" data-role="UPDATE" data-perm="update_patient_certificates">
                                <i class="fas fa-edit no-pointer"></i>
                            </a>
                        </div>
                    </div>
                </div>PAG_SEP`;	
    });
    // add html
    var options = {
        data: html.split('PAG_SEP'),
        resultsPerPage: 9
    };
    new SmoothPagination(pagination, tableElement1, options);
    // extra data
    certificates_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.target_name}, </span>
            <span class="text-primary">${last_data.created_at_date} ${last_data.created_at_time}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${ strSnippet(last_data.body, 150) } </span>
        </li>
    `)
}

// get selected
function getSelectedRows()
{
    var list = [];
    var checks = tableElement1.find('[data-role="CHECK"]');
    for (var i = 0; i < checks.length; i++) 
    {
        var check = $(checks[i]);
        var parent = check.closest('[data-role="row"]')
        if ( check.is(':checked') )
            list.push({ id: parent.data('id') });
    }

    return list;
}


})

</script>