<div class="container-fluid" id="view_docit_groups">

	<div class="wrapper d-none d-flex">

		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_appointements.sectionTitle %></h1>

        <div class="width-10px"></div>

        <div class="d-flex align-items-center">
			<a href="#" class="fs-14 fw-500 btn btn-success" data-perm="create_docit_groups" onclick="CreateDocitGroupDialog()">
				<%= UI_DISPLAY_LANG.views.pages.global.add_new_button %>
            </a>
		</div>

	</div>

	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>

	<div class="mt-3">

		<div class="table-nav">
			
			<div class="row">

				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
				<!-- <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="groups_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="groups_extra_data_list">
                        
                    </ul>
                </div>  -->

			</div>

		</div>

		<div class="row gy-3 mb-4" id="tableElement">

		</div>

        <div class="text-center">
            <button class="btn-01 min-width-160px" id="load_more_button">
                <%= UI_DISPLAY_LANG.views.pages.global.load_more_button %>
            </button>
        </div>
        
	</div>

</div>

<script>

$(function()
{
// Create Docit user

// check if exists



var page_container = $('#view_docit_groups')

if ( !page_container[0] ) return

const search_btn = page_container.find('#search_btn')
const search_input = page_container.find('#search_input')
const date_start_input = page_container.find('#date_start_input')
const date_end_input = page_container.find('#date_end_input')

const groups_total = page_container.find('#groups_total')
const groups_extra_data_list = page_container.find('#groups_extra_data_list')

const pagination = page_container.find('#pagination')
const tableElement = page_container.find('#tableElement')

const load_more_button = page_container.find('#load_more_button')

var isLoading = false
var PAGINATION = {
    per_page: 10,
    current_page: 1,
    last_page: 0,
    total: 0,
}

const params = {
    searchTerm: '',
    user_id: DEFAULT_INI_SETTINGS.DOCIT_USER.USER_ID,
    pagination: PAGINATION,
    orderBy: 'id',
    order: 'desc',
}

// search
detectTypingEnd(search_input, val => {
    displayAll()
})

// load more
load_more_button.off('click').on('click', e => {

    if ( getIsLoading() ) return

    if ( getPagination().current_page == getPagination().last_page ) 
    {
        // hide button
        load_more_button.parent().addClass('d-none')
        return
    }

    setPagination({
        current_page: getPagination().current_page + 1,
    })

    setIsLoading(true)

    displayAll({
        onData: (data) => {
            console.log(data)
            setIsLoading(false)
        }
    })

})

// CreateDocitGroupDialog
$(document).off('CreateDocitGroupDialog:created').on('CreateDocitGroupDialog:created', e => {
    const detail = e.originalEvent.detail

    appendGroup({
        append: false,
    }, detail)
})
$(document).off('CreateDocitGroupDialog:updated').on('CreateDocitGroupDialog:updated', e => {
    displayAll({
        clearOld: true,
    })
})

// display all
displayAll()
async function displayAll(options = {})
{
    const defaultOptions = {
        onData: (e) => {}
    }

    options = {...defaultOptions, ...options}

    params.searchTerm = search_input.val()
    params.pagination = PAGINATION

    showPlaceholder()

    var res = null

    try 
    {
        res = await DOCIT_GROUP_MODEL.search(params)
    } 
    catch (error) {
        tableElement.html(`
        <div class="col-lg-12 col-md-12 cursor-pointer">

            <div class="overflow-hidden no-pointer">

                <p class="fs-17 text-danger">
                    ${ FUI_DISPLAY_LANG.views.messages.no_data_found }
                </p>

            </div>

        </div>
        `)
        hidePlaceholder()
        return
    }

    // Update PAGINATION
    PAGINATION.last_page = res.data.last_page
    PAGINATION.total = res.data.total
    setPagination({
        last_page: res.last_page,
        total: res.total,
        from: res.from,
        to: res.to,
    })
    
    hidePlaceholder()

    // clear
    if ( options.clearOld ) 
    {
        tableElement.html('')

        setPagination({
            last_page: 10,
            total: 1,
            from: 0,
            to: 0,
        })
    }

    const data = res.data
    var html = ''

    data.map((group, k) => {
        appendGroup({}, group)
    })

}

// append html
function appendGroup(options = {}, group)
{
    const defaultOptions = {
        append: true,
    }

    options = {...defaultOptions, ...options}

    const id = `group_holder__${uniqid()}__${group.id}`

    const html = `
    <div class="col-md-12" id="${id}" data-id="${group.id}" data-name="${group.name}">

        <div class="d-flex align-items-center cursor-pointer bg-color-hover-ebebeb px-3 py-4 border-bottom">

            <div class="w-100">
                
                <div class="mb-2">
                    <h4 class="h4 mb-0">
                        ${group.name}
                    </h4>
                </div>

                ${
                    (!isNull(group.description)) ? `
                    <div class="mb-4">
                        <p class="fs-17 fw-300 text-color-17 max-width-500px">
                            ${ summarizeText(group.description, 140) }
                        </p>
                    </div>
                    `
                    : ''
                }

                <div class="fs-14 text-color-17">
                    ${ getDatetimeDifference(group.created_at).auto } 
                    ( ${ formatDateTime(group.created_at, {
                        month: 'short',
                        day: 'numeric',
                        year: 'numeric'
                    }) })
                </div>

            </div>

            <div class="">

                <div class="d-flex align-items-center mb-3">
                
                    <div class="dropdown">
                        <div class="bg-white d-inline-flex justify-content-center align-items-center border-radius-10 cursor-pointer text-color-17 px-2 py-1" type="button" id="group_more_actions_menu__${group.id}" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
    
                        <ul class="dropdown-menu" id="group_more_actions__menu__${group.id}" aria-labelledby="group_more_actions_menu__${group.id}">
                            <li data-perm="update_docit_groups">
                                <a class="dropdown-item fs-14" href="#" data-role="UPDATE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.actions.update %>
                                </a>
                            </li>
                            <li data-perm="delete_docit_groups">
                                <a class="dropdown-item fs-14" href="#" data-role="DELETE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.actions.delete %>
                                </a>
                            </li>
                            <li data-perm="add_people_to_docit_groups">
                                <a class="dropdown-item fs-14" href="#" data-role="add_people_to_docit_groups" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.add_users %>
                                </a>
                            </li>
                        </ul>
                    </div>
    
                </div>

            </div>

        </div>

    </div>
    `
    //
    if ( options.append ) tableElement.append(html)
    else tableElement.prepend(html)

    // dispatch_onNewAjaxContentLoaded()
	dispatch_onNewAjaxContentLoaded()

    const holder = page_container.find(`#${id}`)

    const group_more_actions__menu__ = holder.find(`#group_more_actions__menu__${group.id}`)

    group_more_actions__menu__.on('click', async e => {
        const target = $(e.target)

        if ( target.data('role') == 'UPDATE' )
        {
            holder.addClass('disabled')

            var res = null
            try 
            {
                res = await DOCIT_GROUP_MODEL.show(holder.data('id'))
            } 
            catch (error) 
            {
                CreateToast('PS', FUI_DISPLAY_LANG.views.messages.error, '')
                holder.removeClass('disabled')
            }

            holder.removeClass('disabled')

            CreateDocitGroupDialog(res.data)
        }
        else if ( target.data('role') == 'DELETE' )
        {
            PromptConfirmDialog().then(async () => {

                holder.addClass('disabled')

                var res = null
                try 
                {
                    res = await DOCIT_GROUP_MODEL.delete(holder.data('id'))
                } 
                catch (error) 
                {
                    CreateToast('PS', FUI_DISPLAY_LANG.views.messages.error, '')
                    holder.removeClass('disabled')
                }

                holder.removeClass('disabled')

                holder.remove()
            })
        }
        else if ( target.data('role') == 'add_people_to_docit_groups' )
        {
            AddPeopleToDocitGroupDialog({
                group_id: group.id,
                group_name: group.name,
            })
        }
    
    })
}

// set pagination
function setPagination(options = {})
{
    PAGINATION = {...PAGINATION, ...options}
}
// get pagination
function getPagination()
{
    return PAGINATION
}
// set isLoading
function setIsLoading(value)
{
    isLoading = value
}
// get isLoading
function getIsLoading()
{
    return isLoading
}
// show placeholder
function showPlaceholder()
{
    const id = tableElement.attr('id')
    const selector = `placeholder__${id}`
    const html = `
    <div class="col-lg-12 col-md-12 js_checkable_box_row no-pointer ${selector}">

        <div class="d-flex align-items-center cursor-pointer bg-color-hover-ebebeb px-3 py-4 border-bottom">

            <div class="w-100">
                
                <div class="mb-2">
                    <h4 class="h4 mb-0">
                        <div class="content-placeholder max-width-260px height-18px d-block"></div>
                    </h4>
                </div>

                <div class="mb-4">
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                </div>

                <div class="fs-14 text-color-17">
                    <div class="content-placeholder max-width-94px height-5px d-block"></div>
                </div>

            </div>

            <div class="">

                <div class="d-flex align-items-center mb-3">
                
                    <div class="dropdown">
                        <div class="bg-white d-inline-flex justify-content-center align-items-center border-radius-10 cursor-pointer text-color-17 px-2 py-1" type="button" id="patient_card_more_actions_menu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <ul class="dropdown-menu" id="patient_card_more_actions__menu" aria-labelledby="patient_card_more_actions_menu">
                            <li data-perm="update_patient">
                                <a class="dropdown-item fs-14" href="#" data-role="UPDATE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.edit_profile %>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item fs-14" href="#" data-role="show_patient_profile" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.show_profile %>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-12 col-md-12 js_checkable_box_row no-pointer ${selector}">

        <div class="d-flex align-items-center cursor-pointer bg-color-hover-ebebeb px-3 py-4 border-bottom">

            <div class="w-100">
                
                <div class="mb-2">
                    <h4 class="h4 mb-0">
                        <div class="content-placeholder max-width-260px height-18px d-block"></div>
                    </h4>
                </div>

                <div class="mb-4">
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                </div>

                <div class="fs-14 text-color-17">
                    <div class="content-placeholder max-width-94px height-5px d-block"></div>
                </div>

            </div>

            <div class="">

                <div class="d-flex align-items-center mb-3">
                
                    <div class="dropdown">
                        <div class="bg-white d-inline-flex justify-content-center align-items-center border-radius-10 cursor-pointer text-color-17 px-2 py-1" type="button" id="patient_card_more_actions_menu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <ul class="dropdown-menu" id="patient_card_more_actions__menu" aria-labelledby="patient_card_more_actions_menu">
                            <li data-perm="update_patient">
                                <a class="dropdown-item fs-14" href="#" data-role="UPDATE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.edit_profile %>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item fs-14" href="#" data-role="show_patient_profile" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.show_profile %>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="col-lg-12 col-md-12 js_checkable_box_row no-pointer ${selector}">

        <div class="d-flex align-items-center cursor-pointer bg-color-hover-ebebeb px-3 py-4 border-bottom">

            <div class="w-100">
                
                <div class="mb-2">
                    <h4 class="h4 mb-0">
                        <div class="content-placeholder max-width-260px height-18px d-block"></div>
                    </h4>
                </div>

                <div class="mb-4">
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                </div>

                <div class="fs-14 text-color-17">
                    <div class="content-placeholder max-width-94px height-5px d-block"></div>
                </div>

            </div>

            <div class="">

                <div class="d-flex align-items-center mb-3">
                
                    <div class="dropdown">
                        <div class="bg-white d-inline-flex justify-content-center align-items-center border-radius-10 cursor-pointer text-color-17 px-2 py-1" type="button" id="patient_card_more_actions_menu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <ul class="dropdown-menu" id="patient_card_more_actions__menu" aria-labelledby="patient_card_more_actions_menu">
                            <li data-perm="update_patient">
                                <a class="dropdown-item fs-14" href="#" data-role="UPDATE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.edit_profile %>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item fs-14" href="#" data-role="show_patient_profile" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.show_profile %>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="col-lg-12 col-md-12 js_checkable_box_row no-pointer ${selector}">

        <div class="d-flex align-items-center cursor-pointer bg-color-hover-ebebeb px-3 py-4 border-bottom">

            <div class="w-100">
                
                <div class="mb-2">
                    <h4 class="h4 mb-0">
                        <div class="content-placeholder max-width-260px height-18px d-block"></div>
                    </h4>
                </div>

                <div class="mb-4">
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                    <div class="content-placeholder max-width-500px height-5px d-block mb-2"></div>
                </div>

                <div class="fs-14 text-color-17">
                    <div class="content-placeholder max-width-94px height-5px d-block"></div>
                </div>

            </div>

            <div class="">

                <div class="d-flex align-items-center mb-3">
                
                    <div class="dropdown">
                        <div class="bg-white d-inline-flex justify-content-center align-items-center border-radius-10 cursor-pointer text-color-17 px-2 py-1" type="button" id="patient_card_more_actions_menu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <ul class="dropdown-menu" id="patient_card_more_actions__menu" aria-labelledby="patient_card_more_actions_menu">
                            <li data-perm="update_patient">
                                <a class="dropdown-item fs-14" href="#" data-role="UPDATE" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.edit_profile %>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item fs-14" href="#" data-role="show_patient_profile" >
                                    <%= UI_DISPLAY_LANG.views.pages.global.show_profile %>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    `

    // check exists
    if ( tableElement.find(`.${selector}`)[0] ) return

    tableElement.append(html)

    // disable load more button
    load_more_button.addClass('disabled')
}
// hide placeholder
function hidePlaceholder()
{
    const id = tableElement.attr('id')
    const selector = `placeholder__${id}`

    // check exists
    if ( !tableElement.find(`.${selector}`)[0] ) return

    tableElement.find(`.${selector}`).remove()
    // enable load more button
    load_more_button.removeClass('disabled')
    
    // check last page
    if ( getPagination().current_page == getPagination().last_page ) 
    {
        // hide button
        load_more_button.parent().addClass('d-none')
        return
    }
}


})

</script>