<div class="navbar-container" id="sideNavbarContainer">
	<div class="px-4 py-3 employee-info d-inline-flex flex-center w-100">
		<div class="text-center">
			<div class="text-01" id="EMPLOYEE_NAME" style="color: #c8bddd;"></div>
			<div class="text-02" id="EMPLOYEE_TYPE" style="color: #8883a3;font-size: 13px;"></div>
            <div class="text-01" id="CENTER_NAME" style="color: #8883a3;"></div>
		</div>
	</div>
	<div class="wrapper WRAPPER">
		<!--
		<div class="px-4 py-3 btn-close-holder">
			<button class="btn-close-1">
				&times;
			</button>
		</div>
		-->
		<ul class="nb-navmenu" id="nbNavMenu">
			<!--
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/patients.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav01 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav08 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav07 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			-->
			<li class="list-dropdown-toggle">
				<a href="#" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/growth.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav27 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/each-clinic-statistics.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav36 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/products-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav50 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/revenue-and-accumulation.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav53 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/central-admin-statistics.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav69 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/patients-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav82 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="#" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/class.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav15 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-treatment-classes.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav16 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-treatment-classes.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav17 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="#" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/timetable.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav18 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-appointements.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav19 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/add-follow-up-appointements.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav40 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/follow-up-appointements.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav49 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/general-appointements.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav20 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="assets/img/navbar/messages.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav11 %></span>
					<span class="position-absolute translate-middle badge rounded-pill bg-danger" id="MESSAGES_BADGE">
					    0
					    <span class="visually-hidden">unread messages</span>
					</span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/send-message.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav12 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/inbox.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav13 %></span>
                        </a>
                        <a href="views/pages/sent.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav14 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/money-safe.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav28 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-to-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav66 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/add-to-central-admin-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav65 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/treasury-cashouts.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav67 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/treasury-cashouts-central-admin.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav68 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/treasury-sent-expenses.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav98 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/suppliers-depts-expenses.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav115 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/clinic.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav38 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="../views/pages/central_admin/clinics/create.ejs" data-name="create-clinics" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav39 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="../views/pages/central_admin/clinics/index.ejs" data-name="all-clinics" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav45 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/patients.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav01 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav08 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav07 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="list-dropdown-toggle">
                <a href="" data-role="NAV_LINK">
                    <span class="icon">
                        <img src="assets/img/navbar/members.png" alt="">
                    </span>
                    <span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav75 %></span>
                </a>
                <ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/unseen-members.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav77 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/seen-members.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav76 %></span>
                        </a>
                    </li>
                </ul>
            </li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/medicines.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav21 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li class="d-none">
                        <a href="views/pages/add-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav22 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/send-products-to-centers.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav52 %></span>
                        </a>
                    </li>
                    <li class="d-none">
                        <a href="views/pages/all-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav23 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-centers-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav51 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-centers-products-invoices.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav46 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/pharmacie.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav24 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/all-products-billings.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav26 %></span>
                        </a>
                    </li>
                    <li class="d-none">
                        <a href="views/pages/billings-waiting-approval.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav35 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/employees.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav31 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/add-employees-for-clinics.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav32 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/add-employees-for-central-administration.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav42 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-clinic-employees.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav33 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-central-administration-employees.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav43 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/employees-attendance.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav34 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/employees-accounting.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav41 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/all-employees-cashout-records.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav47 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/permissions.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav111 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/center-employees-permissions.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav112 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/central-administration-employees-permissions.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav113 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="list-dropdown-toggle">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/medical-analysis.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav119 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="../views/pages/central_admin/medical-analysis/create.ejs" data-name="create-medical-analysis" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav2 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="../views/pages/central_admin/medical-analysis/index.ejs" data-name="all-medical-analysis" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav1 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li>
                <a href="views/pages/all-testimonials.ejs" data-role="NAV_LINK">
                    <span class="icon">
                        <img src="assets/img/navbar/testimonials.png" alt="">
                    </span>
                    <span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav70 %></span>
                </a>
            </li>
            <li class="list-dropdown-toggle">
				<a href="" class="position-relative" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/report.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav118 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="../views/pages/central_admin/daily-reports/index.ejs" data-name="all-global-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav1 %></span>
                        </a>
                    </li>
                </ul>
			</li>
		</ul>
		<div class="copyright d-none">
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text01 %></p>
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text02 %></p>
			<small>0699666569</small>
			<br>
			<small>0663650688</small>
		</div>
	</div>
</div>