<div class="container-fluid" id="selectCenterTreatmentClassesContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.select_center_treatment_classes.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="" id="wrapper01">
			<form action="#" id="addForm">
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.select_center_treatment_classes.form01.label01 %></label>
					<input type="text" class="input-text input-text-outline" id="searchInput" placeholder="<%= UI_DISPLAY_LANG.views.pages.select_center_treatment_classes.form01.ph01 %>">
					<div id="pagination" class="my-3 flex flex-center"></div>
					<div class="utable standard" id="tableElement">
						<div class="thead">
							<div class="td">#</div>
							<div class="td"><%= UI_DISPLAY_LANG.views.pages.select_center_treatment_classes.form01.th01 %></div>
						</div>
						<div class="tbody">
							<!--
							<div class="tr">
								<div class="td">
									<input type="checkbox" class="form-check-input" data-role="CHECK" data-classid="">
								</div>
								<div class="td">classname</div>
							</div>
							-->
						</div>
					</div>
				</div>
				<div class="">
					<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.select_center_treatment_classes.form01.submitBTN01 %>">
				</div>
			</form>
		</div>
	</div>
</div>

<script>

$(function()
{

var selectCenterTreatmentClassesContainer = $('#selectCenterTreatmentClassesContainer');
if ( selectCenterTreatmentClassesContainer[0] == undefined )
    return;

var ERROR_BOX = selectCenterTreatmentClassesContainer.find('#ERROR_BOX');

var addForm = selectCenterTreatmentClassesContainer.find('#addForm');
var pagination = addForm.find('#pagination');
var tableElement = addForm.find('#tableElement');
var searchInput = addForm.find('#searchInput');

var wrapper01 = selectCenterTreatmentClassesContainer.find('#wrapper01');

var selectedClassesArr = [];
// addForm
addForm.off('submit');
addForm.on('submit', async e =>
{
    e.preventDefault();
    SectionLoader(addForm);
    var response = await TREATMENT_CLASS_MODEL.setBatchForCenter({
        administration_id: USER_CONFIG.administration.clinicId,
        classes: selectedClasses()
    });
    SectionLoader(addForm, '');
    if ( response.code == 404 )
    {
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        return;
    }
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);

});
// search
searchInput.off('keyup');
searchInput.on('keyup', async e =>
{
    var response = await TREATMENT_CLASS_MODEL.local_index({
        clinicId: USER_CONFIG.administration.clinicId
    });
    if ( response.code == 200 )
    {
        selectedClassesArr = response.data;
    }

    var val = searchInput.val();
    SectionLoader(tableElement);
    response = await TREATMENT_CLASS_MODEL.search({
        query: val
    });
    SectionLoader(tableElement, '');
    tableElement.find('tbody').html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        var isChecked = (inJSONArray(selectedClassesArr, 'classId',v.classId)) ? 'checked' : '';
        html += `<div class="tr">
                    <div class="td">
                        <input type="checkbox" ${isChecked} class="form-check-input pointer" data-role="CHECK" data-classid="${v.classId}">
                    </div>
                    <div class="td">${v.className}</div>
                </div>PAG_SEP`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement.find('.tbody'), options);
});
// display classes
displayClasses();
function displayClasses()
{
    searchInput.trigger('keyup');
}
// selected classes
function selectedClasses()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ classId: check.data('classid') });
    }

    return list;
}

})

</script>