<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-100">

    <div id="copy_invoice_dialog__create_div">

        <div class="row gy-3" id="copy_invoice_dialog__create_div__tab_buttons">

            <div class="col-md-6">

                <div class="border rounded px-3 py-5 bg-color-hover-ebebeb text-center cursor-pointer" data-role="tab-button" data-target="#copy_invoice_dialog__create_div__tabs__transfer_invoices_between_stocks">

                    <div class="no-pointer">

                        <div class="mb-3 has-text-centered">
                            <img src="../assets/img/icons/data-transfer.png" class="width-150px" alt="">
                        </div>
                        <p class="fs-30 fw-300 js_tab_button_title text-color-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav163 %></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="border rounded px-3 py-5 bg-color-hover-ebebeb text-center cursor-pointer" data-role="tab-button" data-target="#copy_invoice_dialog__create_div__tabs__selling_invoices">

                    <div class="no-pointer">

                        <div class="mb-3 has-text-centered">
                            <img src="../assets/img/icons/trading.png" class="width-150px" alt="">
                        </div>
                        <p class="fs-30 fw-300 js_tab_button_title text-color-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav146 %></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="border rounded px-3 py-5 bg-color-hover-ebebeb text-center cursor-pointer" data-role="tab-button" data-target="#copy_invoice_dialog__create_div__tabs__buying_invoices">

                    <div class="no-pointer">

                        <div class="mb-3 has-text-centered">
                            <img src="../assets/img/icons/shopping-cart.png" class="width-150px" alt="">
                        </div>
                        <p class="fs-30 fw-300 js_tab_button_title text-color-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav145 %></p>

                    </div>

                </div>

            </div>

        </div>

        <div class="" id="copy_invoice_dialog__create_div__tabs">

            <div class="d-none" id="copy_invoice_dialog__create_div__tabs__transfer_invoices_between_stocks">

                <div class="has-text-aligned-locale-inverted">
                    <button class="btn btn-success btn-sm copy_invoice_dialog__create_div__tabs__back_button">
                        <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
                    </button>
                </div>

                <h2 class="fs-22 mb-5 js_tab_title"></h2>

                <div class="row gy-3">

                    <div class="col-md-4">
                        <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target="#copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel" >
                            <%= UI_DISPLAY_LANG.views.pages.global.central_administration_to_center %>
                        </a>
                    </div>

                </div>

                <div class="border rounded px-4 py-5 d-none mb-4" id="copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel">

                    <div class="has-text-aligned-locale-inverted">
                        <div class="close-button-sm js_panel_close_button" data-target="#copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel">
                            <i class="xfb xfb-close-sm-thin"></i>
                        </div>
                    </div>

                    <div class="">

                        <div class="mb-2">
                            <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target=".copy_invoice_dialog__create_div__items_table_panel" >
                                <%= UI_DISPLAY_LANG.views.pages.global.view_items %>
                            </a>
                        </div>

                        <div class="mb-2 d-none copy_invoice_dialog__create_div__items_table_panel">

                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target=".copy_invoice_dialog__create_div__items_table_panel">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                                <table class="table table-stripped table-hover copy_invoice_dialog__create_div__items_table js_deletable_list">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th26 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th27 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th28 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <form action="" id="copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel__create_form">

                            <div class="row gy-3">

                                <div class="col-md-6">
    
                                    <div class="mb-2">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers2.template.ejs', {
                                            componentId: 'copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel__create_form__select_centers_component',
                                            selectId: 'copy_invoice_dialog__create_div__central_administration_to_center_transfer_invoices_panel__create_form__center_select',
                                        }) -%>
                                    </div>
    
                                </div>
    
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success w-100 rounded-0 flex justify-content-center">
                                        <div class=""><%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %></div>
                                        <div class="width-10px"></div>
                                        <div class="">
                                            <span class="badge bg-danger js_invoice_items_count" >0</span>
                                        </div>
                                    </button>
                                </div>
    
                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="d-none" id="copy_invoice_dialog__create_div__tabs__selling_invoices">

                <div class="has-text-aligned-locale-inverted">
                    <button class="btn btn-success btn-sm copy_invoice_dialog__create_div__tabs__back_button">
                        <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
                    </button>
                </div>

                <h2 class="fs-22 mb-5 js_tab_title"></h2>

                <div class="row gy-3">

                    <div class="col-md-4">
                        <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target="#copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel" >
                            <%= UI_DISPLAY_LANG.views.pages.global.central_administration_to_contractor %>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target="#copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel" >
                            <%= UI_DISPLAY_LANG.views.pages.global.central_administration_to_customer %>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target="#copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel" >
                            <%= UI_DISPLAY_LANG.views.pages.global.central_administration_to_distributor %>
                        </a>
                    </div>

                </div>

                <div class="border rounded px-4 py-5 d-none mb-4" id="copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel">

                    <div class="has-text-aligned-locale-inverted">
                        <div class="close-button-sm js_panel_close_button" data-target="#copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel">
                            <i class="xfb xfb-close-sm-thin"></i>
                        </div>
                    </div>

                    <div class="">

                        <div class="mb-2">
                            <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target=".copy_invoice_dialog__create_div__items_table_panel" >
                                <%= UI_DISPLAY_LANG.views.pages.global.view_items %>
                            </a>
                        </div>

                        <div class="mb-2 d-none copy_invoice_dialog__create_div__items_table_panel">

                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target=".copy_invoice_dialog__create_div__items_table_panel">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                                <table class="table table-stripped table-hover copy_invoice_dialog__create_div__items_table js_deletable_list">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th26 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th27 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th28 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <form action="" id="copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel__create_form">

                            <div class="row gy-3">

                                <div class="col-md-6">
    
                                    <div class="mb-2">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-contractors.template.ejs', {
                                            componentId: 'copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel__create_form__select_contractors_component',
                                            selectId: 'copy_invoice_dialog__create_div__central_administration_to_contractor_selling_invoices_panel__create_form__contractor_select',
                                        }) -%>
                                    </div>
    
                                </div>
    
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success w-100 rounded-0 flex justify-content-center">
                                        <div class=""><%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %></div>
                                        <div class="width-10px"></div>
                                        <div class="">
                                            <span class="badge bg-danger js_invoice_items_count" >0</span>
                                        </div>
                                    </button>
                                </div>
    
                            </div>

                        </form>

                    </div>

                </div>

                <div class="border rounded px-4 py-5 d-none mb-4" id="copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel">

                    <div class="has-text-aligned-locale-inverted">
                        <div class="close-button-sm js_panel_close_button" data-target="#copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel">
                            <i class="xfb xfb-close-sm-thin"></i>
                        </div>
                    </div>

                    <div class="">

                        <div class="mb-2">
                            <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target=".copy_invoice_dialog__create_div__items_table_panel" >
                                <%= UI_DISPLAY_LANG.views.pages.global.view_items %>
                            </a>
                        </div>

                        <div class="mb-2 d-none copy_invoice_dialog__create_div__items_table_panel">

                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target=".copy_invoice_dialog__create_div__items_table_panel">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                                <table class="table table-stripped table-hover copy_invoice_dialog__create_div__items_table js_deletable_list">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th26 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th27 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th28 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <form action="" id="copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel__create_form">

                            <div class="row gy-3">

                                <div class="col-md-6">
    
                                    <div class="mb-2">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-customers.template.ejs', {
                                            componentId: 'copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel__create_form__select_customers_component',
                                            selectId: 'copy_invoice_dialog__create_div__central_administration_to_customer_selling_invoices_panel__create_form__customer_select',
                                        }) -%>
                                    </div>
    
                                </div>
    
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success w-100 rounded-0 flex justify-content-center">
                                        <div class=""><%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %></div>
                                        <div class="width-10px"></div>
                                        <div class="">
                                            <span class="badge bg-danger js_invoice_items_count" >0</span>
                                        </div>
                                    </button>
                                </div>
    
                            </div>

                        </form>

                    </div>

                </div>

                <div class="border rounded px-4 py-5 d-none mb-4" id="copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel">

                    <div class="has-text-aligned-locale-inverted">
                        <div class="close-button-sm js_panel_close_button" data-target="#copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel">
                            <i class="xfb xfb-close-sm-thin"></i>
                        </div>
                    </div>

                    <div class="">

                        <div class="mb-2">
                            <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target=".copy_invoice_dialog__create_div__items_table_panel" >
                                <%= UI_DISPLAY_LANG.views.pages.global.view_items %>
                            </a>
                        </div>

                        <div class="mb-2 d-none copy_invoice_dialog__create_div__items_table_panel">

                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target=".copy_invoice_dialog__create_div__items_table_panel">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                                <table class="table table-stripped table-hover copy_invoice_dialog__create_div__items_table js_deletable_list">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th26 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th27 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th28 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <form action="" id="copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel__create_form">

                            <div class="row gy-3">

                                <div class="col-md-6">
    
                                    <div class="mb-2">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-distributors2.template.ejs', {
                                            componentId: 'copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel__create_form__select_distributors_component',
                                            selectId: 'copy_invoice_dialog__create_div__central_administration_to_distributor_selling_invoices_panel__create_form__distributor_select',
                                        }) -%>
                                    </div>
    
                                </div>
    
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success w-100 rounded-0 flex justify-content-center">
                                        <div class=""><%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %></div>
                                        <div class="width-10px"></div>
                                        <div class="">
                                            <span class="badge bg-danger js_invoice_items_count" >0</span>
                                        </div>
                                    </button>
                                </div>
    
                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="d-none" id="copy_invoice_dialog__create_div__tabs__buying_invoices">

                <div class="has-text-aligned-locale-inverted">
                    <button class="btn btn-success btn-sm copy_invoice_dialog__create_div__tabs__back_button">
                        <%= UI_DISPLAY_LANG.views.pages.global.back_button %>
                    </button>
                </div>

                <h2 class="fs-22 mb-5 js_tab_title"></h2>

                <div class="row gy-3">

                    <div class="col-md-4">
                        <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target="#copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel" >
                            <%= UI_DISPLAY_LANG.views.pages.global.supplier_to_central_administration %>
                        </a>
                    </div>

                </div>

                <div class="border rounded px-4 py-5 d-none mb-4" id="copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel">

                    <div class="has-text-aligned-locale-inverted">
                        <div class="close-button-sm js_panel_close_button" data-target="#copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel">
                            <i class="xfb xfb-close-sm-thin"></i>
                        </div>
                    </div>

                    <div class="">

                        <div class="mb-2">
                            <a class="pb-4 d-inline-block fs-17 js_panel_toggler_button" href="#" data-target=".copy_invoice_dialog__create_div__items_table_panel" >
                                <%= UI_DISPLAY_LANG.views.pages.global.view_items %>
                            </a>
                        </div>

                        <div class="mb-2 d-none copy_invoice_dialog__create_div__items_table_panel">

                            <div class="has-text-aligned-locale-inverted">
                                <div class="close-button-sm js_panel_close_button" data-target=".copy_invoice_dialog__create_div__items_table_panel">
                                    <i class="xfb xfb-close-sm-thin"></i>
                                </div>
                            </div>

                            <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                                <table class="table table-stripped table-hover copy_invoice_dialog__create_div__items_table js_deletable_list">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th26 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th27 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th28 %></th>
                                            <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <form action="" id="copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel__create_form">

                            <div class="row gy-3">

                                <div class="col-md-6">
    
                                    <div class="mb-2">
                                        <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-supplier2.template.ejs', {
                                            componentId: 'copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel__create_form__select_suppliers_component',
                                            selectId: 'copy_invoice_dialog__create_div__supplier_to_center_buying_invoices_panel__create_form__supplier_select',
                                            options: {
                                                search: {
                                                    currentAdministrationOnly: true
                                                }
                                            }
                                        }) -%>
                                    </div>
    
                                </div>
    
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success w-100 rounded-0 flex justify-content-center">
                                        <div class=""><%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %></div>
                                        <div class="width-10px"></div>
                                        <div class="">
                                            <span class="badge bg-danger js_invoice_items_count" >0</span>
                                        </div>
                                    </button>
                                </div>
    
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>