<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-100">

    <form id="create_customer_dialog__create_form">

        <div class="row">

            <div class="col-ld-6 col-md-12">

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
                    <input type="text" class="input-text input-text-outline" name="name" id="create_customer_dialog__create_form__name_input">
                </div>
        
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label2 %></label>
                    <input type="text" class="input-text input-text-outline" name="phone" id="create_customer_dialog__create_form__phone_input">
                </div>
        
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label120 %></label>
                    <input type="text" class="input-text input-text-outline" name="email" id="create_customer_dialog__create_form__email_input">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label50 %></label>
                    <input type="text" class="input-text input-text-outline" name="address" id="create_customer_dialog__create_form__address_input">
                </div>

            </div>

            <div class="col-ld-6 col-md-12">

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label142 %></label>
                    <input type="text" class="input-text input-text-outline" name="NIF" id="create_customer_dialog__create_form__NIF_input">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label143 %></label>
                    <input type="text" class="input-text input-text-outline" name="NIS" id="create_customer_dialog__create_form__NIS_input">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label144 %></label>
                    <input type="text" class="input-text input-text-outline" name="ART" id="create_customer_dialog__create_form__ART_input">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label145 %></label>
                    <input type="text" class="input-text input-text-outline" name="RC" id="create_customer_dialog__create_form__RC_input">
                </div>

            </div>

        </div>

        <div class="mt-4">
            <input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
        </div>

    </form>

</div>