<div class="has-direction-locale px-3 py-3 h-100 position-relative overflow-x-hidden overflow-y-auto max-height-700px">

    <form id="create_product_dialog__create_form">

        <div class="row mb-2">

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label38 %></label>
                    <input type="text" class="input-text input-text-outline" name="productCode" id="create_product_dialog__create_form__productCode_input">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
                    <input type="text" class="input-text input-text-outline" name="productName" id="create_product_dialog__create_form__productName_input">
                </div>
        
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label24 %></label>
                    <textarea name="productDesc" rows="4" class="input-text input-text-outline" id="create_product_dialog__create_form__productDesc_input"></textarea>
                </div>
        
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label40 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="productBuyPrice" id="create_product_dialog__create_form__productBuyPrice_input" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label41 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="productPrice" id="create_product_dialog__create_form__productPrice_input" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label44 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="productWholesalePrice" id="create_product_dialog__create_form__productWholesalePrice_input" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label45 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="productHalfWholesalePrice" id="create_product_dialog__create_form__productHalfWholesalePrice_input" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label123 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="cost_price" id="create_product_dialog__create_form__cost_price_input" value="0">
                </div>

            </div>

            <div class="col-md-6">

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label116 %></label>
                    <div class="flex">
                        <div class="w-100">
                            <input type="number" step="any" min="0" class="input-text input-text-outline" name="productQuantity" id="create_product_dialog__create_form__productQuantity_input" value="0">
                        </div>
                        <div class="width-10px"></div>
                        <div class="width-94px">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-unit.template.ejs`, {
                                componentId: "create_product_dialog__create_form__select_unit_component",
                                selectId: "create_product_dialog__create_form__unit_select",
                                name: "unit",
                            }) -%>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-categories2.template.ejs`, {
                        componentId: "create_product_dialog__create_form__select_categories_component",
                        selectId: "create_product_dialog__create_form__category_select",
                        eventsReceiverId: '',
                    }) -%>
                </div>

                <div class="mb-2">
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-families.template.ejs`, {
                        componentId: "create_product_dialog__create_form__select_families_component",
                        selectId: "create_product_dialog__create_form__family_select",
                        eventsReceiverId: '',
                    }) -%>
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label94 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="low_stock_threshold" id="create_product_dialog__create_form__low_stock_threshold_input" value="10">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label124 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="average_low_stock_threshold" id="create_product_dialog__create_form__average_low_stock_threshold_input" value="50">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label127 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="package" id="create_product_dialog__create_form__package_input" value="0">
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label128 %></label>
                    <input type="number" step="any" min="0" class="input-text input-text-outline" name="units_in_package" id="create_product_dialog__create_form__units_in_package_input" value="0">
                </div>

            </div>

            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-6">

                        <div class=" w-100">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-file.template.ejs`, {
                                componentId: 'create_product_dialog__create_form__select_file_component',
                                fileInputId: 'create_product_dialog__create_form__file_input',
                                options: {
                                    isDismissable: false,
                                    accept: 'image/*',
                                    previewTarget: '#create_product_dialog__create_form__image_preview'
                                }
                            }) -%>
                        </div>

                    </div>

                    <div class="col-md-6 d-flex justify-content-center align-items-center">

                        <div class="w-100 height-280px">
                            <img src="" class="w-100 h-100 js_image_src_placeholder" id="create_product_dialog__create_form__image_preview" data-placeholder="../assets/img/utils/placeholder.jpg" alt="">
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="mt-4">
            <input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.global.save_changes_button %>">
        </div>

    </form>

</div>