<div class="container-fluid" id="centralAdminStatisticsContainer">
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="mt-3">
		<div class="row gx-4 gy-4">
			<div class="col-lg-12 col-md-12 col-sm-12 app-block">
				<div class="row gx-2 gy-3">
					<div class="col-md-4">
						<div id="calendarDiv" dir="ltr"></div>
						<div id="allStats1" class="mt-5 app-block d-inline-flex w-100" style="flex-direction: column;">
							<!--
							<div class="mb-1">
								<span class="text-04 text-muted">(0)</span>
								<span class="text-03">مرضى</span>
							</div>
							<div class="mb-1">
								<span class="text-04 text-muted">(5)</span>
								<span class="text-03">منتجات</span>
							</div>
							<div class="mb-1">
								<span class="text-04 text-muted">(1)</span>
								<span class="text-03">طلبات</span>
							</div>
							-->
						</div>
					</div>
					<div class="col-md">
						<div class="row gx-2 gy-2 h-100 my-0">
							<div class="col-md-6 col-sm-12 mt-0">
								<div class="stat-1" id="treasuryStat">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/utils/money-safe.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text01 %></div>
									</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount" data-tooletip-top="">0.00 <span class="currency"> <%= UI_DISPLAY_LANG.views.pages.statistics.currency %></span></div>
										<div class="stat-amount-tooltip" id="statAmountTooltip"></div>
									</div>
									<div class="text-04"><%= UI_DISPLAY_LANG.views.pages.statistics.text13 %></div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text14 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text15 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="stat-1" id="productsStat" style="background-color: #E8FBEB;box-shadow: 0 2px 5px #c7f7cf;">
									<div class="stat-header">
										<div class="stat-icon-holder">
											<img src="assets/img/navbar/medicines.png" alt="" class="stat-icon">	
										</div>
										<div class="stat-title"><%= UI_DISPLAY_LANG.views.pages.statistics.text06 %></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text11 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount1" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip1"></div>
									</div>
									<div class="text-04">(<%= UI_DISPLAY_LANG.views.pages.statistics.text12 %>)</div>
									<div class="d-flex flex-space-between flex-align-center">
										<div class="stat-amount" id="statAmount2" data-tooletip-top="">0.00</div>
										<div class="stat-amount-tooltip" id="statAmountTooltip2"></div>
									</div>
									<div class="stat-status d-none">
										<div class="stat-datetime"><%= UI_DISPLAY_LANG.views.pages.statistics.text04 %></div>
										<div class="stat-indicators">
											<div class="stat-rate">
												<img src="assets/img/utils/increase.png" class="stat-arrow" alt="">
												<span id="statInRate">0.00%</span>
											</div>
											<div class="stat-rate">
												<img src="assets/img/utils/decrease.png" class="stat-arrow" alt="">
												<span id="statOutRate">0.00%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="app-block my-3">
		<div class="form-field-01">
			<div class="form-field-input-holder">
				<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.statistics.label02 %></div>
				<input type="date" id="dateInput" class="form-field-input">
			</div>
		</div>
	</div>
</div>

<script>

$(async function()
{

var statisticsContainer = $('#centralAdminStatisticsContainer');
if ( statisticsContainer[0] == undefined )
    return;

var ERROR_BOX = statisticsContainer.find('#ERROR_BOX');

var dateInput = statisticsContainer.find('#dateInput');

var now = new Date();
dateInput.val( date_time.format(now, 'YYYY-MM-DD') );

var treasuryStat = statisticsContainer.find('#treasuryStat');
var productsStat = statisticsContainer.find('#productsStat');

var allStats1 = statisticsContainer.find('#allStats1');

// init calendar
new Calendar({
    id: '#calendarDiv',
    calendarSize: 'small',
    theme: 'basic',
    disableMonthYearPickers: true,
    disableDayClick: true,
    disableMonthArrowClick: true
});
// select date
dateInput.off('change');
dateInput.on('change', e =>
{
    displayStats();
});
// function display stats
displayStats();
async function displayStats()
{
    allStats1.html('');
    // display loaders
    SectionLoader(treasuryStat);
    SectionLoader(productsStat);
    // treasury
    var treasury = await listAllTreasuryInfoLocal({
        clinicId: parseInt(0),
        date: dateInput.val()
    });
    // hide loader
    SectionLoader(treasuryStat, '');
    if ( treasury.code == 200 )
    {
        var data = treasury.data;
        var expenses_bydate = data.expenses.bydate;
        var currency = (FUI_DISPLAY_LANG.lang == 'ar') ? CURRENCY.ar : CURRENCY.fr;
        var statAmountHTML = `${formatMoney(parseFloat(data.treasury_amount))}
                        <span class="currency">${currency}</span>`;
        treasuryStat.find('#statAmount').html(statAmountHTML);
        treasuryStat.find('#statAmountTooltip').text( data.treasury_amount );

        treasuryStat.find('#statAmount1').text( formatMoney( parseFloat(expenses_bydate.in) )+' '+currency );
        treasuryStat.find('#statAmountTooltip1').text( expenses_bydate.in );	
        treasuryStat.find('#statAmount2').text( formatMoney( parseFloat(expenses_bydate.out) )+' '+currency );
        treasuryStat.find('#statAmountTooltip2').text( expenses_bydate.out );		
        
    }
    // products
    var products = await listProductsLocal({
        clinicId: parseInt(0),
        date: dateInput.val()
    });
    var prodCMonthRate = 0;
    // hide loader
    SectionLoader(productsStat, '');
    if ( products.code == 200 )
    {
        var data = products.data;
        var current = (data.today) ? data.today.length : 0;
        var prior = (data.yesterday) ? data.yesterday.length : 0;
        var total = (data.all) ? data.all.length : 0;
        var bydate = data.bydate;
        var inRate = current - (total - current);
        inRate = (inRate / total) * 100;
        var outRate = (total - prior) - prior;
        outRate = (outRate / total) * 100;
        
        if ( current == 0 )
            inRate = 0.00;
        if ( prior == 0 )
            outRate = 0.00;
        prodCMonthRate = inRate;

        productsStat.find('#statAmount1').text( trimNumber(total) );
        productsStat.find('#statAmountTooltip1').text( total );	
        productsStat.find('#statAmount2').text( trimNumber(bydate.length) );
        productsStat.find('#statAmountTooltip2').text( bydate.length );	

        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">منتجات</span>
                        </div>`);
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            allStats1.append(`<div class="mb-1">
                            <span class="text-04 text-muted">(${total})</span>
                            <span class="text-03">produits</span>
                        </div>`);
        }
    }
}

})

</script>