<%- include('../views/partials/centers/header') -%>
<%- include('../views/partials/centers/navbar') -%>
<%- include('../views/partials/centers/top-navbar') -%>
<%- include('../views/dialogs/select-employee-dialog') -%>
<%- include('../views/dialogs/dialog-box') -%>
<%- include('../views/dialogs/prompt-input-dialog') -%>
<%- include('../views/dialogs/prompt-confirm-dialog') -%>
<%- include('../views/dialogs/add-appointement-patients-dialog') -%>
<%- include('../views/dialogs/order-cart-dialog') -%>
<%- include('../views/dialogs/orders-cart-dialog') -%>
<%- include('../views/dialogs/preview-file-dialog') -%>
<%- include('../views/dialogs/add-consommables-to-patient-dialog') -%>
<%- include('../views/addons/top-loader') -%>
<%- include('../views/addons/user-auth') -%>
<%- include('../views/addons/toast') -%>
<%- include('../views/addons/top-progress-bar') -%>
<%- include('../views/addons/page-loader') -%>
<div class="main-content-container position-relative" id="MainContentContainer">

    <!-- <%- include('../views/prints/customer-invoice-page.ejs') -%> -->

</div>
<!-- End Main Container -->
<%- include('../views/partials/centers/footer') -%>