<div class="container-fluid" id="create_central_administration_to_contractor_selling_invoices">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_products.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div id="wrapper01">
			<form action="#" id="addForm">

                <div class="row gy-3 mb-4">

                    <div class="col-md-4">

                        <div class="mb-2">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/external/dr-aoun/select-centers.template.ejs`, {
                                componentId: 'external_dr_aoun__select_centers_component',
                                selectId: 'external_dr_aoun__center_select',
                            }) -%>
                        </div>
        
                        <div class="mb-2 d-none">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-categories.template.ejs`, {
                                eventsReceiverId: 'create_central_administration_to_contractor_selling_invoices',
                            }) -%>
                        </div>

                        <div class="mb-2 d-none">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-families.template.ejs`, {
                                componentId: "select_families_component",
                                selectId: "family_select",
                                eventsReceiverId: 'create_central_administration_to_contractor_selling_invoices',
                            }) -%>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="mb-2 max-width-340px">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label38 %></label>
                            <!-- <input type="text" class="input-text" id="codeInput" value=""> -->
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-suggestions-box.template.ejs`, {
                                componentId: '1',
                                eventsReceiverId: 'create_central_administration_to_contractor_selling_invoices',
                                searchInputId: 'codeInput',
                                suggestions: {
                                    api: {
                                        model: "PRODUCT_MODEL"
                                    },
                                    selections: {
                                        name: 'productName',
                                        value: 'productCode',
                                    }
                                }
                            }) -%>
                        </div>

                        <input type="hidden" id="idInput">
                        
                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label01 %></label>
                            <input type="text" class="input-text" id="nameInput" value="">
                        </div>
        
                        <div class="mb-2 d-none">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label02 %></label>
                            <textarea name="" id="descInput" class="input-text" rows="4"></textarea>
                        </div>

                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label41 %></label>
                            <select name="" id="price_type_select" class="input-text mb-2">
                                <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[0].value %>" data-perm="external_dr_aoun__direction_central_administration_to_center_unconfirmed_selling_store_sell_price_regular">
                                    <%= UI_DISPLAY_LANG.views.pages.global.price_types[0].name %>
                                </option>
                                <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[1].value %>" data-perm="external_dr_aoun__direction_central_administration_to_center_unconfirmed_selling_store_sell_price_wholesale">
                                    <%= UI_DISPLAY_LANG.views.pages.global.price_types[1].name %>
                                </option>
                                <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[2].value %>" data-perm="external_dr_aoun__direction_central_administration_to_center_unconfirmed_selling_store_sell_price_half_wholesale">
                                    <%= UI_DISPLAY_LANG.views.pages.global.price_types[2].name %>
                                </option>
                            </select>
        
                            <input type="number" step="any" class="input-text" id="sellPriceInput" value="0">
                            
                        </div>

                        <div class="mb-2 d-none">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label40 %></label>
                            <input type="number" step="any" min="0" class="input-text" id="buypriceInput" value="0">
                        </div>

                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label04 %></label>
                            <div class="flex">
                                <div class="w-100">
                                    <input type="number" step="any" min="0" class="input-text" id="quantityInput" value="1">
                                </div>
                                <div class="width-10px"></div>
                                <div class="width-120px">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-unit.template.ejs`, {
                                        componentId: "select_unit_component",
                                        selectId: "unit_select",
                                    }) -%>
                                </div>
                            </div>
                        </div>
        
                        <div class="mb-2 d-none">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label94 %></label>
                            <input type="number" step="any" min="0" class="input-text" id="low_stock_threshold_input" value="10">
                        </div>
        
                        <div class="mb-2 d-none">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label06 %></label>
                            <input type="text" step="any" min="1" class="input-text" id="barcodeInput" value="">
                        </div>
        
                        <div class="mb-2 d-none">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label47 %></label>
                            <input type="date" step="any" class="input-text" id="expireDateInput" value="">
                        </div>

                    </div>

                </div>

                <div class="mb-2 d-none">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label41 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="priceInput" value="0">
                </div>

                <div class="mb-2 d-none">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label44 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="wholesalePriceInput" value="0">
                </div>

                <div class="mb-2 d-none">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label45 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="halfWholesalePriceInput" value="0">
                </div>

				<div class="my-3">
                    <div class="mb-2">
                        <button type="button" class="btn btn-success" id="addToListBTN">
                            <%= UI_DISPLAY_LANG.views.pages.add_products.btn01 %>
                        </button>
                    </div>
                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label43 %></label>
                        <input type="number" step="any" min="1" class="input-text" readonly id="totalAmountInput" value="0">
                    </div>
                    <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                        <table class="table table-stripped table-hover" id="productsTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th01 %></th>
									<th class="d-none"><%= UI_DISPLAY_LANG.views.pages.add_products.th05 %></th>
									<th><%= UI_DISPLAY_LANG.views.pages.add_products.th04 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th02 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th33 %></th>
                                    <th class="d-none"><%= UI_DISPLAY_LANG.views.pages.global.th37 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <button class="btn-close"></button>
                                    </td>
                                    <td>name</td>
									<td>desc</td>
									<td>codebar</td>
                                    <td>quantity</td>
                                    <td>price</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
				</div>

                <div class="mb-2 d-none">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label42 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="paidAmountInput" value="0">
                </div>

                <!-- Central Administration -->
                <input type="hidden" id="central_administration_inventory_quantity_input">

				<div class="mt-2">
					<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_products.form01.submitBTN01 %>">
				</div>
			</form>	
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#create_central_administration_to_contractor_selling_invoices');
if ( !page_container[0] )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');
var addForm = page_container.find('#addForm');
var external_dr_aoun__center_select = addForm.find('#external_dr_aoun__center_select');

var select_categories_template_category_select = addForm.find('#select_categories_template_category_select');
var family_select = addForm.find('#family_select');
var codeInput = addForm.find('#codeInput');
var idInput = addForm.find('#idInput');
var nameInput = addForm.find('#nameInput');
var descInput = addForm.find('#descInput');
var quantityInput = addForm.find('#quantityInput');
var price_type_select = addForm.find('#price_type_select');
var low_stock_threshold_input  = addForm.find('#low_stock_threshold_input');
var priceInput = addForm.find('#priceInput');
var wholesalePriceInput = addForm.find('#wholesalePriceInput');
var halfWholesalePriceInput = addForm.find('#halfWholesalePriceInput');
var sellPriceInput = addForm.find('#sellPriceInput');
var buypriceInput = addForm.find('#buypriceInput');
var barcodeInput = addForm.find('#barcodeInput');
var expireDateInput = addForm.find('#expireDateInput');
var paidAmountInput = addForm.find('#paidAmountInput');
var totalAmountInput = addForm.find('#totalAmountInput');
var unit_select = addForm.find('#unit_select');

var productsTable = addForm.find('#productsTable');
var addToListBTN = addForm.find('#addToListBTN');

var central_administration_inventory_quantity_input = addForm.find('#central_administration_inventory_quantity_input')

// addForm
addForm.on('submit', async e =>
{
    e.preventDefault();

    // check contractor
    if ( isNull(external_dr_aoun__center_select.find(':selected').val()) )
    {
        CreateToast('PS', FUI_DISPLAY_LANG.views.messages.invalid_receiver_selected, '')
        return
    }
    // check items
    if ( getList().length == 0 )
    {
        CreateToast('PS', FUI_DISPLAY_LANG.views.messages.invalid_product_number, '')
        return
    }

    SectionLoader(addForm);

    var order_amount_paid = parseFloat(paidAmountInput.val())
    var order_total_amount = totalAmountCalc()
    var order_dept_amount = 0

    if ( order_amount_paid > 0 )
    {
        order_dept_amount = order_total_amount - order_amount_paid
    }

    var response = await ORDER_MODEL.external_dr_aoun__direction_central_administration_to_center_unconfirmed_selling_store({
        items: getList(),
        user_id: external_dr_aoun__center_select.find(':selected').val(),
        order_receiver_name: external_dr_aoun__center_select.find(':selected').text(),
        supplier_id: 0,
        supplier_name: 'Administration Centrale',
        order_amount_paid: order_amount_paid,
        order_total_amount: order_total_amount,
        order_dept_amount: order_dept_amount,
    });
    SectionLoader(addForm, '');
    
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
    CreateToast('PS', response.message, '')
    if ( response.code == 404 ) return
    clearList();
    addForm[0].reset();
})

// barcode
listenForBarcodeScanner(code =>
{
    if ( barcodeInput.is(':focus') )
        barcodeInput.val(code);
});
// productsTable
productsTable.off('click');
productsTable.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'REMOVE_FROM_LIST' )
    {
        target.closest('[data-role="ROW"]').remove();
        // calculate total amount
        totalAmountCalc()
    }
});

// addToListBTN
addToListBTN.off('click');
addToListBTN.on('click', e =>
{
    addToList();
    // addForm[0].reset();
    codeInput.val('')
    nameInput.val('')
});
// suggestion selected
$(document).off('suggestion-selected').on('suggestion-selected', e =>
{
    var detail = e.originalEvent.detail
    var suggestion = detail.suggestion

    console.log(suggestion)
    idInput.val(suggestion.data.productId)
    nameInput.val( suggestion.name )
    descInput.val( suggestion.data.productDesc )
    buypriceInput.val( suggestion.data.productBuyPrice )
    priceInput.val( suggestion.data.productPrice )
    wholesalePriceInput.val( suggestion.data.productWholesalePrice )
    halfWholesalePriceInput.val( suggestion.data.productHalfWholesalePrice )
    // quantityInput.val( suggestion.data.productQuantity )
    barcodeInput.val( suggestion.data.productBarcode )
    setOptionSelected( select_categories_template_category_select, suggestion.data.category_id )
    setOptionSelected( family_select, suggestion.data.family_id )
    central_administration_inventory_quantity_input.val(suggestion.data.productQuantity)
    setOptionSelected( unit_select, suggestion.data.unit )
    // check price type
    price_type_select.trigger('change')
})
// price_type_select
price_type_select.on('change', e =>
{
    // check price type
    if ( price_type_select.find(':selected').val() == 'regular_price' )
        sellPriceInput.val( priceInput.val() )
    else if ( price_type_select.find(':selected').val() == 'wholesale_price' )
        sellPriceInput.val( wholesalePriceInput.val() )
    else if ( price_type_select.find(':selected').val() == 'half_wholesale_price' )
        sellPriceInput.val( halfWholesalePriceInput.val() )
})
// add to list
function addToList()
{
    var central_administration_inventory_quantity = parseInt(central_administration_inventory_quantity_input.val())

    var category_id = select_categories_template_category_select.find(':selected').val()
    var category_name = select_categories_template_category_select.find(':selected').text()

    var family_id = family_select.find(':selected').val()
    var family_name = family_select.find(':selected').text()

    var sellPrice = parseFloat(sellPriceInput.val())
    var quantity = parseInt(quantityInput.val())
    var unit = unit_select.find(':selected').val()
    var unit_text = unit_select.find(':selected').text()

    if ( isNull(codeInput.val()) )
    {
        CreateToast('PS', FUI_DISPLAY_LANG.views.messages.invalid_product_code, '')
        return
    }

    // check quantity in central administrati
    if ( central_administration_inventory_quantity == 0 
        || quantity > central_administration_inventory_quantity )
    {
        ERROR_BOX.show(0).find('#text').text(FUI_DISPLAY_LANG.views.messages.invalid_central_administration_quantity)
        CreateToast('PS', FUI_DISPLAY_LANG.views.messages.invalid_central_administration_quantity, '')
        return
    }

    var html = `<tr data-role="ROW" data-category-id="${category_id}" data-category-name="${category_name}" data-family-id="${family_id}" data-family-name="${family_name}" data-id="${idInput.val()}" data-code="${codeInput.val()}" data-name="${nameInput.val()}" data-desc="${descInput.val()}" data-quantity="${quantityInput.val()}" data-buyprice="${buypriceInput.val()}" data-price="${priceInput.val()}" data-whole-sale-price="${wholesalePriceInput.val()}" data-half-whole-sale-price="${halfWholesalePriceInput.val()}" data-sell-price="${sellPriceInput.val()}" data-barcode="${barcodeInput.val()}" data-expired-at="${expireDateInput.val()}" data-low-stock-threshold="${low_stock_threshold_input.val()}" data-unit="${unit}">
                    <td>
                        <button class="btn-close" data-role="REMOVE_FROM_LIST"></button>
                    </td>
                    <td>${codeInput.val()}</td>
                    <td>
                        <div class="mb-2">${nameInput.val()}</div>
                        <div class"mb-2">
                            <div class="alert alert-info py-1 d-inline-block">${category_name}</div>    
                        </div>
                        <div class"">
                            <div class="alert alert-info py-1 d-inline-block">${family_name}</div>    
                        </div>
                    </td>
                    <td class="d-none">${descInput.val()}</td>
                    <td>${barcodeInput.val()}</td>
                    <td>
                        ${quantity} ${unit_text}
                    </td>
                    <td><span class="text-success">${ moneyFormat(sellPrice) }</span></td>
                    <td class="d-none">
                        <div class="">${FUI_DISPLAY_LANG.views.pages.global.th34}: <span class="text-success">${ moneyFormat(sellPrice) }</span></div>
                    </td>
                    <td class="has-direction-ltr">
                        <div class="mb-2">${quantity} x ${sellPrice}</div>
                        <div>= ${ quantity * sellPrice }</div>
                    </td>
                </tr>PAG_SEP`;
                
    productsTable.find('tbody').append(html)
    // calculate total amount
    totalAmountCalc()
}
// clear list
function clearList()
{
    productsTable.find('tbody').html('');
    // calculate total amount
    totalAmountCalc()
}
// get list
function getList()
{
    var list = [];
    var rows = productsTable.find('[data-role="ROW"]');
    for (let i = 0; i < rows.length; i++) 
    {
        const product = $(rows[i]);
        list.push({
            order_item_id: product.data('id'),
            order_item_quantity: product.data('quantity'),
            order_item_price: product.data('sell-price'),
            order_item_final_amount: parseInt( product.data('quantity') ) * parseFloat( product.data('sell-price') ),
            order_item_unit: product.data('unit'),
        });
    }

    return list;
}
// calculate total amount
function totalAmountCalc()
{
    var items = getList()
    var total = 0

    for (let i = 0; i < items.length; i++) 
    {
        const item = items[i];
        total += item.order_item_final_amount
    }

    // display total amount
    totalAmountInput.val(total)

    return total
}

})

</script>