<div class="container-fluid" id="view_contractors_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
	<div class="mt-3">

		<div class="table-nav">
			
            <div class="row gx-4 gy-3 mb-2">

                <div class="col-lg-12 col-md-12 col-sm-12" data-perm="delete_contractors">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN"><%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %></button>
				</div>

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="contractors_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="contractors_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>

            </div>

		</div>

		<div id="pagination" class="my-3 flex flex-center"></div>

		<div class="utable shadowed" id="tableElement">
			<div class="thead">
				<div class="td">#</div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th1 %></div>
                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th2 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th62 %></div>
                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th66 %></div>
                <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th67 %></div>
                <div class="td"></div>
			</div>
			<div class="tbody">
				<!--
				<div class="tr">
					<div class="td">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-classid="">
					</div>
					<div class="td">clinicname</div>
					<div class="td">classname</div>
					<div class="td">classdesc</div>
					<div class="td">date</div>
					<div class="td">
						<button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-aptid="">
							<span class="no-pointer"><i class="fas fa-edit"></i></span>
						</button>		
					</div>
				</div>
				-->
			</div>
		</div>

	</div>

</div>

<script>

$(function()
{

var page_container = $('#view_contractors_container');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');

var contractors_total = page_container.find('#contractors_total');
var contractors_extra_data_list = page_container.find('#contractors_extra_data_list');

// tableElement click
tableElement.on('click', async e =>
{
    var target = $(e.target);
    var parent = target.closest('[data-role="row"]')

    if ( target.data('role') == 'UPDATE' )
    {
        
        var res = await CONTRACTOR_MODEL.show({
            id: parent.data('id'),
        })

        if ( res.code == 404 )
        {
            CreateToast('PS', res.message, '')
        }

        goToPage('create-contractors', res.data )
    }
});
// delete selected
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')

        var res = await CONTRACTOR_MODEL.batchDelete({
            collection: selectedRows()
        });
        
        deleteSelectedBTN.removeClass('disabled')

        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)

        CreateToast('PS', res.message, '')
        //
        if ( res.code == 404 ) return
        
        search_input.trigger('keyup')
    });
})
// search
search_btn.on('click', async e =>
{
    search_input.trigger('keyup')
});
detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'search',
        query: search_input.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            administration_id: 0,
        }
    })
})

// display all 
search_input.trigger('keyup')
async function displayAll(params)
{
    // total
    contractors_total.text(0)

    contractors_extra_data_list.html('')
    SectionLoader(tableElement)
    // clear html
    tableElement.find('.tbody').html('')
    if ( params.method_type == 'search' ) var res = await CONTRACTOR_MODEL.search(params)
    
    SectionLoader(tableElement, '')

    if ( res.code == 404 )
        return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    contractors_total.text(data.length)
    $.each(data, (k,v) =>
    {
        html += `
        <div class="tr" data-role="row" data-id="${v.id}">
            <div class="td">
                <input type="checkbox" class="form-check-input pointer" data-role="CHECK">   
            </div>
            <div class="td">
                <div class="mb-2">
                    <a href="#" class="pointer js_go_to_contractor_profile" data-contractor-id="${v.id}">${v.name}</a>    
                </div>   
                ${
                    (v.address)
                    ? `
                    <div class="">
                        (${v.address})
                    </div> 
                    `
                    : ''
                }
            </div>
            <div class="td">
                ${
                    (v.phone1)
                    ? `
                    <div class="mb-2">
                        ${v.phone1}
                    </div> 
                    `
                    : ''
                }
                ${
                    (v.phone2)
                    ? `
                    <div class="mb-2">
                        ${v.phone2}
                    </div> 
                    `
                    : ''
                }
                ${
                    (v.phone3)
                    ? `
                    <div class="">
                        ${v.phone3}
                    </div> 
                    `
                    : ''
                }
            </div>
            <div class="td">
                ${
                    (v.email1)
                    ? `
                    <div class="mb-2">
                        ${v.email1}
                    </div> 
                    `
                    : ''
                }
                ${
                    (v.email2)
                    ? `
                    <div class="mb-2">
                        ${v.email2}
                    </div> 
                    `
                    : ''
                }
                ${
                    (v.email3)
                    ? `
                    <div class="">
                        ${v.email3}
                    </div> 
                    `
                    : ''
                }
            </div>
            <div class="td text-success">
                ${ moneyFormat(v.total_dues) }
            </div>
            <div class="td text-success">
                ${ moneyFormat(v.total_depts) }
            </div>
            <div class="td">
                <div class="mb-2">
                    ${ formatTimeStamp(v.created_at) }
                </div>
                <div class="mb-2">
                    ${ v.created_at }
                </div>
                <button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-perm="update_contractors">
                    <span class="no-pointer"><i class="fas fa-edit"></i></span>
                </button>   
            </div>
        </div>PAG_SEP
        `;
    })
    // add html
    new SmoothPagination(pagination, tableElement.find('.tbody'), {
        data: html.split('PAG_SEP')
    });
    
    // extra data
    contractors_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.name}, </span>
            <span class="text-primary">${last_data.created_at}</span> 
        </li>
    `)

}

// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="row"]');
    for (var i = 0; i < items.length; i++) 
    {
        var parent = $(items[i])
        var check = parent.find('[data-role="CHECK"]');

        if ( check.is(':checked') )
        {
            list.push({
                id: parent.data('id')
            })
        }
    }

    return list;
}

})

</script>