<div class="top-navbar-container" id="topNavbarContainer">
	<div class="wrapper clearfix" style="overflow: unset;">

		<button class="btn btn-primary btn-sm toggle-sidebar-btn" style="background: #5bb877;border-color: transparent;box-shadow: 10px 10px 19px 0px rgba(35,178,227,0.75) inset;
		-webkit-box-shadow: 10px 10px 19px 0px rgba(35,178,227,0.75) inset;
		-moz-box-shadow: 10px 10px 19px 0px rgba(35,178,227,0.75) inset;" id="toggleSideBarBTN">
			<span><i class="fas fa-arrows-alt-h"></i></span>
		</button>
		<ul class="tnb-navmenu" id="topbarNavMenu">
			<li data-perm="create_driver_jobs">
				<a href="#" class="d-none js_switch_to_central_administration_dashboard">
					<%= UI_DISPLAY_LANG.views.pages.global.text104 %>
				</a>
			</li>
			<li>
				<a href="" data-role="LOGOUT_NAV_LINK">
					<%= UI_DISPLAY_LANG.views.partials.sidebar.nav05 %>
				</a>
			</li>
			<li>
				<a href="" data-role="CHECK_FOR_UPDATES_NAV_LINK">
					<%= UI_DISPLAY_LANG.views.partials.sidebar.nav04 %>
				</a>
			</li>
			<li data-perm="settings">
				<a href="../views/pages/centers/settings/account.ejs" data-name="account-settings" data-role="NAV_LINK">
					<%= UI_DISPLAY_LANG.views.partials.sidebar.nav03 %>
				</a>
			</li>
			<li data-perm="ringing_the_bell">
				<a href="#" data-role="RING_BELL_NAV_LINK">
					<%= UI_DISPLAY_LANG.views.partials.sidebar.nav124 %>
				</a>
			</li>
			<li data-perm="create_driver_jobs">
				<a href="#" data-role="CREATE_DRIVER_JOB_NAV_LINK">
					<%= UI_DISPLAY_LANG.views.partials.sidebar.nav144 %>
				</a>
			</li>
			<li>
				<div class="dropdown">
					<a class="dropdown-toggle" type="button" id="top_nav_bar_more_list_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
						<%= UI_DISPLAY_LANG.views.pages.global.more %>
					</a>
					<ul class="dropdown-menu" aria-labelledby="top_nav_bar_more_list_dropdown">
						<li class="d-block has-text-centered" data-perm="set_order_global_settings">
							<a class="dropdown-item text-dark" href="#" onclick="SetOrderGlobalSettings()"><%= UI_DISPLAY_LANG.views.pages.global.set_order_global_settings %></a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		
		<span class="gna-button-toggler-wrapper"></span>

	</div>
</div>

<script>

$(function()
{

var toggleSideBarBTN = TOP_NAV_BAR.find('#toggleSideBarBTN');
var topbarNavMenu = TOP_NAV_BAR.find('#topbarNavMenu');

// toggle side bar
toggleSideBarBTN.on('click', e =>
{
	SIDE_NAV_CONTAINER.toggleClass('hidden');
	MAIN_CONTENT_CONTAINER.toggleClass('maximized');
	TOP_NAV_BAR.toggleClass('maximized');
});
// Click on nav
topbarNavMenu.on('click', e =>
{
	e.preventDefault();
	var target = $(e.target);
	if ( target.data('role') == 'NAV_LINK' )
	{
		goToPage('account-settings')
	}
	else if ( target.data('role') == 'LOGOUT_NAV_LINK' )
	{
		PromptConfirmDialog().then(c =>
		{
            EMPLOYEE_MODEL.logout()
		});
	}
	else if ( target.data('role') == 'CHECK_FOR_UPDATES_NAV_LINK' )
	{
		// translate
		if ( FUI_DISPLAY_LANG.lang == 'ar' )
		{
			PromptConfirmDialog('تأكيد العمل', 'هل انت متأكد؟ سيبدأ التحميل مباشرة عند ايجاد اصدار جديد.').then(c =>
			{
				ipcIndexRenderer.send('check-for-updates', '');
			});
		}
		else if ( FUI_DISPLAY_LANG.lang == 'fr' )
		{
			PromptConfirmDialog("Confirmer l'action", "Êtes-vous sûr? Le téléchargement commencera immédiatement lorsqu'une nouvelle version sera trouvée.").then(c =>
			{
				ipcIndexRenderer.send('check-for-updates', '');
			});
		}
	}
	else if ( target.data('role') == 'RING_BELL_NAV_LINK' )
	{
		RingingBellDialog({
			visible: true,
			center_type: 'CENTER'
		})
	}
	else if ( target.data('role') == 'CREATE_DRIVER_JOB_NAV_LINK' )
	{
		RequestDriverDialog()
	}
});

// checkDashboardSwitcherUserConfigExists()
checkDashboardSwitcherUserConfigExists()
function checkDashboardSwitcherUserConfigExists()
{
	const user = dashboardSwitcherUserConfig()
	const js_switch_to_central_administration_dashboard = TOP_NAV_BAR.find('.js_switch_to_central_administration_dashboard')

	if ( !user ) return

	js_switch_to_central_administration_dashboard.removeClass('d-none')
	// dispatch_onNewAjaxContentLoaded
	dispatch_onNewAjaxContentLoaded()
}

})

</script>