<div class="container-fluid" id="settingsContainer">
	<div class="wrapper wrapper-p-2 d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.settings.sectionTitle %></h1>
	</div>
	<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<%= UI_DISPLAY_LANG.views.pages.settings.btn01 %>
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<form action="#" id="updateAccountForm">

						<div class="row gx-4 gy-5">

							<div class="col-lg-4 col-md-6">

								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label01 %></label>
									<input type="text" class="input-text input-text-outline" id="name_input">
								</div>

								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label02 %></label>
									<select name="" id="employee_state_select" class="input-text">
										
									</select>
								</div>

							</div>

							<div class="col-lg-4 col-md-6">

								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label03 %></label>
									<input type="text" class="input-text input-text-outline" id="clinicBaladia_input">
								</div>
								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label04 %></label>
									<input type="text" class="input-text input-text-outline" id="employee_address_input">
								</div>
								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label16 %></label>
									<input type="date" class="input-text input-text-outline" id="employee_birthdate_input">
								</div>

							</div>

							<div class="col-lg-4 col-md-6">

								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label15 %></label>
									<input type="text" class="input-text input-text-outline" id="employee_birthplace_input">
								</div>
								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label05 %></label>
									<input type="text" class="input-text input-text-outline" id="employee_phone_input">
								</div>

							</div>

							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="row gx-4 gy-4">
									<div class="col-3">
										<div class="mb-2">
											<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label14 %></label>
											<input type="file" class="input-text input-text-outline" id="employee_avatar_file" accept="image/*">
										</div>
									</div>
									<div class="col-3">
										<img src="../assets/img/utils/placeholder.jpg" id="avatar_preview" class="img-03 img-thumbnail" alt="">
									</div>
								</div>	
							</div>

							<div class="col-lg-12 col-md-12">

								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label06 %></label>
									<input type="password" class="input-text input-text-outline" id="employee_pass_input">
								</div>
								<div class="form-group mb-2">
									<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form01.label07 %></label>
									<input type="password" class="input-text input-text-outline" id="employee_confirm_pass_input">
								</div>

							</div>

						</div>
						
						<div class="col-lg-12 col-md-12">
							<div class="form-group">
								<input type="submit" data-perm="update_employee_settings" value="<%= UI_DISPLAY_LANG.views.pages.settings.form01.submitBTN01 %>" class="btn btn-primary btn-sm">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					<%= UI_DISPLAY_LANG.views.pages.settings.btn02 %>
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<form action="#" id="updateUISettingsForm">
						<div class="form-group mb-2">
							<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.settings.form02.label01 %></label>
							<select name="" class="input-text" id="uilang_select">
								<option value="ar" selected>العربية</option>
								<option value="fr">français</option>
							</select>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-sm" value="<%= UI_DISPLAY_LANG.views.pages.settings.form02.submitBTN01 %>">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Accordion Item #3
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				</div>
			</div>
		</div>
		-->
	</div>

</div>

<script>

$(function()
{

var settingsContainer = $('#settingsContainer');
if ( settingsContainer[0] == undefined )
    return;

var ERROR_BOX = settingsContainer.find('#ERROR_BOX');
var updateAccountForm = settingsContainer.find('#updateAccountForm');
var name_input = updateAccountForm.find('#name_input').val( USER_CONFIG.employee_name )
var employee_state_select = updateAccountForm.find('#employee_state_select')
var clinicBaladia_input = updateAccountForm.find('#clinicBaladia_input')
var employee_address_input = updateAccountForm.find('#employee_address_input')
var employee_phone_input = updateAccountForm.find('#employee_phone_input')
var employee_pass_input = updateAccountForm.find('#employee_pass_input')
var employee_confirm_pass_input = updateAccountForm.find('#employee_confirm_pass_input')
var employee_birthdate_input = updateAccountForm.find('#employee_birthdate_input')
var employee_birthplace_input = updateAccountForm.find('#employee_birthplace_input')
var employee_avatar_file = updateAccountForm.find('#employee_avatar_file')
var avatar_preview = updateAccountForm.find('#avatar_preview')

var EmployeeObject = {}
// update
updateAccountForm.off('submit');
updateAccountForm.on('submit', e =>
{
    e.preventDefault();
    var target = $(e.target);
	EmployeeObject.employee_id = USER_CONFIG.employee_id
	EmployeeObject.employee_name = name_input.val()
	EmployeeObject.employee_phone = $.trim(employee_phone_input.val())
	EmployeeObject.employee_pass = $.trim(employee_pass_input.val())
	EmployeeObject.employee_state = employee_state_select.find(':selected').val()
	EmployeeObject.employee_address = employee_address_input.val()
	EmployeeObject.employee_birthplace = employee_birthplace_input.val()
	EmployeeObject.employee_birthdate = employee_birthdate_input.val()

    // check password match
    if ( employee_pass_input.val() != employee_confirm_pass_input.val() )
    {
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text("كلمة المرور لا تتوافق");
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text("Le mot de passe ne correspond pas");
        }
        return;
    }
    // display loader
    SectionLoader(settingsContainer);
    updateMyAccount(EmployeeObject).then(response =>
    {
        // hide loader
        SectionLoader(settingsContainer, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        var data = response.data;
        // save new data
        data['LOGIN_TYPE'] = data.type.employee_type_code;
        saveUserConfig(data, () => {});
    });	
});
// select avatar
employee_avatar_file.on('change', async e =>
{
    if ( employee_avatar_file[0].files.length == 0 ) return

    EmployeeObject.employee_avatar = await imageToDataURL(employee_avatar_file[0].files[0])
    previewAvatar()
})
// display states
getAllStates().then(response =>
{
    // clear html
    updateAccountForm.find('#employee_state_select').html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        html += `<option value="${v.wilaya_name}">${v.wilaya_name}</option>`;
    });
    // add html
    updateAccountForm.find('#employee_state_select').html(html);
    // display provider info
    displayInfo();
});
function displayInfo()
{
    name_input.val( USER_CONFIG.employee_name );
    setOptionSelected( employee_state_select, USER_CONFIG.employee_state );
    clinicBaladia_input.val( USER_CONFIG.administration.clinicBaladia );
    employee_address_input.val( USER_CONFIG.employee_address );
    employee_phone_input.val( USER_CONFIG.employee_phone  );
    employee_pass_input.val( USER_CONFIG.employee_pass );
    employee_confirm_pass_input.val( USER_CONFIG.employee_pass );
    employee_birthdate_input.val( USER_CONFIG.employee_birthdate );
    employee_birthplace_input.val( USER_CONFIG.employee_birthplace );
	EmployeeObject.employee_avatar = USER_CONFIG.employee_avatar
	previewAvatar()
}
// update ui settings
var updateUISettingsForm = settingsContainer.find('#updateUISettingsForm');
var uilang_select = settingsContainer.find('#uilang_select'); 

updateUISettingsForm.off('submit');
updateUISettingsForm.on('submit', async e =>
{
    e.preventDefault();
	// ui language
	await SETTINGS_MODEL.setLocale( uilang_select.find(':selected').val() )
    if ( FUI_DISPLAY_LANG.lang == 'ar' ) CreateToast("اشعار", "تم حفظ تفضيلاتك", "الآن")
	else if ( FUI_DISPLAY_LANG.lang == 'fr' ) CreateToast("Notification", "Vos préférences ont été sauvegardées", "à présent") 
	// reload settings
	loadIniSettingsSync()
});
//
setOptionSelected(uilang_select, FUI_DISPLAY_LANG.lang);
// preview avatar
function previewAvatar()
{
	if ( !EmployeeObject.employee_avatar ) return
    avatar_preview.attr('src', EmployeeObject.employee_avatar)
}

})

</script>