<div class="container-fluid" id="consommablesStatsContainer">
	<div class="wrapper">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
	</div>
	<div class="app-block my-3">
        <div class="row gx-4 gy-3">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="" class="d-none"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.label02 %></label>
                <div class="form-field-01">
                    <div class="form-field-icon-holder" id="searchBTN1">
                        <img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
                    </div>
                    <div class="form-field-input-holder">
                        <input type="text" id="searchInput1" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.consommables_stats.ph01 %>">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-field-01">
                    <div class="form-field-input-holder">
                        <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.label01 %></div>
                        <input type="date" id="fromDateInput1" class="form-field-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-field-01">
                    <div class="form-field-input-holder">
                        <div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.label03 %></div>
                        <input type="date" id="toDateInput1" class="form-field-input">
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="row gx-4 gy-4">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="app-block mt-3">
                <h1 class="title-medium mb-3"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.title01 %></h1>
                <div id="pagination1" class="flex flex-center my-3"></div>
                <div class="table-div">
                    <div class="utable odd-columns" id="tableElement1">
                        <div class="thead">
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.th01 %></div>
                            <div class="td"></div>
                        </div>
                        <div class="tbody">
                            <!-- <div class="tr">
                                <div class="td">
                                    ${v.name}
                                    <span class="text-02 text-muted">(${v.total_orders})</span>
                                </div>
                                <div class="td">
                                    <a href="#" data-role="VIEW_CLIENTS" data-consommable_id="${v.consommable_id}"></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" id="clientsWrapper" style="display: none;">
            <div class="app-block mt-3">
                <h1 class="title-medium mb-3"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.title02 %></h1>
                <div id="pagination2" class="flex flex-center my-3"></div>
                <div class="table-div">
                    <div class="utable odd-columns" id="tableElement2">
                        <div class="thead">
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.consommables_stats.th02 %></div>
                            <div class="td"></div>
                        </div>
                        <div class="tbody">
                            <!-- <div class="tr">
                                <div class="td">
                                    ${v.patientName}
                                    <span class="text-02 text-muted">(${v.patientPhone})</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(function()
{

var page_container = $('#consommablesStatsContainer');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var searchBTN1 = page_container.find('#searchBTN1');
var searchInput1 = page_container.find('#searchInput1');
var fromDateInput1 = page_container.find('#fromDateInput1');
var toDateInput1 = page_container.find('#toDateInput1');
var pagination1 = page_container.find('#pagination1');
var tableElement1 = page_container.find('#tableElement1');

var pagination2 = page_container.find('#pagination2');
var tableElement2 = page_container.find('#tableElement2');

var clientsWrapper = page_container.find('#clientsWrapper');
//
// tableElement1 click
tableElement1.off('click');
tableElement1.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'VIEW_CLIENTS' )
    {
        displayClients(target.data('consommable_id'));
    }
});
displayInfo();
async function displayInfo()
{
    fromDateInput1.val(CURRENT_DATE);
    toDateInput1.val(CURRENT_DATE);
    // search
    searchBTN1.off('click');
    searchBTN1.on('click', async e =>
    {
        SectionLoader(tableElement1);
        var response = await searchConsommablesLocal({
            clinicId: USER_CONFIG.administration.clinicId,
            query: searchInput1.val(),
            advanced: {
                search_for: 'ordered_by_clients',
                start: fromDateInput1.val(),
                end: toDateInput1.val()
            }
        });
        SectionLoader(tableElement1, '');
        tableElement1.find('.tbody').html('');
        if ( response.code == 404 )
            return;

        var data = response.data;
        var html = '';
        $.each(data, (k,v) =>
        {
            if ( FUI_DISPLAY_LANG.lang == 'ar' )
            {
                html += `<div class="tr">
                            <div class="td">
                                ${v.name}
                                <span class="text-02 text-muted">(${v.total_orders})</span>
                            </div>
                            <div class="td">
                                <a href="#" class="pointer" data-role="VIEW_CLIENTS" data-consommable_id="${v.consommable_id}">
                                    عرض الزبائن
                                </a>
                            </div>
                        </div>PAG_SEP`;	
            }
            else if ( FUI_DISPLAY_LANG.lang == 'fr' )
            {
                html += `<div class="tr">
                            <div class="td">
                                ${v.name}
                                <span class="text-02 text-muted">(${v.total_orders})</span>
                            </div>
                            <div class="td">
                                <a href="#" class="pointer" data-role="VIEW_CLIENTS" data-consommable_id="${v.consommable_id}">
                                    Afficher les clients
                                </a>
                            </div>
                        </div>PAG_SEP`;	
            }
        });
        var options = {
            data: html.split('PAG_SEP')
        };
        new SmoothPagination(pagination1, tableElement1.find('.tbody'), options);
    });
    searchBTN1.trigger('click');
}

// list clients
async function displayClients(consommable_id)
{
    SectionLoader(tableElement2);
    var response = await listConsommableClientsLocal({
        consommable_id,
        clinicId: USER_CONFIG.administration.clinicId
    });
    SectionLoader(tableElement2, '');
    tableElement2.find('.tbody').html('');
    if ( response.code == 404 )
    {
        clientsWrapper.slideUp(200);
        return;
    }

    clientsWrapper.slideDown(200);
    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            html += `<div class="tr">
                    <div class="td">
                        ${v.patientName}
                        <span class="text-02 text-muted">(${v.patientPhone})</span>
                    </div>
                    <div class="td">
                        ${v.quantity} وحدة
                    </div>
                </div>PAG_SEP`;
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            html += `<div class="tr">
                    <div class="td">
                        ${v.patientName}
                        <span class="text-02 text-muted">(${v.patientPhone})</span>
                    </div>
                    <div class="td">
                        ${v.quantity} unité
                    </div>
                </div>PAG_SEP`;
        }
    });
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination2, tableElement2.find('.tbody'), options);
}

})

</script>