<div class="container-fluid" id="view_fundboxes_available_for_transfers_container">

	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_clinics.sectionTitle %></h1>
	</div>

	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>

	<div class="mt-3">

		<div class="table-nav">
			
			<div class="row gy-4 mb-4">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button class="btn btn-danger btn-sm" id="deleteSelectedBTN" data-perm="delete_fundboxes_available_for_transfers">
                        <%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %>
                    </button>
                </div>

				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
				<div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="fundboxes_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="fundboxes_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div> 

			</div>

            <div class="row">

                <div class="col-lg-4 col-md-6">

                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-fundbox-owner-type.template.ejs', {
                        selectId: 'owner_type_select',
                        targets: {
                            target1: '#centers_tab',
                            target2: '#distributors_tab',
                            target3: '#employees_tab',
                            target4: '#central_administration_tab',
                        }
                    }) -%>

                    <div class="py-3 px-2 border rounded mt-2">
    
                        <div id="centers_tab">
                            <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers.template.ejs', {
                                componentId: 'sender',
                                selectId: 'center_select_sender',
                                eventsReceiverId: 'transfer_funds_between_fundboxes',
                                selectionEventName: 'sender-center-selected',
                            }) -%>
                        </div>

                        <div id="distributors_tab" style="display:none;">
                            <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-distributors.template.ejs', {
                                componentId: 'sender',
                                selectId: 'distributor_select_sender',
                                eventsReceiverId: 'transfer_funds_between_fundboxes',
                                selectionEventName: 'sender-distributor-selected',
                                options: {
                                    search: {
                                        currentAdministrationOnly: false
                                    }
                                }
                            }) -%>
                        </div>

                        <div id="employees_tab" style="display:none;">
                            <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-employees.template.ejs', {
                                componentId: 'sender',
                                selectId: 'employee_select_sender',
                                eventsReceiverId: 'transfer_funds_between_fundboxes',
                                selectionEventName: 'sender-employee-selected',
                                options: {
                                    showAdministration: false,
                                    search: {
                                        currentAdministrationOnly: true,
                                    }
                                }
                            }) -%>
                        </div>

                        <div id="central_administration_tab" style="display:none;">
                            <h5 class="h5"><%= UI_DISPLAY_LANG.views.pages.global.attributes.central_administration %></h5>
                        </div>

                    </div>

                </div>

            </div>

		</div>

		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="utable shadowed" id="tableElement">
			<div class="thead">
				<div class="td">#</div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th55 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th9 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th6 %></div>
			</div>
			<div class="tbody">
				<!--
				<div class="tr">
					<div class="td">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-classid="">
					</div>
					<div class="td">clinicname</div>
					<div class="td">classname</div>
					<div class="td">classdesc</div>
					<div class="td">date</div>
					<div class="td">
						<button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-aptid="">
							<span class="no-pointer"><i class="fas fa-edit"></i></span>
						</button>		
					</div>
				</div>
				-->
			</div>
		</div>
        
	</div>

</div>

<script>

$(function()
{

var page_container = $('#view_fundboxes_available_for_transfers_container')

if ( !page_container[0] ) return

var ERROR_BOX = page_container.find('#ERROR_BOX')

var owner_type_select = page_container.find('#owner_type_select')

var center_select_sender = page_container.find('#center_select_sender')
var distributor_select_sender = page_container.find('#distributor_select_sender')
var employee_select_sender = page_container.find('#employee_select_sender')

var search_btn = page_container.find('#search_btn')
var search_input = page_container.find('#search_input')
var date_start_input = page_container.find('#date_start_input')
var date_end_input = page_container.find('#date_end_input')

var fundboxes_total = page_container.find('#fundboxes_total')
var fundboxes_extra_data_list = page_container.find('#fundboxes_extra_data_list')

var pagination = page_container.find('#pagination')
var tableElement = page_container.find('#tableElement')
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN')

// 
// owner_type_select_sender
owner_type_select.on('change', e =>
{
    var selected = owner_type_select.find(':selected')

    var tab = page_container.find(selected.data('target'))

    tab.slideDown(200).siblings().slideUp(200)

    if ( tab.attr('id') == 'central_administration_tab' )
        tab.parent().addClass('d-none')
    else
        tab.parent().removeClass('d-none')
})

// delete selected
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')

        var res = await FUNDBOX_MODEL.selected_for_transfers_batchDelete({
            collection: selectedRows(),
        })

        deleteSelectedBTN.removeClass('disabled')

        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
        CreateToast('PS', res.message, '')

        if ( res.code == 404 ) return

        search_input.trigger('keyup')
    })
})
// search
search_btn.on('click', e =>
{
    search_input.trigger('keyup')
})

detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'selected_for_transfers_search',
        query: val,
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            sender_id: getSender().id,
            sender_type: getSender().type,
            orderBy: 'id',
            order: 'desc',
        }
    })
})
// get sender
function getSender()
{
    var owner_type_sender = owner_type_select.find(':selected').val()
    var sender = {}

    if ( owner_type_sender == 'centers' )
    {
        sender = {
            id: center_select_sender.find(':selected').val(),
            name: center_select_sender.find(':selected').text(),
        }
    }
    else if ( owner_type_sender == 'distributors' )
    {
        sender = {
            id: distributor_select_sender.find(':selected').val(),
            name: distributor_select_sender.find(':selected').text(),
        }
    }
    else if ( owner_type_sender == 'employees' )
    {
        sender = {
            id: employee_select_sender.find(':selected').val(),
            name: employee_select_sender.find(':selected').text(),
        }
    }
    else if ( owner_type_sender == 'central_administration' )
    {
        sender = {
            id: 0,
            name: 'Administration Centrale',
        }
    }

    sender['type'] = owner_type_sender

    return sender
}

// display all
search_input.trigger('keyup')
async function displayAll(params)
{
    tableElement.find('.tbody').html('')
    SectionLoader(tableElement)
    //
    fundboxes_total.val('0')
    fundboxes_extra_data_list.html('')

    if ( params.method_type == 'selected_for_transfers_search' ) var res = await FUNDBOX_MODEL.selected_for_transfers_search(params)

    SectionLoader(tableElement, '')

    if ( res.code == 404 ) return

    var data = res.data
    var html = ''
    var last_data = firstArrayElement(data)

    fundboxes_total.val(data.length)

    $.each(data, (k,v) =>
    {
        html += `<div class="tr" data-role="row" data-id="${v.id}" data-fundbox-id="${v.fund_box_id}">
                    <div class="td">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK">
                    </div>
                    <div class="td">
                        <div class="mb-2 h5">${v.fund_box_owner_name}</div>
                        <div class="">(${ FUI_DISPLAY_LANG.views.pages.global.attributes[v.fund_box_owner_type] })</div>
                    </div>
                    <div class="td">
                        <div class="mb-2 h5">${v.sender_name}</div>
                        <div class="">(${ FUI_DISPLAY_LANG.views.pages.global.attributes[v.sender_type] })</div>
                    </div>
                    <div class="td">
                        <div class="text-primary">${v.created_at}</div>
                    </div>
                </div>PAG_SEP`
    })

    new SmoothPagination(pagination, tableElement.find('.tbody'), {
        data: html.split('PAG_SEP'),
    })

    // display extra data
    fundboxes_extra_data_list.html(`
    <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.fund_box_owner_name}, </span>
            <span class="text-primary">${last_data.created_at}</span> 
        </li>
    `)
}
// get selected
function selectedRows()
{
    var list = []
    var items = tableElement.find('[data-role="row"]');
    for (var i = 0; i < items.length; i++) 
    {
        var parent = $(items[i])
        var check = parent.find('[data-role="CHECK"]')
        if ( check.is(':checked') )
        {
            list.push({
                id: parent.data('id'),
            })
        }
    }

    return list
}


})

</script>