<div class="container-fluid" id="addToTreasuryContainer">
	<div class="mt-3 app-block">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div id="wrapper01">
			<div class="mb-3">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.label01 %></label>
				<select name="" class="input-text" id="operationSelect">
					<option value="IN" selected><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.select01.option01 %></option>
					<option value="OUT"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.select01.option02 %></option>
				</select>
			</div>
			<div class="mb-3 section">
				<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.label02 %></label>
				<input type="text" class="input-text input-text-outline mb-2 border-bottom-forced" id="clinicsSearchInput" placeholder="<%= UI_DISPLAY_LANG.views.pages.add_to_treasury.ph01 %>">
				<select name="" class="input-text" id="clinicSelect">
					
				</select>
			</div>
			<form action="#" id="addForm" class="FORM">
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label01 %></label>
					<input type="number" step="any" class="input-text input-text-outline" id="treasuryInAmountInput">
				</div>
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label02 %></label>
					<textarea name="" class="input-text input-text-outline" id="treasuryReasonInput" rows="4"></textarea>
				</div>
				<div class="mb-4">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label03 %></label>
					<textarea name="" class="input-text input-text-outline" id="treasuryNoteInput" rows="4"></textarea>
				</div>
				<div class="mb-4">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label04 %></div>
							<input type="date" id="treasuryDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="mb-2">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label05 %></div>
							<input type="time" step="any" id="treasuryTimeInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label06 %></label>
					<input type="file" class="input-text" id="expenseFileInput" accept="image/*">
				</div>
				<div class="">
					<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.submitBTN01 %>">
				</div>
			</form>
			<form action="#" id="cashoutForm" class="FORM" style="display:none;">
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.label01 %></label>
					<input type="number" step="any" class="input-text input-text-outline" id="cftreasuryOutAmountInput">
				</div>
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.label02 %></label>
					<textarea name="" class="input-text input-text-outline" id="cftreasuryReasonInput" rows="4"></textarea>
				</div>
				<div class="mb-4">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.label03 %></label>
					<textarea name="" class="input-text input-text-outline" id="cftreasuryNoteInput" rows="4"></textarea>
				</div>
				<div class="mb-4">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.label04 %></div>
							<input type="date" id="cftreasuryDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="mb-2">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.label05 %></div>
							<input type="time" step="any" id="cftreasuryTimeInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="mb-2">
					<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form01.label06 %></label>
					<input type="file" class="input-text" id="expenseFileInput2" accept="image/*">
				</div>
				<div class="">
					<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_to_treasury.form02.submitBTN01 %>">
				</div>
			</form>
		</div>
	</div>
</div>

<script>

$(function()
{

var addToTreasuryContainer = $('#addToTreasuryContainer');
if ( addToTreasuryContainer[0] == undefined )
	return;

var ERROR_BOX = addToTreasuryContainer.find('#ERROR_BOX');

var addForm = addToTreasuryContainer.find('#addForm');
var treasuryInAmountInput = addForm.find('#treasuryInAmountInput');
var treasuryReasonInput = addForm.find('#treasuryReasonInput');
var treasuryNoteInput = addForm.find('#treasuryNoteInput');
var treasuryDateInput = addForm.find('#treasuryDateInput');
var treasuryTimeInput = addForm.find('#treasuryTimeInput');
var expenseFileInput = addForm.find('#expenseFileInput');

var cashoutForm = addToTreasuryContainer.find('#cashoutForm');
var cftreasuryOutAmountInput = cashoutForm.find('#cftreasuryOutAmountInput');
var cftreasuryReasonInput = cashoutForm.find('#cftreasuryReasonInput');
var cftreasuryNoteInput = cashoutForm.find('#cftreasuryNoteInput');
var cftreasuryDateInput = cashoutForm.find('#cftreasuryDateInput');
var cftreasuryTimeInput = cashoutForm.find('#cftreasuryTimeInput');
var expenseFileInput2 = cashoutForm.find('#expenseFileInput2');

var operationSelect = addToTreasuryContainer.find('#operationSelect');
var clinicsSearchInput = addToTreasuryContainer.find('#clinicsSearchInput');
var clinicSelect = addToTreasuryContainer.find('#clinicSelect');
// set initial data and time
var now = new Date();
treasuryDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
treasuryTimeInput.val( date_time.format(now, 'HH:mm:ss') );

cftreasuryDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
cftreasuryTimeInput.val( date_time.format(now, 'HH:mm:ss') );

var wrapper01 = addToTreasuryContainer.find('#wrapper01');

var TreasuryObject = {
	clinicId: null
};
// addForm submit
addForm.off('submit');
addForm.on('submit', async e =>
{
	e.preventDefault();
	var target = addForm;
	TreasuryObject.clinicId = clinicSelect.find(':selected').val();
	TreasuryObject.in = treasuryInAmountInput.val();
	TreasuryObject.reason = treasuryReasonInput.val();
	TreasuryObject.note = treasuryNoteInput.val();
	TreasuryObject.date = treasuryDateInput.val();
	TreasuryObject.time = treasuryTimeInput.val();
	if ( expenseFileInput[0].files.length > 0 )
		TreasuryObject.expense_file = expenseFileInput[0].files[0];
	// display loader
	SectionLoader(wrapper01);
	var response = await TREASURY_MODEL.store(TreasuryObject);
	// hide loader
	SectionLoader(wrapper01, '');
	if ( response.code == 404 )
	{
		ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
		return;
	}
	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
	//reset
	target[0].reset();	
	treasuryDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
	treasuryTimeInput.val( date_time.format(now, 'HH:mm:ss') );
});
// cashoutForm submit
cashoutForm.off('submit');
cashoutForm.on('submit', async e =>
{
	e.preventDefault();
	var target = cashoutForm;
	TreasuryObject.clinicId = clinicSelect.find(':selected').val();
	TreasuryObject.out = cftreasuryOutAmountInput.val();
	TreasuryObject.reason = cftreasuryReasonInput.val();
	TreasuryObject.note = cftreasuryNoteInput.val();
	TreasuryObject.date = cftreasuryDateInput.val();
	TreasuryObject.time = cftreasuryTimeInput.val();
	if ( expenseFileInput2[0].files.length > 0 )
		TreasuryObject.expense_file = expenseFileInput2[0].files[0];
	// display loader
	SectionLoader(wrapper01);
	var response = await TREASURY_MODEL.take(TreasuryObject);
	// hide loader
	SectionLoader(wrapper01, '');
	if ( response.code == 404 )
	{
		ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
		return;
	}
	ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
	//reset
	target[0].reset();	
	cftreasuryDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
	cftreasuryTimeInput.val( date_time.format(now, 'HH:mm:ss') );
});
// switch forms
operationSelect.off('change');
operationSelect.on('change', e =>
{
	var val = operationSelect.find(':selected').val();
	if ( val == 'IN' )
		addForm.slideDown(200).siblings('.FORM').slideUp(200);
	else if ( val == 'OUT' )
		cashoutForm.slideDown(200).siblings('.FORM').slideUp(200);
});
// search clinics
clinicsSearchInput.off('keyup');
clinicsSearchInput.on('keyup', async e =>
{
	var query = clinicsSearchInput.val();
	// display loader
	SectionLoader(clinicsSearchInput.closest('.section'));
	var response = await CLINIC_MODEL.search(query);
	// hide loader
	SectionLoader(clinicsSearchInput.closest('.section'), '');
	if ( response.code == 404 )
		return;

	var data = response.data;
	var html = '';
	$.each(data, (k,v) =>
	{
		html += `<option value="${v.clinicId}">${v.clinicName}</option>`;
	});
	clinicSelect.html(html);
});
clinicsSearchInput.trigger('keyup');

})

</script>