<div class="container-fluid" id="private_appointments_waiting_approval_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>

		<div class="table-nav">

			<div class="row gx-2 gy-5 mb-2">

                <div class="col-lg-12 col-md-12 col-sm-12" data-perm="delete_private_appointment">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN"><%= UI_DISPLAY_LANG.views.pages.global.delete_selected_button %></button>
				</div>

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                        dataIgnoreDefaultValue: true,
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="appointments_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="appointments_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div> 

			</div>

            <div class="row">

                <div class="col-lg-2 col-md-3 col-sm-12">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-centers.template.ejs', {
                        componentId: 'filter',
                        selectId: 'center_select',
                        eventsReceiverId: 'private_appointments_waiting_approval_container',
                    }) -%>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <%- include(SETTINGS.UI_Settings.MAIN_DIR_NAME+'views/templates/select-departments.template.ejs', {
                        componentId: 'filter',
                        selectId: 'department_select',
                        eventsReceiverId: 'private_appointments_waiting_approval_container',
                    }) -%>
                </div>

            </div>

		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="utable shadowed" id="tableElement">
			<div class="thead">
				<div class="td">#</div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th07 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th02 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th06 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th03 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th04 %></div>
				<div class="td"><%= UI_DISPLAY_LANG.views.pages.general_apt_waiting_approval.th05 %></div>
				<div class="td" data-perm="set_private_appointment_accepted"></div>
				<div class="td"></div>
			</div>
			<div class="tbody">
				<!--
				<div class="tr">
					<div class="td">
						<input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-classid="">
					</div>
					<div class="td">clinicname</div>
					<div class="td">classname</div>
					<div class="td">classdesc</div>
					<div class="td">date</div>
					<div class="td">
						<button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-aptid="">
							<span class="no-pointer"><i class="fas fa-edit"></i></span>
						</button>		
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#private_appointments_waiting_approval_container');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');
var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement = page_container.find('#tableElement');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');

var center_select = page_container.find('#center_select');
var department_select = page_container.find('#department_select');

var appointments_total = page_container.find('#appointments_total');
var appointments_extra_data_list = page_container.find('#appointments_extra_data_list');

// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', e =>
{
    PromptConfirmDialog().then(async c =>
    {
        deleteSelectedBTN.addClass('disabled')

        var res = await APPOINTMENT_MODEL.batchDelete(selectedRows());
        
        deleteSelectedBTN.removeClass('disabled')
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(res.message)
        CreateToast('PS', res.message)
        //
        if ( res.code == 404 ) return
        
        search_input.trigger('keyup')
    });
})
// tableElement click
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'UPDATE' )
    {
        var aptId = target.data('aptid');
        var res =await APPOINTMENT_MODEL.show({
            aptId: aptId
        })
        
        CreateAppointmentDialog__CentralAdmin(res.data)
    }
    else if ( target.data('role') == 'ACCEPT_BTN' )
    {
        var aptId = target.data('aptid');
        PromptConfirmDialog().then(async c =>
        {
            SectionLoader(tableElement);
            var response = await APPOINTMENT_MODEL.private_setAccepted({
                aptId: aptId,
                status: ST_YES
            });
            SectionLoader(tableElement, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            //
            search_input.trigger('keyup')
        });
    }
})
// search
search_btn.on('click', e =>
{
    search_input.trigger('keyup')
});
detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'advancedSearch',
        query: val,
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            clinicId: center_select.find(':selected').val(),
            orderBy: 'aptDate',
            order: 'desc',
            isAccepted: ST_NO,
            type: 'private',
        }
    })
})

// select clinic
center_select.on('change', e =>
{
    search_input.trigger('keyup')
});
// select department
department_select.on('change', e =>
{
    search_input.trigger('keyup')
});

// display all
search_input.trigger('keyup')
async function displayAll(params)
{
    // total
    appointments_total.text(0)

    appointments_extra_data_list.html('')
    SectionLoader(tableElement)
    // clear html
    tableElement.find('.tbody').html('')
    if ( params.method_type == 'advancedSearch' )
        var res = await APPOINTMENT_MODEL.advancedSearch(params)
    else if ( params.method_type == 'private_local_filterByClass' )
        var res = await APPOINTMENT_MODEL.private_local_filterByClass(params)
    
    SectionLoader(tableElement, '')

    if ( res.code == 404 )
        return;

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    appointments_total.text(data.length)
    $.each(data, (k,v) =>
    {
        var aptDateFormat = (v.aptDateFormat == 0) ? 'اليوم' : `${v.aptDateFormat} أيام`;
        if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            aptDateFormat = (v.aptDateFormat == 0) ? "aujourd'hui" : `${v.aptDateFormat} des jours`;
        }
        html += `<div class="tr" data-role="row" data-apt-id="${v.aptId}">
                    <div class="td">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-aptid="${v.aptId}">
                    </div>
                    <div class="td">${v.aptName}</div>
                    <div class="td">${v.className}</div>
                    <div class="td">${v.aptPrice}</div>
                    <div class="td">
                        <a href="#" class="js_go_to_create_patient_medical_data" data-patient-id="${v.patientId}">${v.patientName}</a>     
                    </div>
                    <div class="td">${v.aptNote}</div>
                    <div class="td">
                        <div>${v.aptDate}</div>
                        <div>${v.aptTime}</div>
                        <div class="text-04 text-muted">(${ (v.aptDate) })</div>
                    </div>
                    <div class="td" data-perm="set_private_appointment_accepted">

                        <button class="pointer btn btn-success btn-sm" data-role="ACCEPT_BTN" data-aptid="${v.aptId}">
                            <i class="fas fa-check no-pointer"></i>
                        </button>

                    </div>
                    <div class="td">
                        <button class="btn btn-primary btn-sm pointer" data-role="UPDATE" data-perm="update_private_appointment" data-aptid="${v.aptId}">
                            <span class="no-pointer"><i class="fas fa-edit"></i></span>
                        </button>		
                    </div>
                </div>PAG_SEP`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement.find('.tbody'), options);
    // extra data
    appointments_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.patientName}, </span>
            <span class="text-primary">${last_data.aptDate} ${last_data.aptTime}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text39 }: </span>
            <span>${last_data.aptNote} </span>
        </li>
    `)
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        if ( check.is(':checked') )
            list.push({ aptId: check.data('aptid') });
    }

    return list;
}

})

</script>