<div class="container-fluid" id="create_drivers_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_employees.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block" id="wrapper01">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<form action="#" id="addForm">
			<div class="row gx-4 gy-4">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label1 %></label>
						<input type="text" class="input-text input-text-outline" id="nameInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label02 %></label>
						<input type="text" class="input-text input-text-outline" id="phoneInput">
					</div>		
				</div>
				<div class="col-lg-12 col-md-6 col-sm-12">

                    <div class="mb-2 max-width-340px">
                        
                        <!-- <input type="text" class="input-text" id="codeInput" value=""> -->
                        <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-wilaya-baladia.template.ejs`, {
                            componentId: 'location_component',
                            eventsReceiverId: 'create_drivers_container',
                            wilayaSelectionName: 'wilaya-selected',
                            baladiaSelectionName: 'baladia-selected',
                            searchWilayaInputId: 'wilaya_input',
                            searchBaladiaInputId: 'baladia_input',
                        }) -%>

                        <div class="mb-2">
                            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label03 %></label>
                            <input type="text" class="input-text input-text-outline" id="addressInput">
                        </div>	

                    </div>

                    <div class="mb-2 max-width-340px">
                        
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label51 %></label>
                        <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-location.template.ejs`, {
                            componentId: 'coordinates_component',
                            searchInputId: 'coordinates_input',
                            eventsReceiverId: 'create_distributor_clients_container',
                        }) -%>
                    </div>

					<!-- <div class="mb-2 section">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label04 %></label>
						<select name="" class="input-text" id="wilayaSelect"></select>
					</div> -->
					<div class="mb-2 section d-none">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label09 %></label>
						<select name="" class="input-text" id="typeSelect"></select>
					</div>
				</div>
				<div class="col-lg-12 col-md-6 col-sm-12 d-none">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label05 %></label>
						<input type="date" class="input-text input-text-outline" id="birthDateInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label06 %></label>
						<input type="text" class="input-text input-text-outline" id="birthPlaceInput">
					</div>				
				</div>
				<div class="col-lg-12 col-md-6 col-sm-12 d-none">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label08 %></label>
						<input type="number" step="any" class="input-text input-text-outline" id="salaryInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label11 %></label>
						<input type="text" class="input-text input-text-outline" id="ccpInput">
					</div>	
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 d-none">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_employees.form01.label07 %></label>
						<input type="text" class="input-text input-text-outline" id="passInput" value="password">
					</div>	
				</div>
			</div>
			<div class="">
				<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_employees.form01.submitBTN01 %>">
			</div>
		</form>
	</div>
</div>

<script>

$(async function()
{


var page_container = $('#create_drivers_container');
if ( page_container[0] == undefined ) return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var addForm = page_container.find('#addForm');
var nameInput = addForm.find('#nameInput');
var phoneInput = addForm.find('#phoneInput');
var wilaya_input = addForm.find('#wilaya_input')
var baladia_input = addForm.find('#baladia_input')
var addressInput = addForm.find('#addressInput');
var coordinates_input = addForm.find('#coordinates_input');
var typeSelect = addForm.find('#typeSelect');
var birthDateInput = addForm.find('#birthDateInput');
var birthPlaceInput = addForm.find('#birthPlaceInput');
var salaryInput = addForm.find('#salaryInput');
var passInput = addForm.find('#passInput');
var ccpInput = addForm.find('#ccpInput');

var wrapper01 = page_container.find('#wrapper01');

var EmployeeObject = {
    employee_id: sessionData(true).employee_id
};

// addForm submit
addForm.off('submit');
addForm.on('submit', e =>
{
    e.preventDefault();
    var target = addForm;
    EmployeeObject.administration_id = '';
    EmployeeObject.employee_name = nameInput.val();
    EmployeeObject.employee_phone = phoneInput.val();
    EmployeeObject.employee_pass = passInput.val();
    EmployeeObject.employee_address = addressInput.val();
    EmployeeObject.employee_state = wilaya_input.val();
    EmployeeObject.employee_baladia = baladia_input.val();
    EmployeeObject.employee_coordinates = coordinates_input.val();
    EmployeeObject.employee_type_id = typeSelect.find(':selected').val();
    EmployeeObject.employee_birthplace = birthPlaceInput.val();
    EmployeeObject.employee_birthdate = birthDateInput.val();
    EmployeeObject.employee_salary = salaryInput.val();
    EmployeeObject.employee_administration = '.';
    EmployeeObject.employee_ccp = ccpInput.val();
    // display loader
    SectionLoader(wrapper01);
    //update
    if ( EmployeeObject.employee_id != null )
    {
        EMPLOYEE_MODEL.update(EmployeeObject).then(response =>
        {
            // hide loader
            SectionLoader(wrapper01, '');
            if ( response.code == 404 )
            {
                ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
                return;
            }
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            //
            target[0].reset();
            EmployeeObject.employee_id = null;

        });
        return;
    }
    // add
    EMPLOYEE_MODEL.store(EmployeeObject).then(response =>
    {
        // hide loader
        SectionLoader(wrapper01, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        target[0].reset();
    });
});
// location
$(document).off('location-selected').on('location-selected', e =>
{
    var detail = e.originalEvent.detail
    var _location = detail.location

    coordinates_input.val( convertCoordinates(_location.coordinates, 'string') )
})
// list employees types
// display loader
SectionLoader(typeSelect.closest('.section'));
var response = await EMPLOYEE_MODEL.types_index('.');
// hide loader
SectionLoader(typeSelect.closest('.section'), '');
if ( response.code == 200 )
{
    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        if ( v.employee_type_code == EMP_TYPE_DRIVER )
        {
            if ( FUI_DISPLAY_LANG.lang == 'ar' )
            {
                html += `<option value="${v.employee_type_id}">${v.employee_type_name_ar}</option>`;
            }
            else if ( FUI_DISPLAY_LANG.lang == 'fr' )
            {
                html += `<option value="${v.employee_type_id}">${v.employee_type_name_fr}</option>`;
            }	
        }
    });
    typeSelect.html(html);
}
// employeed info
displayOne();
async function displayOne()
{
    if ( EmployeeObject.employee_id == null )
        return;

    // display loader
    SectionLoader(wrapper01);
    var response = await EMPLOYEE_MODEL.show(EmployeeObject.employee_id);
    // hide loader
    SectionLoader(wrapper01, '');
    var data = response.data;
    nameInput.val(data.employee_name);
    phoneInput.val(data.employee_phone);
    passInput.val(data.employee_pass);
    wilaya_input.val(data.employee_state)
    baladia_input.val(data.employee_baladia)
    addressInput.val(data.employee_address);
    coordinates_input.val( data.employee_coordinates )
    // setOptionSelected(wilayaSelect, data.employee_state);
    setOptionSelected(typeSelect, data.employee_type_id);
    EmployeeObject.administration_id = data.administration_id;
    birthPlaceInput.val(data.employee_birthplace);
    birthDateInput.val(data.employee_birthdate);
    salaryInput.val(data.employee_salary);
    ccpInput.val( data.employee_ccp );
}

})

</script>