<div class="container-fluid" id="addPatientsContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_patients.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block" id="wrapper01">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<form action="#" id="addForm">
			<div class="row gx-4 gy-4">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label30 %></label>
						<input type="text" class="input-text input-text-outline" required id="patientIdInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label01 %></label>
						<input type="text" class="input-text input-text-outline" id="patientNameInput">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label02 %></label>
						<input type="text" class="input-text input-text-outline" id="patientPhoneInput">
					</div>		
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label07 %></label>
						<input type="text" class="input-text input-text-outline" id="patientPassInput" value="password">
					</div>
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label04 %></label>
						<input type="text" class="input-text input-text-outline" id="patientAgeInput">
					</div>		
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label05 %></label>
						<select name="" class="input-text" id="patientGenderSelect">
							<option value="ذكر"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select01.option01 %></option>
							<option value="أنثى"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select01.option02 %></option>
						</select>
					</div>		
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-2">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label06 %></label>
						<input type="text" class="input-text input-text-outline" id="patientAddressInput">
					</div>
					<div class="mb-4 d-none">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label03 %></label>
						<input type="text" class="input-text input-text-outline" id="patientBarcodeInput">
					</div>		
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label17 %></label>
						<select name="" class="input-text" id="diabetesSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select02.option02 %>
							</option>
						</select>
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label18 %></label>
						<select name="" class="input-text" id="bloodPressureSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select03.option02 %>
							</option>
						</select>
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label21 %></label>
						<select name="" class="input-text" id="chronicDiseaseSelect">
							<option value="2">
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select04.option01 %>
							</option>
							<option value="1" selected>
								<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select04.option02 %>
							</option>
						</select>
					</div>			
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label15 %></label>
						<input type="date" class="input-text input-text-outline" id="patientBirthDateInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label13 %></label>
						<input type="text" class="input-text input-text-outline" id="patientBirthPlaceInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label11 %></label>
						<input type="number" class="input-text input-text-outline" id="patientChildrenInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label08 %></label>
						<select name="" class="input-text" id="patientStateSelect">
							<option value="عازب (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option01 %></option>
							<option value="متزوج (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option02 %></option>
							<option value="مطلق (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option03 %></option>
							<option value="ارمل (ة)"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.select05.option04 %></option>
						</select>
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label22 %></label>
						<input type="text" class="input-text input-text-outline" id="patientJobInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label23 %></label>
						<input type="text" class="input-text input-text-outline" id="patientStudyLevelInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label24 %></label>
						<input type="text" class="input-text input-text-outline" id="patientGroupInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label25 %></label>
						<input type="text" class="input-text input-text-outline" id="patientheightInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label26 %></label>
						<input type="text" class="input-text input-text-outline" id="patientweightInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label27 %></label>
						<input type="text" class="input-text input-text-outline" id="patientbest_weightInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label28 %></label>
						<input type="text" class="input-text input-text-outline" id="patientsignup_reasonInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label29 %></label>
						<input type="text" class="input-text input-text-outline" id="patienttitleInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label09 %></label>
						<input type="text" class="input-text input-text-outline" id="patientWhatsappInput">
					</div>
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label10 %></label>
						<input type="text" class="input-text input-text-outline" id="patientFBInput">
					</div>	
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label20 %></label>
						<input type="text" class="input-text input-text-outline" id="patientTelegramInput">
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mb-4">
						<label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_patients.form01.label19 %></label>
						<div class="mt-1">
							<img src="assets/img/utils/qr.png" alt="" class="img-01 rounded" id="qrcodePreviewIMG">
						</div>
					</div>				
				</div>
			</div>
			<div class="">
				<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_patients.form01.submitBTN01 %>">
			</div>
		</form>
	</div>
</div>


<div id="color-calendar"></div>