<div class="container-fluid" id="employeesAttendanceContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="mb-5 text-center">
			<div class="title-medium">
				<%= UI_DISPLAY_LANG.views.pages.employees_attendance.text01 %>
			</div>
		</div>
		<div class="py-4 px-3 mb-3 bg-white border rounded">
			<div class="row gx-4 gy-3">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.employees_attendance.ph01 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.text02 %></div>
							<input type="date" id="fromDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.text03 %></div>
							<input type="date" id="toDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 d-none">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">
						<%= UI_DISPLAY_LANG.views.pages.employees_attendance.btn01 %>
					</button>
				</div>
			</div>
		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="table-div section">
			<div class="utable shadowed" id="tableElement">
				<div class="thead">
					<div class="td">#</div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th01 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th02 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th03 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th04 %></div>
					<div class="td"></div>
				</div>
				<div class="tbody">
					<!--
					<div class="tr" data-role="ROW" data-employeeid="">
						<div class="td">
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-employeeid="">
						</div>
						<div class="td">name</div>
						<div class="td pointer mx-1">
							<select name="" data-role="ATT_SELECT" class="input-text border-0">
								<option value="غائب">غائب</option>
								<option value="حاضر">حاضر</option>
								<option value="متأخر">متأخر</option>
							</select>
						</div>
						<div class="td pointer">
							<input type="text" class="input-text border-0" placeholder="أكتب الملاحظة هنا..." data-role="ATT_NOTE">
						</div>
						<div class="td">date</div>
						<div class="td">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-danger btn-sm pointer rounded-0" data-role="DELETE" data-employeeid="">
									<span class="no-pointer"><i class="fas fa-trash"></i></span>
								</button>
								<button class="btn btn-primary btn-sm pointer rounded-0" data-role="UPDATE" data-employeeid="">
									<span class="no-pointer"><i class="fas fa-edit"></i></span>
								</button>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>

