<div class="container-fluid" id="employeesAttendanceContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.sectionTitle %></h1>
	</div>
	<div class="mt-3">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div class="mb-5 text-center">
			<div class="title-medium">
				<%= UI_DISPLAY_LANG.views.pages.employees_attendance.text01 %>
			</div>
		</div>
		<div class="py-4 px-3 mb-3 bg-white border rounded">
			<div class="row gx-4 gy-3">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-icon-holder" id="searchBTN">
							<img src="assets/img/utils/search.svg" class="form-field-icon" alt="">	
						</div>
						<div class="form-field-input-holder">
							<input type="text" id="searchInput" class="form-field-input" placeholder="<%= UI_DISPLAY_LANG.views.pages.employees_attendance.ph01 %>">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.text02 %></div>
							<input type="date" id="fromDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="form-field-01">
						<div class="form-field-input-holder">
							<div class="form-field-label"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.text03 %></div>
							<input type="date" id="toDateInput" class="form-field-input">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 d-none">
					<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">
						<%= UI_DISPLAY_LANG.views.pages.employees_attendance.btn01 %>
					</button>
				</div>
			</div>
		</div>
		<div id="pagination" class="my-3 flex flex-center"></div>
		<div class="table-div section">
			<div class="utable shadowed" id="tableElement">
				<div class="thead">
					<div class="td">#</div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th01 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th02 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th03 %></div>
					<div class="td"><%= UI_DISPLAY_LANG.views.pages.employees_attendance.th04 %></div>
					<div class="td"></div>
				</div>
				<div class="tbody">
					<!--
					<div class="tr" data-role="ROW" data-employeeid="">
						<div class="td">
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-employeeid="">
						</div>
						<div class="td">name</div>
						<div class="td pointer mx-1">
							<select name="" data-role="ATT_SELECT" class="input-text border-0">
								<option value="غائب">غائب</option>
								<option value="حاضر">حاضر</option>
								<option value="متأخر">متأخر</option>
							</select>
						</div>
						<div class="td pointer">
							<input type="text" class="input-text border-0" placeholder="أكتب الملاحظة هنا..." data-role="ATT_NOTE">
						</div>
						<div class="td">date</div>
						<div class="td">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-danger btn-sm pointer rounded-0" data-role="DELETE" data-employeeid="">
									<span class="no-pointer"><i class="fas fa-trash"></i></span>
								</button>
								<button class="btn btn-primary btn-sm pointer rounded-0" data-role="UPDATE" data-employeeid="">
									<span class="no-pointer"><i class="fas fa-edit"></i></span>
								</button>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(function()
{

var employeesAttendanceContainer = $('#employeesAttendanceContainer');
if ( employeesAttendanceContainer[0] == undefined )
    return;

var ERROR_BOX = employeesAttendanceContainer.find('#ERROR_BOX');

var deleteSelectedBTN = employeesAttendanceContainer.find('#deleteSelectedBTN');
var searchInput = employeesAttendanceContainer.find('#searchInput');
var searchBTN = employeesAttendanceContainer.find('#searchBTN');
var fromDateInput = employeesAttendanceContainer.find('#fromDateInput');
var toDateInput = employeesAttendanceContainer.find('#toDateInput');
var pagination = employeesAttendanceContainer.find('#pagination');
var tableElement = employeesAttendanceContainer.find('#tableElement');

// set primary dates
var now = new Date();
fromDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
toDateInput.val( date_time.format(now, 'YYYY-MM-DD') );
// tableElement click
tableElement.off('click');
tableElement.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="ROW"]');
        var EmployeeObject = {
            employee_id: target.data('employeeid'),
            att_status: parent.find('[data-role="ATT_SELECT"] :selected').val(),
            att_note: parent.find('[data-role="ATT_NOTE"]').val()
        };
        // display loader
        SectionLoader( tableElement.closest('.section') );
        var response = await EMPLOYEE_MODEL.attendance_set(EmployeeObject);
        // hide loader
        SectionLoader( tableElement.closest('.section'), '' );
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        displayAll();
    }
});
// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', async e =>
{
    PromptConfirmDialog().then(async c =>
    {
        // display loader
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
            TopLoader("حذف البيانات...");
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
            TopLoader("Suprimmer les données...");

        var response = await EMPLOYEE_MODEL.batchDelete(selectedRows());
        // hide loader
        TopLoader('', false);
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        displayAll();
    });
});
// search
searchBTN.off('click');
searchBTN.on('click', async e =>
{
    var SearchObject = {
        administration_id: USER_CONFIG.administration.clinicId,
        query: searchInput.val(),
        advanced: {
            start: fromDateInput.val(),
            end: toDateInput.val()
        }
    };
    // display loader
    SectionLoader( tableElement.closest('.section') );
    var response = await EMPLOYEE_MODEL.administration_attendance_search(SearchObject);
    // hide loader
    SectionLoader( tableElement.closest('.section'), '' );
    // clear html
    tableElement.find('.tbody').html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        var type = '';
        var ATT_SELECT = '';
        var ATT_NOTE_PH = '';
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            type = (v.type) ? v.type.employee_type_name_ar : '';
            ATT_SELECT = `<option ${ (v.attendance.att_status == ATT_NONE) ? 'selected' : '' } value="${ATT_NONE}">غير محدد</option>
                        <option ${ (v.attendance.att_status == ATT_ABSENT) ? 'selected' : '' } value="${ATT_ABSENT}">غائب</option>
                        <option ${ (v.attendance.att_status == ATT_PRESENT) ? 'selected' : '' } value="${ATT_PRESENT}">حاضر</option>
                        <option ${ (v.attendance.att_status == ATT_LATE) ? 'selected' : '' } value="${ATT_LATE}">متأخر</option>`;
            ATT_NOTE_PH = 'أكتب الملاحظة هنا...';
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            type = (v.type) ? v.type.employee_type_name_fr : '';
            ATT_SELECT = `<option ${ (v.attendance.att_status == ATT_NONE) ? 'selected' : '' } value="${ATT_NONE}">Non spécifié</option>
                        <option ${ (v.attendance.att_status == ATT_ABSENT) ? 'selected' : '' } value="${ATT_ABSENT}">absent</option>
                        <option ${ (v.attendance.att_status == ATT_PRESENT) ? 'selected' : '' } value="${ATT_PRESENT}">present</option>
                        <option ${ (v.attendance.att_status == ATT_LATE) ? 'selected' : '' } value="${ATT_LATE}">en retard</option>`;
            ATT_NOTE_PH = 'Écrivez une note ici...';
        }
        html += `<div class="tr" data-role="ROW" data-employeeid="${v.employee_id}">
                    <div class="td">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-employeeid="${v.employee_id}" data-id="${v.attendance.id}">
                    </div>
                    <div class="td">${v.employee_name}</div>
                    <div class="td pointer mx-1">
                        <select name="" data-role="ATT_SELECT" class="input-text border-0">
                            ${ATT_SELECT}
                        </select>
                    </div>
                    <div class="td pointer">
                        <input type="text" class="input-text border-0" value="${v.attendance.att_note}" placeholder="${ATT_NOTE_PH}" data-role="ATT_NOTE">
                    </div>
                    <div class="td">${v.attendance.att_date} | ${v.attendance.att_time}</div>
                    <div class="td">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary btn-sm pointer rounded-0" data-role="UPDATE" data-employeeid="${v.employee_id}">
                                <span class="no-pointer"><i class="fas fa-edit"></i></span>
                            </button>
                        </div>
                    </div>
                </div>PAG_SEP`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement.find('.tbody'), options);
});
// search
searchInput.off('keyup');
searchInput.on('keyup', async e =>
{
    var SearchObject = {
        query: searchInput.val(),
        administration_id: USER_CONFIG.administration.clinicId
    };
    // display loader
    SectionLoader( tableElement.closest('.section') );
    var response = await EMPLOYEE_MODEL.searchLocal(SearchObject);
    // hide loader
    SectionLoader( tableElement.closest('.section'), '' );
    // clear html
    tableElement.find('.tbody').html('');
    if ( response.code == 404 )
        return;

    var data = response.data;
    var html = '';
    $.each(data, (k,v) =>
    {
        var type = '';
        var ATT_SELECT = '';
        var ATT_NOTE_PH = '';
        if ( FUI_DISPLAY_LANG.lang == 'ar' )
        {
            type = (v.type) ? v.type.employee_type_name_ar : '';
            ATT_SELECT = `<option ${ (v.attendance.att_status == ATT_NONE) ? 'selected' : '' } value="${ATT_NONE}">غير محدد</option>
                        <option ${ (v.attendance.att_status == ATT_ABSENT) ? 'selected' : '' } value="${ATT_ABSENT}">غائب</option>
                        <option ${ (v.attendance.att_status == ATT_PRESENT) ? 'selected' : '' } value="${ATT_PRESENT}">حاضر</option>
                        <option ${ (v.attendance.att_status == ATT_LATE) ? 'selected' : '' } value="${ATT_LATE}">متأخر</option>`;
            ATT_NOTE_PH = 'أكتب الملاحظة هنا...';
        }
        else if ( FUI_DISPLAY_LANG.lang == 'fr' )
        {
            type = (v.type) ? v.type.employee_type_name_fr : '';
            ATT_SELECT = `<option ${ (v.attendance.att_status == ATT_NONE) ? 'selected' : '' } value="${ATT_NONE}">Non spécifié</option>
                        <option ${ (v.attendance.att_status == ATT_ABSENT) ? 'selected' : '' } value="${ATT_ABSENT}">absent</option>
                        <option ${ (v.attendance.att_status == ATT_PRESENT) ? 'selected' : '' } value="${ATT_PRESENT}">present</option>
                        <option ${ (v.attendance.att_status == ATT_LATE) ? 'selected' : '' } value="${ATT_LATE}">en retard</option>`;
            ATT_NOTE_PH = 'Écrivez une note ici...';
        }
        html += `<div class="tr" data-role="ROW" data-employeeid="${v.employee_id}">
                    <div class="td">
                        <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-employeeid="${v.employee_id}" data-id="${v.attendance.id}">
                    </div>
                    <div class="td">${v.employee_name}</div>
                    <div class="td pointer mx-1">
                        <select name="" data-role="ATT_SELECT" class="input-text border-0">
                            ${ATT_SELECT}
                        </select>
                    </div>
                    <div class="td pointer">
                        <input type="text" class="input-text border-0" value="${v.attendance.att_note}" placeholder="${ATT_NOTE_PH}" data-role="ATT_NOTE">
                    </div>
                    <div class="td">${v.attendance.att_date} | ${v.attendance.att_time}</div>
                    <div class="td">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary btn-sm pointer rounded-0" data-role="UPDATE" data-employeeid="${v.employee_id}">
                                <span class="no-pointer"><i class="fas fa-edit"></i></span>
                            </button>
                        </div>
                    </div>
                </div>PAG_SEP`;
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement.find('.tbody'), options);
});
searchInput.off('focus');
searchInput.on('focus', displayAll);
// display all 
displayAll();
function displayAll()
{
    searchInput.trigger('keyup');
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement.find('[data-role="CHECK"]');
    for (var i = 0; i < items.length; i++) 
    {
        var check = $(items[i]);
        var parent = check.closest('[data-role="ROW"]');
        var att_status = parent.find('[data-role="ATT_SELECT"] :selected').val();
        var att_note = parent.find('[data-role="ATT_NOTE"]').val();
        if ( check.is(':checked') )
        {
            list.push({ 
                employee_id: check.data('employeeid'),
                att_status: att_status,
                att_note: att_note
            });
        }	
    }

    return list;
}

})

</script>



