<div class="container-fluid" id="allSuppliersContainer">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.all_suppliers.sectionTitle %></h1>
	</div>
	<div class="alert alert-info mt-3 mb-2" style="display:none;" id="ERROR_BOX">
		<img src="assets/img/utils/info.png" class="alert-icon" alt="">
		<div class="alert-text" id="text"></div>
	</div>
	<div class="mt-3 app-block WRAPPER" id="wrapper01">
		<div class="table-nav">
			
            <div class="row gx-4 gy-3 mb-2">

                <div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                        searchBtnId: 'search_btn',
                        searchInputId: 'search_input',
                    }) -%>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                        dateStartId: 'date_start_input',
                        dateEndId: 'date_end_input',
                    }) -%>
				</div>
                <div class="col-lg col-md col-sm-12">
                    <div class="fs-20 mb-2">
                        <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="suppliers_total">0</span>
                    </div>
                    <ul class="list-group list-group-flush" id="suppliers_extra_data_list">
                        <!-- <li class="list-group-item">An item</li> -->
                    </ul>
                </div>

            </div>

		</div>
		<div id="pagination1" class="my-3 flex flex-center"></div>
		<div class="row gx-4 gy-3" id="tableElement1">
			<!--
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card hover-shadow" data-role="APT" data-aptid="" style="cursor: pointer;">
					<div class="card-body no-pointer">
						<div class="h5">قسم الحجامة</div>
						<div class="text-02">(4) جلسات</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	<div class="mt-3 WRAPPER" id="wrapper02" style="display: none;">
		<button class="btn btn-light btn-sm mb-4" data-role="BACK_TO_MAIN_UI_BTN" style="width:120px;">
			<i class="fas fa-arrow-left"></i>
		</button>
		<div class="row gx-4 gy-3" id="tableElement2">

			<div class="col-lg-4 col-md-6 app-block">
                <div id="content" class=""></div>
            </div>

            <div class="col-lg-8 col-md-12">

                <div class="row gx-0 gy-5">

                    <div class="col-lg-12 col-md-12 app-block d-none" id="products_invoices">

                        <h4 class="h4 mb-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav28 %></h4>

                        <div class="py-4 px-3 mb-3 border rounded">
                            <div class="row gx-4 gy-3">
                                <div class="col-lg col-md-6 col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                                        searchBtnId: 'products_invoices_search_btn',
                                        searchInputId: 'products_invoices_search_input',
                                    }) -%>
                                </div>
                                <div class="col-lg col-md-6 col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                                        dateStartId: 'products_invoices_date_start_input',
                                        dateEndId: 'products_invoices_date_end_input',
                                    }) -%>
                                </div>
                            </div>
                        </div>
                        <div id="products_invoices_pagination" class="flex flex-center my-3"></div>
                        <div class="table-div bg-white border rounded">
                            <table class="table-01" id="products_invoices_tableElement">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th01 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th02 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th04 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.global.th32 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.global.th25 %></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr class="expand-row">
                                        <td>
                                            <input type="checkbox" class="form-check-input" data-role="CHECK" data-orderid="">
                                        </td>
                                        <td> HG38020496 </td>
                                        <td> 2022-06-17 </td>
                                        <td> - </td>
                                        <td> $11.99 </td>
                                        <td style="width:20px">
                                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                                        </td>
                                    </tr>
                                    <tr class="expand-row__row" style="display:none;">
                                        <td colspan="10">
                                            <table class="table-01">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Price</th>
                                                        <th>Dept (DA)</th>
                                                        <th>Dept (%)</th>
                                                        <th>Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>Renew Premium Web Hosting (crstra-saffromfood.com)</td>
                                                    <td>3</td>
                                                    <td>1880.00</td>
                                                    <td>880.00</td>
                                                    <td>32.12%</td>
                                                    <td>1880.00</td>
                                                </tbody>
                                            </table>
                                            <div class="order-price-table">
                                                <div class="order-price-table-contents">
                                                    <div>
                                                        <strong>product price</strong>
                                                        <span>11.25$</span>
                                                    </div>
                                                    <div>
                                                        <strong>dept (%)</strong>
                                                        <span>0.00%</span>
                                                    </div>
                                                    <div>
                                                        <strong>sell price</strong>
                                                        <span>11.25</span>
                                                    </div>
                                                    <div class="border-top my-1"></div>
                                                    <div>
                                                        <strong>total</strong>
                                                        <span>11.25</span>
                                                    </div>	
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 app-block d-none" id="consommables_invoices">

                        <h4 class="h4 mb-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav41 %></h4>

                        <div class="py-4 px-3 mb-3 border rounded">
                            <div class="row gx-4 gy-3">
                                <div class="col-lg col-md-6 col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                                        searchBtnId: 'consommables_invoices_search_btn',
                                        searchInputId: 'consommables_invoices_search_input',
                                    }) -%>
                                </div>
                                <div class="col-lg col-md-6 col-sm-12">
                                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                                        dateStartId: 'consommables_invoices_date_start_input',
                                        dateEndId: 'consommables_invoices_date_end_input',
                                    }) -%>
                                </div>
                            </div>
                        </div>
                        <div id="consommables_invoices_pagination" class="flex flex-center my-3"></div>
                        <div class="table-div bg-white border rounded">
                            <table class="table-01" id="consommables_invoices_tableElement">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th01 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th02 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.all_products_invoices.th04 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.global.th32 %></th>
                                        <th><%= UI_DISPLAY_LANG.views.pages.global.th25 %></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr class="expand-row">
                                        <td>
                                            <input type="checkbox" class="form-check-input" data-role="CHECK" data-orderid="">
                                        </td>
                                        <td> HG38020496 </td>
                                        <td> 2022-06-17 </td>
                                        <td> - </td>
                                        <td> $11.99 </td>
                                        <td style="width:20px">
                                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                                        </td>
                                    </tr>
                                    <tr class="expand-row__row" style="display:none;">
                                        <td colspan="10">
                                            <table class="table-01">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Price</th>
                                                        <th>Dept (DA)</th>
                                                        <th>Dept (%)</th>
                                                        <th>Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>Renew Premium Web Hosting (crstra-saffromfood.com)</td>
                                                    <td>3</td>
                                                    <td>1880.00</td>
                                                    <td>880.00</td>
                                                    <td>32.12%</td>
                                                    <td>1880.00</td>
                                                </tbody>
                                            </table>
                                            <div class="order-price-table">
                                                <div class="order-price-table-contents">
                                                    <div>
                                                        <strong>product price</strong>
                                                        <span>11.25$</span>
                                                    </div>
                                                    <div>
                                                        <strong>dept (%)</strong>
                                                        <span>0.00%</span>
                                                    </div>
                                                    <div>
                                                        <strong>sell price</strong>
                                                        <span>11.25</span>
                                                    </div>
                                                    <div class="border-top my-1"></div>
                                                    <div>
                                                        <strong>total</strong>
                                                        <span>11.25</span>
                                                    </div>	
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 app-block" id="dues_actions">

                <h4 class="h4 mb-3"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav55 %></h4>

                <div class="py-4 px-3 mb-3 border rounded">

                    <div class="row gx-4 gy-3">

                        <div class="col-lg col-md-6 col-sm-12">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/searchbox.template.ejs`, {
                                searchBtnId: 'dues_actions_search_btn',
                                searchInputId: 'dues_actions_search_input',
                            }) -%>
                        </div>
                        <div class="col-lg col-md-6 col-sm-12">
                            <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/start-end-date.template.ejs`, {
                                dateStartId: 'dues_actions_date_start_input',
                                dateEndId: 'dues_actions_date_end_input',
                            }) -%>
                        </div>
                        <div class="col-lg col-md col-sm-12">
                            <div class="fs-20 mb-2">
                                <span class="fw-700"><%= UI_DISPLAY_LANG.views.pages.global.text22 %>:</span> <span class="text-success" id="total_dues">0.00</span>
                            </div>
                            <ul class="list-group list-group-flush" id="dues_actions_extra_data_list">
                                <!-- <li class="list-group-item">An item</li> -->
                            </ul>
                        </div>

                    </div>

                </div>
                <div id="dues_actions_pagination" class="flex flex-center my-3"></div>
                <div class="table-div bg-white border rounded">
                    <div class="utable shadowed" id="dues_actions_tableElement">
                        <div class="thead">
                            <div class="td">#</div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th1 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th20 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th21 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th22 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th23 %></div>
                            <div class="td"><%= UI_DISPLAY_LANG.views.pages.global.th39 %></div>
                        </div>
                        <div class="tbody">
                       
                        </div>
                    </div>
                </div>

            </div>

		</div>
	</div>
</div>

<script>

$(function()
{

var page_container = $('#allSuppliersContainer');
if ( page_container[0] == undefined )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');

var deleteSelectedBTN = page_container.find('#deleteSelectedBTN');
var pagination = page_container.find('#pagination');
var tableElement1 = page_container.find('#tableElement1');

var search_input = page_container.find('#search_input');
var search_btn = page_container.find('#search_btn');
var date_start_input = page_container.find('#date_start_input');
var date_end_input = page_container.find('#date_end_input');

var suppliers_total = page_container.find('#suppliers_total');
var suppliers_extra_data_list = page_container.find('#suppliers_extra_data_list');

var tableElement2 = page_container.find('#tableElement2');

var BACK_TO_MAIN_UI_BTN = page_container.find('[data-role="BACK_TO_MAIN_UI_BTN"]');

var wrapper01 = page_container.find('#wrapper01');
var wrapper02 = page_container.find('#wrapper02');
var wrapper03 = page_container.find('#wrapper03');

// set primary dates
date_start_input.val( CURRENT_DATE );
date_end_input.val( CURRENT_DATE );
// back to main ui
BACK_TO_MAIN_UI_BTN.off('click');
BACK_TO_MAIN_UI_BTN.on('click', e =>
{
    wrapper01.slideDown(200).siblings('.WRAPPER').slideUp(200);
});
var SupplierObject = {};
// tableElement1 click
tableElement1.off('click');
tableElement1.on('click', async e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'UPDATE' )
    {
        var parent = target.closest('[data-role="row"]')
        var supplier_id = parent.data('id');
        goToPage('create-suppliers', {
            supplier_id: supplier_id
        })
    }
    else if ( target.data('role') == 'row' )
    {
        SupplierObject.supplier_id = target.data('id');
        displayInfo();
    }
});
// delete selected
deleteSelectedBTN.off('click');
deleteSelectedBTN.on('click', async e =>
{
    PromptConfirmDialog().then(async c =>
    {
        // display loader
        SectionLoader(tableElement1);
        var response = await SUPPLIER_MODEL.batchDelete({
            list: selectedRows()
        });
        // hide loader
        SectionLoader(tableElement1, '');
        if ( response.code == 404 )
        {
            ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
            return;
        }
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        //
        search_input.trigger('keyup')
    });
});
// search
search_btn.on('click', async e =>
{
    search_input.trigger('keyup')
});
detectTypingEnd(search_input, val =>
{
    displayAll({
        method_type: 'search',
        query: search_input.val(),
        advanced: {
            start: date_start_input.val(),
            end: date_end_input.val(),
            administration_id: 0,
        }
    })
})

// display all 
search_input.trigger('keyup')
async function displayAll(params)
{
    // total
    suppliers_total.text(0)

    suppliers_extra_data_list.html('')
    SectionLoader(tableElement1)
    tableElement1.html('')
    if ( params.method_type == 'search' )
        var res = await SUPPLIER_MODEL.search(params)

    SectionLoader(tableElement1, '')
    if ( res.code == 404 ) return

    var data = res.data;
    var html = '';
    var last_data = firstArrayElement(data)
    // total
    suppliers_total.text(data.length)
    $.each(data, (k,v) =>
    {
        html += `<div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card hover-shadow h-100" data-role="row" data-id="${v.supplier_id}" style="cursor: pointer;">
                        <div class="form-check border-bottom p-1">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault_${v.supplier_id}" data-role="CHECK">
                                <label class="form-check-label" for="flexCheckDefault_${v.supplier_id}">
                                    ${FUI_DISPLAY_LANG.views.pages.global.select}
                                </label>
                            </div>
                        <div class="card-body no-pointer">
                            <div class="h5">${v.supplier_name}</div>
                            <span class="text-02">${v.supplier_address}</span>
                            <div class="">${FUI_DISPLAY_LANG.views.pages.global.text23}: <span class="text-success">${moneyFormat(v.total_dues)}</span></div>
                        </div>
                        <div class="pb-2">
                            <a href="#" data-role="UPDATE" data-perm="update_supplier" class="mx-2 text-dark">
                                <i class="fas fa-edit no-pointer"></i>
                            </a>
                        </div>
                    </div>
                </div>PAG_SEP`;	
    });
    // add html
    var options = {
        data: html.split('PAG_SEP')
    };
    new SmoothPagination(pagination, tableElement1, options);
    // extra data
    suppliers_extra_data_list.html(`
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text36 }: </span>
            <span>${FUI_DISPLAY_LANG.views.pages.global.for_} </span>
            <span>${last_data.supplier_name}, </span>
            <span class="text-primary">${last_data.supplier_date} ${last_data.supplier_time}</span> 
        </li>
        <li class="list-group-item">
            <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text45 }: </span>
            <span>${ (last_data.supplier_address) ?? '' } </span>
        </li>
    `)
}
// display info
async function displayInfo()
{
    if ( !SupplierObject.supplier_id ) return
    // display loader
    SectionLoader(wrapper02);
    wrapper02.slideDown(200).siblings('.WRAPPER').slideUp(200);
    var response = await SUPPLIER_MODEL.show({
        supplier_id: SupplierObject.supplier_id,
    });
    // hide loader
    SectionLoader(wrapper02, '');
    // clear html
    tableElement2.find('#content').html('');
    if ( response.code == 404 )
        return;

    SupplierObject = response.data
    var data = response.data;
    var html = '';
    var supplier_image_url = (data.supplier_image_object) ? JSON.parse(data.supplier_image_object).url : 'assets/img/utils/placeholder.jpg';

    html = `<div class="">
                <div class="row gx-4 gy-3 mb-3">
                    <div class="row gx-4 gy-3">
                        <div class="col-md-6 col-sm-12">
                            <div class="d-inline-flex flex-align-center w-100 h-100">
                                <div>
                                    <div class="h5">${data.supplier_name}</div>
                                    <div class="text-02">${data.supplier_address}</div>
                                </div>	
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="d-inline-flex flex-align-center w-100 h-100">
                                <img src="${supplier_image_url}" class="img-03 img-thumbnail" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 border-bottom">
                    <div class="mb-2">
                        <div class="text-01 mb-3">${ FUI_DISPLAY_LANG.views.pages.global.text5 }</div>
                        <div class="text-04 mb-2">${data.supplier_phone1}</div>
                        <div class="text-04 mb-2">${data.supplier_phone2}</div>
                        <div class="text-04 mb-2">${data.supplier_phone3}</div>
                    </div>
                </div>
                <div class="mb-3 border-bottom">
                    <div class="mb-2">
                        <div class="text-01 mb-3">${ FUI_DISPLAY_LANG.views.pages.global.text6 }</div>
                        <div class="text-04 mb-2">${data.supplier_email1}</div>
                        <div class="text-04 mb-2">${data.supplier_email2}</div>
                        <div class="text-04 mb-2">${data.supplier_email3}</div>
                    </div>
                </div>
            </div>`;	
    // add html
    tableElement2.find('#content').html(html);

    // Products Invoices
    products_invoices = page_container.find('#products_invoices')
    products_invoices_search_btn = products_invoices.find('#products_invoices_search_btn')
    products_invoices_search_input = products_invoices.find('#products_invoices_search_input')
    products_invoices_date_start_input = products_invoices.find('#products_invoices_date_start_input')
    products_invoices_date_end_input = products_invoices.find('#products_invoices_date_end_input')

    products_invoices_pagination = products_invoices.find('#products_invoices_pagination')
    products_invoices_tableElement = products_invoices.find('#products_invoices_tableElement')

    products_invoices_date_start_input.val( CURRENT_DATE )
    products_invoices_date_end_input.val( CURRENT_DATE )

    products_invoices_tableElement.off('click')
    products_invoices_tableElement.on('click', async e =>
    {
        var target = $(e.target);
        if ( target[0].nodeName == 'TD' )
        {
            var parent = target.closest('tr');
            var nextTR = parent.next();
            nextTR.slideToggle(200)
            parent.toggleClass('expanded');
        }
    })
    // search between dates
    products_invoices_search_btn.off('click').on('click', async e =>
    {
        displayAllProductsInvoices({
            method_type: 'direction_supplier_to_central_administration_selling_local_search',
            supplier_id: SupplierObject.supplier_id,
            query: products_invoices_search_input.val(),
            advanced: {
                start: products_invoices_date_start_input.val(),
                end: products_invoices_date_start_input.val(),
            }
        })
    });
    // search
    products_invoices_search_input.off('keyup').on('keyup', async e =>
    {
        displayAllProductsInvoices({
            method_type: 'direction_supplier_to_central_administration_selling_local_search',
            supplier_id: SupplierObject.supplier_id,
            query: products_invoices_search_input.val()
        })
    });
    // display all
    displayAllProductsInvoices({
        method_type: 'direction_supplier_to_central_administration_selling_local_search',
        supplier_id: SupplierObject.supplier_id,
        query: products_invoices_search_input.val()
    })
    async function displayAllProductsInvoices(params)
    {
        products_invoices_tableElement.find('tbody').html('');
        SectionLoader(products_invoices_tableElement)
        if ( params.method_type == 'direction_supplier_to_central_administration_selling_local_search' )
            var res = await ORDER_MODEL.direction_supplier_to_central_administration_selling_local_search(params)

        SectionLoader(products_invoices_tableElement, '')
        if ( res.code == 404 )
        {
            // hide wrapper
            products_invoices.addClass('d-none')
            return
        }
        // show wrapper
        products_invoices.removeClass('d-none')
        var data = res.data;
        var html = '';
        for (var i = 0; i < data.length; i++) 
        {
            var order = data[i];
            // loop items
            if ( order.order_items )
            {
                var itemsHTML = '<ul class="list-group list-group-flush list-group-numbered">';
                var itemsHTML2 = '';
                var order_item_dept_rate = 0.00;
                var order_item_price = 0.00;
                for (var j = 0; j < order.order_items.length; j++) 
                {
                    var item = order.order_items[j];
                    order_item_dept_rate += parseFloat(item.item_dept.order_item_dept_rate);
                    order_item_price += parseFloat(item.order_item_price);
                    itemsHTML += `<li class="list-group-item text-04">${item.item_name}</li>`;
                    itemsHTML2 += `<tr>
                                    <td>${item.item_name}</td>
                                    <td>${item.order_item_quantity}</td>
                                    <td>${item.order_item_price}</td>
                                    <td>${item.order_item_final_amount}</td>
                                    </tr>`;
                }
                itemsHTML += '</ul>';
            }

            html += `<tr class="expand-row">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.supplier_name}</td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th26}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th27}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th28}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th29}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th30}</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th31}</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th32}</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }
        // add html
        new SmoothPagination(products_invoices_pagination, products_invoices_tableElement.find('tbody'), {
            data: html.split('PAG_SEP'),
            resultsPerPage: 6
        });
    }
    // Consommables Invoices
    consommables_invoices = page_container.find('#consommables_invoices')
    consommables_invoices_search_btn = consommables_invoices.find('#consommables_invoices_search_btn')
    consommables_invoices_search_input = consommables_invoices.find('#consommables_invoices_search_input')
    consommables_invoices_date_start_input = consommables_invoices.find('#consommables_invoices_date_start_input')
    consommables_invoices_date_end_input = consommables_invoices.find('#consommables_invoices_date_end_input')
    consommables_invoices_pagination = consommables_invoices.find('#consommables_invoices_pagination')
    consommables_invoices_tableElement = consommables_invoices.find('#consommables_invoices_tableElement')

    consommables_invoices_date_start_input.val( CURRENT_DATE )
    consommables_invoices_date_end_input.val( CURRENT_DATE )

    consommables_invoices_tableElement.off('click')
    consommables_invoices_tableElement.on('click', async e =>
    {
        var target = $(e.target);
        if ( target[0].nodeName == 'TD' )
        {
            var parent = target.closest('tr');
            var nextTR = parent.next();
            nextTR.slideToggle(200)
            parent.toggleClass('expanded');
        }
    })
    // search between dates
    consommables_invoices_search_btn.off('click').on('click', async e =>
    {
        displayAllConsommablesInvoices({
            method_type: 'direction_supplier_to_central_administration_consommables_selling_local_search',
            supplier_id: SupplierObject.supplier_id,
            query: consommables_invoices_search_input.val(),
            advanced: {
                start: consommables_invoices_date_start_input.val(),
                end: consommables_invoices_date_end_input.val(),
            }
        })
    });
    // search
    consommables_invoices_search_input.off('keyup').on('keyup', async e =>
    {
        displayAllConsommablesInvoices({
            method_type: 'direction_supplier_to_central_administration_consommables_selling_local_search',
            supplier_id: SupplierObject.supplier_id,
            query: consommables_invoices_search_input.val()
        })
    });
    
    // display all
    displayAllConsommablesInvoices({
        method_type: 'direction_supplier_to_central_administration_consommables_selling_local_search',
        supplier_id: SupplierObject.supplier_id,
        query: consommables_invoices_search_input.val()
    })
    async function displayAllConsommablesInvoices(params)
    {
        consommables_invoices_tableElement.find('tbody').html('');
        SectionLoader(consommables_invoices_tableElement)
        if ( params.method_type == 'direction_supplier_to_central_administration_consommables_selling_local_search' )
            var res = await ORDER_MODEL.direction_supplier_to_central_administration_consommables_selling_local_search(params)

        SectionLoader(consommables_invoices_tableElement, '')
        if ( res.code == 404 )
        {
            // hide wrapper
            consommables_invoices.addClass('d-none')
            return
        }
        // show wrapper
        consommables_invoices.removeClass('d-none')
        var data = res.data;
        var html = '';
        for (var i = 0; i < data.length; i++) 
        {
            var order = data[i];
            // loop items
            if ( order.order_items )
            {
                var itemsHTML = '<ul class="list-group list-group-flush list-group-numbered">';
                var itemsHTML2 = '';
                var order_item_dept_rate = 0.00;
                var order_item_price = 0.00;
                for (var j = 0; j < order.order_items.length; j++) 
                {
                    var item = order.order_items[j];
                    order_item_dept_rate += parseFloat(item.item_dept.order_item_dept_rate);
                    order_item_price += parseFloat(item.order_item_price);
                    itemsHTML += `<li class="list-group-item text-04">${item.item_name}</li>`;
                    itemsHTML2 += `<tr>
                                    <td>${item.item_name}</td>
                                    <td>${item.order_item_quantity}</td>
                                    <td>${item.order_item_price}</td>
                                    <td>${item.order_item_final_amount}</td>
                                    </tr>`;
                }
                itemsHTML += '</ul>';
            }

            html += `<tr class="expand-row">
                        <td>
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK" data-orderid="${order.order_id}">
                        </td>
                        <td>${order.order_hash}</td>
                        <td>${order.order_date}|${order.order_time}</td>
                        <td>${order.order_total_amount}</td>
                        <td>${order.order_amount_paid}</td>
                        <td>${order.supplier_name}</td>
                        <td style="width:15px">
                            <svg part="svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-labelledby="ic-caret-up" focusable="false" viewBox="0 0 24 24" class="expand-icon" dataV17f0a767=""><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z"></path></g></svg>
                        </td>
                    </tr>PAG_SEP
                    <tr class="expand-row__row" style="display:none;">
                        <td colspan="10">
                            <table class="table-01">
                                <thead>
                                    <tr>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th26}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th27}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th28}</th>
                                        <th>${FUI_DISPLAY_LANG.views.pages.global.th29}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${itemsHTML2}
                                </tbody>
                            </table>
                            <div class="order-price-table">
                                <div class="order-price-table-contents">
                                    ${itemsHTML}	
                                </div>
                                <div class="order-price-table-contents">
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th30}</strong>
                                        <span>${parseFloat(order.order_total_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th31}</strong>
                                        <span>${parseFloat(order.order_dept_amount).toFixed(2)}</span>
                                    </div>
                                    <div class="border-top my-1"></div>
                                    <div class="order-price-table-td">
                                        <strong>${FUI_DISPLAY_LANG.views.pages.global.th32}</strong>
                                        <span>${parseFloat(order.order_amount_paid).toFixed(2)}</span>
                                    </div>	
                                </div>
                            </div>
                        </td>
                    </tr>PAG_SEP`;	
        }
        // add html
        new SmoothPagination(consommables_invoices_pagination, consommables_invoices_tableElement.find('tbody'), {
            data: html.split('PAG_SEP'),
            resultsPerPage: 6
        });
    }
    // Dues Actions
    dues_actions = page_container.find('#dues_actions')
    dues_actions_search_btn = dues_actions.find('#dues_actions_search_btn')
    dues_actions_search_input = dues_actions.find('#dues_actions_search_input')
    dues_actions_date_start_input = dues_actions.find('#dues_actions_date_start_input')
    dues_actions_date_end_input = dues_actions.find('#dues_actions_date_end_input')
    dues_actions_pagination = dues_actions.find('#dues_actions_pagination')
    dues_actions_tableElement = dues_actions.find('#dues_actions_tableElement')

    total_dues = dues_actions.find('#total_dues')
    dues_actions_extra_data_list = dues_actions.find('#dues_actions_extra_data_list')

    dues_actions_date_start_input.val( CURRENT_DATE )
    dues_actions_date_end_input.val( CURRENT_DATE )
    // search between dates
    dues_actions_search_btn.off('click').on('click', async e =>
    {
        dues_actions_search_input.trigger('keyup')
    });
    // search
    detectTypingEnd(dues_actions_search_input, val =>
    {
        displayAllDuesActions({
            method_type: 'dues_action_search',
            query: dues_actions_search_input.val(),
            advanced: {
                start: dues_actions_date_start_input.val(),
                end: dues_actions_date_end_input.val(),
                administration_id: USER_CONFIG.administration.clinicId,
                supplier_id: SupplierObject.supplier_id,
            }
        })
    })
    // display all
    dues_actions_search_input.trigger('keyup')
    async function displayAllDuesActions(params)
    {
        // total_dues
        total_dues.text(moneyFormat(SupplierObject.total_dues)).data('total', SupplierObject.total_dues).attr('data-total', SupplierObject.total_dues)
        //
        dues_actions_extra_data_list.html('')
        dues_actions_tableElement.find('.tbody').html('');
        SectionLoader(dues_actions_tableElement)
        if ( params.method_type == 'dues_action_search' )
            var res = await SUPPLIER_MODEL.dues_action_search(params)

        SectionLoader(dues_actions_tableElement, '')
        if ( res.code == 404 )
        {
            // hide wrapper
            dues_actions.addClass('d-none')
            return
        }
        // show wrapper
        dues_actions.removeClass('d-none')
        var data = res.data;
        var html = '';
        var in_amount_total = 0
        var out_amount_total = 0
        var last_data = firstArrayElement(data)
        $.each(data, (k,v) =>
        {
            in_amount_total += parseFloat(v.in_amount)
            out_amount_total += parseFloat(v.out_amount)

            html+= `<div class="tr" data-role="row" data-id="${v.id}">
                        <div class="td">
                            <input type="checkbox" class="form-check-input pointer" data-role="CHECK">
                        </div>
                        <div class="td">${v.supplier_name}</div>
                        <div class="td">${v.reason}</div>
                        <div class="td">${v.note}</div>
                        <div class="td">
                            (<span class="text-success">${ (v.in_amount > 0) ? '+'+moneyFormat(v.in_amount) : '0.00' }</span>)
                        </div>
                        <div class="td">
                            (<span class="text-danger">${ (v.out_amount > 0) ? '-'+moneyFormat(v.out_amount) : '0.00' }</span>)
                        </div>
                        <div class="td">${v.created_at}</div>
                    </div>PAG_SEP`
        })
        // add html
        new SmoothPagination(dues_actions_pagination, dues_actions_tableElement.find('.tbody'), {
            data: html.split('PAG_SEP'),
            resultsPerPage: 6
        });
        // display extra data
        var last_amount = (last_data.in_amount > 0) ? `(<span class="text-success">+${moneyFormat(last_data.in_amount)}</span>)` : `(<span class="text-danger">-${moneyFormat(last_data.out_amount)}</span>)`
        dues_actions_extra_data_list.html(`
            <li class="list-group-item"><span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text24 }:</span> (<span class="text-success">${ (in_amount_total > 0) ? '+'+moneyFormat(in_amount_total) : '0.00' }</span>)</li>
            <li class="list-group-item"><span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text25 }:</span> (<span class="text-danger">${ (out_amount_total > 0) ? '-'+moneyFormat(out_amount_total) : '0.00' }</span>)</li>
            <li class="list-group-item">
                <span class="fw-500">${ FUI_DISPLAY_LANG.views.pages.global.text26 }: </span>
                ${ FUI_DISPLAY_LANG.views.pages.global.text28 } ${last_amount}, 
                ${ FUI_DISPLAY_LANG.views.pages.global.in_date } <span class="text-primary">${last_data.created_at}</span>
            </li>
        `)
    }
    
}
// selected rows
function selectedRows()
{
    var list = [];
    var items = tableElement1.find('[data-role="row"]');
    for (var i = 0; i < items.length; i++) 
    {
        var parent = $(items[i])
        var check = parent.find('[data-role="CHECK"]');
        SupplierObject = {
            supplier_id: parent.data('id')
        };
        if ( check.is(':checked') )
            list.push(SupplierObject);
    }

    return list;
}

})

</script>