<div class="container-fluid" id="centerEmployeesPermissionsContainer">
	<div class="wrapper d-none">
		
	</div>
    <div class="mt-3 app-block">
        <div class="mb-2">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.permissions.label6 %></label>
            <select name="" class="select-01" id="clinicSelect"></select>
        </div>
        <div class="">
            <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.permissions.label7 %></label>
            <select name="" class="select-01" id="employeeTypesSelect"></select>
        </div>
    </div>
    <div class="mt-3 app-block">

        <div class="row gx-4 gy-2">
            
            <div class="col-lg-6 col-md-6">

                <div class="accordion" id="permissions_accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item1 %>
                            </button>
                        </h2>
                        <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="patients">
                                            <label class="form-check-label" for="patients">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>
        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient">
                                            <label class="form-check-label" for="create_patient">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_patient">
                                            <label class="form-check-label" for="update_patient">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_patients">
                                            <label class="form-check-label" for="view_patients">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div> 

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_patients_has_appointments">
                                            <label class="form-check-label" for="view_patients_has_appointments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label25 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_patients_has_chronic_diseases">
                                            <label class="form-check-label" for="view_patients_has_chronic_diseases">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label26 %>
                                            </label>
                                        </div> 

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_chronic_diseases_info">
                                            <label class="form-check-label" for="create_patient_chronic_diseases_info">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label27 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_weights_info">
                                            <label class="form-check-label" for="create_patient_weights_info">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label28 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_medical_tests_info">
                                            <label class="form-check-label" for="create_patient_medical_tests_info">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label29 %>
                                            </label>
                                        </div> 

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_images">
                                            <label class="form-check-label" for="create_patient_images">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label30 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_patient_dept">
                                            <label class="form-check-label" for="update_patient_dept">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label31 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="print_patient_card">
                                            <label class="form-check-label" for="print_patient_card">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label50 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_private_appointment">
                                            <label class="form-check-label" for="create_patient_private_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label32 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_patient_prescription">
                                            <label class="form-check-label" for="create_patient_prescription">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label34 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_patient_prescriptions_history">
                                            <label class="form-check-label" for="view_patient_prescriptions_history">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label33 %>
                                            </label>
                                        </div> 

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item2 %>
                            </button>
                        </h2>
                        <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="appointments">
                                            <label class="form-check-label" for="appointments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>
        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_private_appointment">
                                            <label class="form-check-label" for="create_private_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_private_appointment">
                                            <label class="form-check-label" for="update_private_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_private_appointments">
                                            <label class="form-check-label" for="view_private_appointments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div> 

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item3 %>
                            </button>
                        </h2>
                        <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">
        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_followup_appointment">
                                            <label class="form-check-label" for="create_followup_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_followup_appointment">
                                            <label class="form-check-label" for="update_followup_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_followup_appointments">
                                            <label class="form-check-label" for="view_followup_appointments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div> 

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item4 %>
                            </button>
                        </h2>
                        <div id="collapse_4" class="accordion-collapse collapse" aria-labelledby="heading_4" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="prescriptions">
                                            <label class="form-check-label" for="prescriptions">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>
        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_prescription">
                                            <label class="form-check-label" for="create_prescription">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_prescription">
                                            <label class="form-check-label" for="update_prescription">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_prescriptions">
                                            <label class="form-check-label" for="view_prescriptions">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div> 

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="add_prescription_items_to_cart">
                                            <label class="form-check-label" for="add_prescription_items_to_cart">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label35 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_prescription_private_appointment">
                                            <label class="form-check-label" for="create_prescription_private_appointment">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label32 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_prescriptions_not_in_orders">
                                            <label class="form-check-label" for="view_prescriptions_not_in_orders">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label36 %>
                                            </label>
                                        </div> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_prescriptions_in_orders">
                                            <label class="form-check-label" for="view_prescriptions_in_orders">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label37 %>
                                            </label>
                                        </div> 

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="print_prescription">
                                            <label class="form-check-label" for="print_prescription">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label41 %>
                                            </label>
                                        </div> 
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="print_medical_analysis">
                                            <label class="form-check-label" for="print_medical_analysis">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label42 %>
                                            </label>
                                        </div> 

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item5 %>
                            </button>
                        </h2>
                        <div id="collapse_5" class="accordion-collapse collapse" aria-labelledby="heading_5" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2 mb-5">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="statistics">
                                            <label class="form-check-label" for="statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="general_statistics">
                                            <label class="form-check-label" for="general_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label43 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="products_statistics">
                                            <label class="form-check-label" for="products_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label44 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="patients_statistics">
                                            <label class="form-check-label" for="patients_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.label12 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="consommables_statistics">
                                            <label class="form-check-label" for="consommables_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label45 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row gx-2 gy-2">

                                    <h4 class="h4 mb-4"><%= UI_DISPLAY_LANG.views.pages.permissions.text3 %></h4>

                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="today_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="today_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.time.today %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="yesterday_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="yesterday_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.time.yesterday %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="current_week_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="current_week_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.time.current_week %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="current_month_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="current_month_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.time.current_month %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="current_year_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="current_year_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.global.time.current_year %>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="current_year_store_bought_items_chart_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="current_year_store_bought_items_chart_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label46 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="current_year_revenue_chart_revenue_and_accumulations_statistics">
                                            <label class="form-check-label" for="current_year_revenue_chart_revenue_and_accumulations_statistics">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label47 %>
                                            </label>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item6 %>
                            </button>
                        </h2>
                        <div id="collapse_6" class="accordion-collapse collapse" aria-labelledby="heading_6" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="messages">
                                            <label class="form-check-label" for="messages">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="send_messages">
                                            <label class="form-check-label" for="send_messages">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label57 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="send_hidden_messages">
                                            <label class="form-check-label" for="send_hidden_messages">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label58 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="messages_inbox">
                                            <label class="form-check-label" for="messages_inbox">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label59 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="messages_sent">
                                            <label class="form-check-label" for="messages_sent">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label60 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="messages_private_inbox">
                                            <label class="form-check-label" for="messages_private_inbox">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label61 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="messages_private_sent">
                                            <label class="form-check-label" for="messages_private_sent">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label62 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item7 %>
                            </button>
                        </h2>
                        <div id="collapse_7" class="accordion-collapse collapse" aria-labelledby="heading_7" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="store">
                                            <label class="form-check-label" for="store">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="sell_store_items">
                                            <label class="form-check-label" for="sell_store_items">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label40 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_store_invoices">
                                            <label class="form-check-label" for="view_store_invoices">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label38 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_store_invoices_waiting_approval">
                                            <label class="form-check-label" for="view_store_invoices_waiting_approval">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label39 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_8" aria-expanded="false" aria-controls="collapse_8">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item8 %>
                            </button>
                        </h2>
                        <div id="collapse_8" class="accordion-collapse collapse" aria-labelledby="heading_8" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="treasury">
                                            <label class="form-check-label" for="treasury">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="change_treasury">
                                            <label class="form-check-label" for="change_treasury">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label12 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="send_to_central_administration_treasury">
                                            <label class="form-check-label" for="send_to_central_administration_treasury">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label9 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_treasury_expenses">
                                            <label class="form-check-label" for="view_treasury_expenses">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label10 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-12">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_treasury_sent_expenses">
                                            <label class="form-check-label" for="view_treasury_sent_expenses">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label11 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_9" aria-expanded="false" aria-controls="collapse_9">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item9 %>
                            </button>
                        </h2>
                        <div id="collapse_9" class="accordion-collapse collapse" aria-labelledby="heading_9" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="departments">
                                            <label class="form-check-label" for="departments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_department">
                                            <label class="form-check-label" for="create_department">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_department">
                                            <label class="form-check-label" for="update_department">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_departments">
                                            <label class="form-check-label" for="view_departments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="select_center_departments">
                                            <label class="form-check-label" for="select_center_departments">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label13 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_10" aria-expanded="false" aria-controls="collapse_10">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item10 %>
                            </button>
                        </h2>
                        <div id="collapse_10" class="accordion-collapse collapse" aria-labelledby="heading_10" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">

                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="inventory">
                                            <label class="form-check-label" for="inventory">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_center_inventory">
                                            <label class="form-check-label" for="view_center_inventory">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div>

                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_11" aria-expanded="false" aria-controls="collapse_11">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item11 %>
                            </button>
                        </h2>
                        <div id="collapse_11" class="accordion-collapse collapse" aria-labelledby="heading_11" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="employees">
                                            <label class="form-check-label" for="employees">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="employees_attendance_for_centers">
                                            <label class="form-check-label" for="employees_attendance_for_centers">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label15 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_employees_cashouts_for_centers">
                                            <label class="form-check-label" for="create_employees_cashouts_for_centers">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label16 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_employees_cashouts_for_centers">
                                            <label class="form-check-label" for="view_employees_cashouts_for_centers">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label19 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_employees_for_centers">
                                            <label class="form-check-label" for="create_employees_for_centers">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_center_employee">
                                            <label class="form-check-label" for="update_center_employee">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_center_employees">
                                            <label class="form-check-label" for="view_center_employees">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_12" aria-expanded="false" aria-controls="collapse_12">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item17 %>
                            </button>
                        </h2>
                        <div id="collapse_12" class="accordion-collapse collapse" aria-labelledby="heading_12" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="daily_reports">
                                            <label class="form-check-label" for="daily_reports">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="create_daily_report">
                                            <label class="form-check-label" for="create_daily_report">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label2 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="update_daily_report">
                                            <label class="form-check-label" for="update_daily_report">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label3 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_daily_reports">
                                            <label class="form-check-label" for="view_daily_reports">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label5 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="view_staff_daily_reports">
                                            <label class="form-check-label" for="view_staff_daily_reports">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label24 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_13">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_13" aria-expanded="false" aria-controls="collapse_13">
                                <%= UI_DISPLAY_LANG.views.pages.permissions.accordion_item18 %>
                            </button>
                        </h2>
                        <div id="collapse_13" class="accordion-collapse collapse" aria-labelledby="heading_13" data-bs-parent="#permissions_accordion1">
                            <div class="accordion-body">

                                <div class="row gx-2 gy-2">
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="certificates">
                                            <label class="form-check-label" for="certificates">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label1 %>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="print_landscape_personal_certificate">
                                            <label class="form-check-label" for="print_landscape_personal_certificate">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label48 %>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" data-role="permission" value="" id="print_portrait_personal_certificate">
                                            <label class="form-check-label" for="print_portrait_personal_certificate">
                                                <%= UI_DISPLAY_LANG.views.pages.permissions.label49 %>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                
            </div>

        </div>

        <div class="mt-3">
            <button id="submit_btn" class="btn btn-primary btn-sm">
                <%= UI_DISPLAY_LANG.views.pages.permissions.submit_btn %>
            </button>
        </div>

    </div>

</div>