<div class="navbar-container" id="sideNavbarContainer">
	<div class="px-4 py-3 employee-info d-inline-flex flex-center w-100">
		<div class="text-center">
			<div class="text-01" id="EMPLOYEE_NAME" style="color: #c8bddd;"></div>
			<div class="text-02" id="EMPLOYEE_TYPE" style="color: #8883a3;font-size: 13px;"></div>
            <div class="text-01" id="CENTER_NAME" style="color: #8883a3;"></div>
		</div>
	</div>
	<div class="wrapper">
		<ul class="nb-navmenu" id="nbNavMenu">
			<li class="list-dropdown-toggle" data-perm="statistics">
				<a href="#" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/growth.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav27 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/statistics.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav36 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/products-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav50 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/revenue-and-accumulation.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav53 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/patients-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav82 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/consommables-stats.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav95 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="treasury">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/money-safe.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav28 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="add_to_treasury">
                        <a href="views/pages/add-to-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav29 %></span>
                        </a>
                    </li>
                    <li data-perm="send_to_central_administration_treasury">
                        <a href="views/pages/send-to-central-administration-treasury.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav96 %></span>
                        </a>
                    </li>
                    <li data-perm="view_treasury_expenses">
                        <a href="views/pages/treasury-cashouts.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav30 %></span>
                        </a>
                    </li>
                    <li data-perm="view_treasury_sent_expenses">
                        <a href="views/pages/treasury-sent-expenses.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav97 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="patients">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/patients.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav01 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_patient">
                        <a href="views/pages/add-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav08 %></span>
                        </a>
                    </li>
                    <li data-perm="view_patients">
                        <a href="views/pages/all-patients.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav07 %></span>
                        </a>
                    </li>
                    <li data-perm="view_patients">
                        <a href="views/pages/all-patients-has-apt.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav87 %></span>
                        </a>
                    </li>
                    <li data-perm="view_patients">
                        <a href="views/pages/all-patients-has-chronic-disease.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav88 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="prescriptions">
				<a href="" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/prescription.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav02 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_prescription">
                        <a href="../views/pages/centers/prescriptions/create.ejs" data-name="create-prescriptions" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav06 %></span>
                        </a>
                    </li>
                    <li data-perm="view_prescriptions_not_in_orders">
                        <a href="../views/pages/centers/prescriptions/not-in-orders/index.ejs" data-name="view-prescriptions-not-in-orders" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav90 %></span>
                        </a>
                    </li>
                    <li data-perm="view_prescriptions_in_orders">
                        <a href="../views/pages/centers/prescriptions/in-orders/index.ejs" data-name="view-prescriptions-in-orders" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav89 %></span>
                        </a>
                    </li>
                    <li data-perm="view_prescriptions">
                        <a href="../views/pages/centers/prescriptions/index.ejs" data-name="all-prescriptions" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav09 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="departments">
				<a href="#" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/class.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav15 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="select_center_departments">
                        <a href="views/pages/select-center-treatment-classes.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav48 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="appointments">
				<a href="#" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/timetable.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav18 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_private_appointment">
                        <a href="../views/pages/centers/appointments/private/create.ejs" data-name="create-private-appointments" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav19 %></span>
                        </a>
                    </li>
                    <li data-perm="create_followup_appointment">
                        <a href="../views/pages/centers/appointments/followup/create.ejs" data-name="create-followup-appointments" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav40 %></span>
                        </a>
                    </li>
                    <li data-perm="view_private_appointments">
                        <a href="../views/pages/centers/appointments/private/index.ejs" data-name="all-private-appointments" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav20 %></span>
                        </a>
                    </li>
                    <li data-perm="view_unapproved_private_appointments">
                        <a href="../views/pages/centers/appointments/private/waiting-approval/index.ejs" data-name="all-private-waiting-approval-appointments" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav57 %></span>
                        </a>
                    </li>
                    <li data-perm="view_unapproved_online_appointments">
                        <a href="../views/pages/centers/appointments/online/waiting-approval/index.ejs" data-name="all-online-waiting-approval-appointments" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav74 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="messages">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="../assets/img/navbar/messages.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav11 %></span>
					<span class="position-absolute translate-middle badge rounded-pill bg-danger" id="MESSAGES_BADGE">
					    0
					    <span class="visually-hidden">unread messages</span>
					</span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li>
                        <a href="views/pages/send-message.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav12 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/send-private-message.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav114 %></span>
                        </a>
                    </li>
                    <li>
                        <a href="views/pages/inbox.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav78 %></span>
                        </a>
                        <a href="views/pages/sent.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav79 %></span>
                        </a>
                        <a href="views/pages/inbox-private.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav80 %></span>
                        </a>
                        <a href="views/pages/sent-private.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav81 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="products">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/medicines.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav21 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="view_center_products">
                        <a href="views/pages/all-centers-products.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav23 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="store">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="../assets/img/navbar/pharmacie.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav24 %></span>
					<span class="position-absolute translate-middle badge rounded-pill bg-danger" id="ORDERS_BADGE">
					    0
					    <span class="visually-hidden">unread messages</span>
					</span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="sell_store_items">
                        <a href="../views/pages/centers/store/sell.ejs" data-name="sell-items-from-store" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav25 %></span>
                        </a>
                    </li>
                    <li data-perm="view_store_invoices">
                        <a href="../views/pages/centers/store/invoices/index.ejs" data-name="all-store-invoices" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav26 %></span>
                        </a>
                    </li>
                    <li data-perm="view_store_invoices_waiting_approval">
                        <a href="../views/pages/centers/store/invoices/waiting-approval/index.ejs" data-name="all-store-invoices-waiting-approval" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav35 %></span>
                        </a>
                    </li>
                </ul>
			</li>
			<li class="list-dropdown-toggle" data-perm="employees">
				<a href="" data-role="NAV_LINK">
					<span class="icon">
						<img src="../assets/img/navbar/employees.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav31 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="employees_attendance">
                        <a href="views/pages/employees-attendance.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav34 %></span>
                        </a>
                    </li>
                    <li data-perm="employees_accounting">
                        <a href="views/pages/employees-accounting.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav41 %></span>
                        </a>
                    </li>
                    <li data-perm="view_employees_cashouts">
                        <a href="views/pages/all-employees-cashout-records.ejs" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav47 %></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="list-dropdown-toggle" data-perm="daily_reports">
				<a href="" data-role="NAV_LINK" class="position-relative">
					<span class="icon">
						<img src="../assets/img/navbar/report.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav118 %></span>
				</a>
				<ul class="dropdown-list nb-navmenu shadow-01">
                    <li data-perm="create_daily_report">
                        <a href="../views/pages/centers/daily-reports/create.ejs" data-name="create-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav2 %></span>
                        </a>
                    </li>
                    <li data-perm="update_daily_report">
                        <a href="../views/pages/centers/daily-reports/index.ejs" data-name="all-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav1 %></span>
                        </a>
                    </li>
                    <li data-perm="view_staff_daily_reports">
                        <a href="../views/pages/centers/daily-reports/staff/index.ejs" data-name="all-staff-daily-reports" data-role="NAV_LINK">
                            <span class="text no-pointer"><%= UI_DISPLAY_LANG.views.pages.global.navs.nav3 %></span>
                        </a>
                    </li>
                </ul>
			</li>
		</ul>
		<div class="copyright d-none">
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text01 %></p>
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text02 %></p>
			<div class="mt-1">
				<a href="mailto:contact@holoola-z.com" style="color:#A09DB1;">contact@holoola-z.com</a>
			</div>
		</div>
	</div>
</div>