<div class="container-fluid" id="create_distributor_to_client_products_container">
	<div class="wrapper d-none">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.add_products.sectionTitle %></h1>
	</div>
	<div class="mt-3 app-block">
		<div class="alert alert-info my-2" style="display:none;" id="ERROR_BOX">
			<img src="assets/img/utils/info.png" class="alert-icon" alt="">
			<div class="alert-text" id="text"></div>
		</div>
		<div id="wrapper01">
			<form action="#" id="addForm">
				<div class="mb-2">
					<%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-distributor-clients.template.ejs`, {
                        eventsReceiverId: 'create_distributor_to_client_products_container'
                    }) -%>
				</div>

                <div class="mb-2 max-width-340px">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label38 %></label>
                    <!-- <input type="text" class="input-text" id="codeInput" value=""> -->
                    <%- include(`${SETTINGS.UI_Settings.MAIN_DIR_NAME}/views/templates/select-suggestions-box.template.ejs`, {
                        componentId: '1',
                        eventsReceiverId: 'create_distributor_to_client_products_container',
                        searchInputId: 'codeInput',
                        suggestions: {
                            api: {
                                model: "PRODUCT_MODEL",
                                method: "distributor_local_search",
                            },
                            selections: {
                                name: 'productName',
                                value: 'productCode',
                            }
                        }
                    }) -%>
                </div>

                <input type="hidden" id="idInput">
				
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label01 %></label>
                    <input type="text" class="input-text" id="nameInput" readonly value="">
                </div>

				<div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label02 %></label>
					<textarea name="" id="descInput" class="input-text" readonly rows="4"></textarea>
                </div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label41 %></label>
                    <select name="" id="price_type_select" class="input-text mb-2">
                        <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[0].value %>" data-perm="create_central_administration_to_distributor_selling_invoices_sell_price_regular">
                            <%= UI_DISPLAY_LANG.views.pages.global.price_types[0].name %>
                        </option>
                        <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[1].value %>" data-perm="create_central_administration_to_distributor_selling_invoices_sell_price_wholesale">
                            <%= UI_DISPLAY_LANG.views.pages.global.price_types[1].name %>
                        </option>
                        <option value="<%= UI_DISPLAY_LANG.views.pages.global.price_types[2].value %>" data-perm="create_central_administration_to_distributor_selling_invoices_sell_price_half_wholesale">
                            <%= UI_DISPLAY_LANG.views.pages.global.price_types[2].name %>
                        </option>
                    </select>

                    <input type="number" step="any" class="input-text" id="sellPriceInput" value="0">
                    
                </div>

                <input type="hidden" id="priceInput">
                <input type="hidden" id="wholesalePriceInput">
                <input type="hidden" id="halfWholesalePriceInput">
                <input type="hidden" id="barcodeInput">
                
                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label04 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="quantityInput" value="1">
                </div>

				<div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.add_products.form01.label06 %></label>
                    <input type="text" step="any" min="1" class="input-text" readonly id="barcodeInput" value="">
                </div>

				<div class="my-3">
                    <div class="mb-2">
                        <button type="button" class="btn btn-success" id="addToListBTN">
                            <%= UI_DISPLAY_LANG.views.pages.add_products.btn01 %>
                        </button>
                    </div>
                    <div class="mb-2">
                        <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label43 %></label>
                        <input type="number" step="any" min="1" class="input-text" readonly id="totalAmountInput" value="0">
                    </div>
                    <div class="" style="max-height: 500px;overflow-y: auto;overflow-x: hidden;">
                        <table class="table table-stripped table-hover" id="productsTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th24 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th01 %></th>
									<th><%= UI_DISPLAY_LANG.views.pages.add_products.th05 %></th>
									<th><%= UI_DISPLAY_LANG.views.pages.add_products.th04 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.add_products.th02 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th34 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th37 %></th>
                                    <th><%= UI_DISPLAY_LANG.views.pages.global.th30 %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <button class="btn-close"></button>
                                    </td>
                                    <td>name</td>
									<td>desc</td>
									<td>codebar</td>
                                    <td>quantity</td>
                                    <td>price</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
				</div>

                <div class="mb-2">
                    <label for="" class="form-label"><%= UI_DISPLAY_LANG.views.pages.global.label42 %></label>
                    <input type="number" step="any" min="0" class="input-text" id="paidAmountInput" value="0">
                </div>

                <!-- Central Administration -->
                <input type="hidden" id="central_administration_inventory_quantity_input">

				<div class="mt-2">
					<input type="submit" class="btn btn-primary btn-sm shadow" value="<%= UI_DISPLAY_LANG.views.pages.add_products.form01.submitBTN01 %>">
				</div>
			</form>	
		</div>
	</div>
</div>

<script>

$(async function()
{

var page_container = $('#create_distributor_to_client_products_container');
if ( !page_container[0] )
    return;

var ERROR_BOX = page_container.find('#ERROR_BOX');
var addForm = page_container.find('#addForm');
var select_distributor_clients_template_client_select = addForm.find('#select_distributor_clients_template_client_select');
var idInput = addForm.find('#idInput');
var codeInput = addForm.find('#codeInput');
var nameInput = addForm.find('#nameInput');
var descInput = addForm.find('#descInput');
var quantityInput = addForm.find('#quantityInput');
var price_type_select = addForm.find('#price_type_select');
var priceInput = addForm.find('#priceInput');
var wholesalePriceInput = addForm.find('#wholesalePriceInput');
var halfWholesalePriceInput = addForm.find('#halfWholesalePriceInput');
var sellPriceInput = addForm.find('#sellPriceInput');
var barcodeInput = addForm.find('#barcodeInput');
var paidAmountInput = addForm.find('#paidAmountInput');
var totalAmountInput = addForm.find('#totalAmountInput');
var productsTable = addForm.find('#productsTable');
var addToListBTN = addForm.find('#addToListBTN');

var central_administration_inventory_quantity_input = addForm.find('#central_administration_inventory_quantity_input')

// addForm
addForm.off('submit');
addForm.on('submit', async e =>
{
    e.preventDefault();

    SectionLoader(addForm);

    var order_amount_paid = parseFloat(paidAmountInput.val())
    var order_total_amount = totalAmountCalc()
    var order_dept_amount = 0

    if ( order_amount_paid > 0 )
    {
        order_dept_amount = totalAmountCalc() - order_amount_paid
    }

    var response = await FORMAL_ORDER_MODEL.direction_distributor_to_client_selling_store({
        items: getList(),
        user_id: select_distributor_clients_template_client_select.find(':selected').val(),
        supplier_id: USER_CONFIG.employee_id,
        supplier_name: USER_CONFIG.employee_name,
        order_receiver_name: select_distributor_clients_template_client_select.find(':selected').text(),
        order_amount_paid: order_amount_paid,
        order_total_amount: order_total_amount,
        order_dept_amount: order_dept_amount,
    });
    SectionLoader(addForm, '');
    if ( response.code == 404 )
    {
        ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
        return;
    }
    ERROR_BOX.show(0).delay(7*1000).hide(0).find('#text').text(response.message);
    clearList();
    addForm[0].reset();
});
// productsTable
productsTable.off('click');
productsTable.on('click', e =>
{
    var target = $(e.target);
    if ( target.data('role') == 'REMOVE_FROM_LIST' )
    {
        target.closest('[data-role="ROW"]').remove();
        // calculate total amount
        totalAmountCalc()
    }
});
// addToListBTN
addToListBTN.off('click');
addToListBTN.on('click', e =>
{
    addToList();
});
// suggestion selected
$(document).off('suggestion-selected').on('suggestion-selected', e =>
{
    var detail = e.originalEvent.detail
    var suggestion = detail.suggestion
    
    idInput.val(suggestion.data.productId)
    nameInput.val( suggestion.name )
    descInput.val( suggestion.data.productDesc )
    priceInput.val( suggestion.data.productPrice )
    wholesalePriceInput.val( suggestion.data.productWholesalePrice )
    halfWholesalePriceInput.val( suggestion.data.productHalfWholesalePrice )
    quantityInput.val( suggestion.data.productQuantity )
    barcodeInput.val( suggestion.data.productBarcode )

    // check price type
    price_type_select.trigger('change')

    central_administration_inventory_quantity_input.val(suggestion.data.productQuantity)
})
// price_type_select
price_type_select.on('change', e =>
{
    // check price type
    if ( price_type_select.find(':selected').val() == 'regular_price' )
        sellPriceInput.val( priceInput.val() )
    else if ( price_type_select.find(':selected').val() == 'wholesale_price' )
        sellPriceInput.val( wholesalePriceInput.val() )
    else if ( price_type_select.find(':selected').val() == 'half_wholesale_price' )
        sellPriceInput.val( halfWholesalePriceInput.val() )
})
// add to list
function addToList()
{
    var central_administration_inventory_quantity = parseInt(central_administration_inventory_quantity_input.val())
    var quantity = parseInt(quantityInput.val())

    // check price type
    // price_type_select.trigger('change')

    // check quantity in central administrati
    if ( central_administration_inventory_quantity == 0 
        || quantity > central_administration_inventory_quantity )
    {
        ERROR_BOX.show(0).find('#text').text(FUI_DISPLAY_LANG.views.messages.invalid_central_administration_quantity)
        CreateToast('PS', FUI_DISPLAY_LANG.views.messages.invalid_central_administration_quantity, '')
        return
    }

    var html = `<tr data-role="ROW" data-id="${idInput.val()}" data-code="${codeInput.val()}" data-name="${nameInput.val()}" data-desc="${descInput.val()}" data-quantity="${quantityInput.val()}" data-sellprice="${sellPriceInput.val()}" data-price="${priceInput.val()}" data-whole-sale-price="${wholesalePriceInput.val()}" data-half-whole-sale-price="${halfWholesalePriceInput.val()}" data-barcode="${barcodeInput.val()}">
                    <td>
                        <button class="btn-close" data-role="REMOVE_FROM_LIST"></button>
                    </td>
                    <td>${codeInput.val()}</td>
                    <td>${nameInput.val()}</td>
                    <td>${descInput.val()}</td>
                    <td>${barcodeInput.val()}</td>
                    <td>${quantityInput.val()}</td>
                    <td><span class="text-success">${parseFloat(sellPriceInput.val()).toFixed(2)}</span></td>
                    <td>
                        <div class="mb-2">${FUI_DISPLAY_LANG.views.pages.global.th34}: <span class="text-success">${ parseFloat(priceInput.val()).toFixed(2) }</span></div>
                        <div class="mb-2">${FUI_DISPLAY_LANG.views.pages.global.th35}: <span class="text-success">${parseFloat(wholesalePriceInput.val()).toFixed(2)}</span></div>
                        <div>${FUI_DISPLAY_LANG.views.pages.global.th36}: <span class="text-success">${parseFloat(halfWholesalePriceInput.val()).toFixed(2)}</span></div>
                    </td>
                    <td class="has-direction-ltr">
                        <div class="mb-2">${quantityInput.val()} x ${sellPriceInput.val()}</div>
                        <div>= ${ quantityInput.val() * sellPriceInput.val() }</div>
                    </td>
                </tr>PAG_SEP`;
                
    productsTable.find('tbody').append(html)
    // calculate total amount
    totalAmountCalc()
    codeInput.val('')
    nameInput.val('')
}
// clear list
function clearList()
{
    productsTable.find('tbody').html('');
    // calculate total amount
    totalAmountCalc()
}
// get list
function getList()
{
    var list = [];
    var rows = productsTable.find('[data-role="ROW"]');
    for (let i = 0; i < rows.length; i++) 
    {
        const product = $(rows[i]);
        list.push({
            order_item_id: product.data('id'),
            order_item_quantity: parseInt(product.data('quantity')),
            order_item_price: parseFloat(product.data('sellprice')),
            order_item_final_amount: parseFloat(product.data('sellprice')) * parseFloat(product.data('quantity'))
        });
    }

    return list;
}
// calculate total amount
function totalAmountCalc()
{
    var items = getList()
    var total = 0

    for (let i = 0; i < items.length; i++) 
    {
        const item = items[i];
        total += item.order_item_final_amount
    }

    // display total amount
    totalAmountInput.val(total)

    return total
}

})

</script>